[2016-11-03 13:06] luisaceituno opened #1 "virtual-scroll.js:73 Uncaught ReferenceError: __decorate is not defined"
Hello. I'm using this with an Angular 2 final project created by the Angular-CLI, and I get the aforementioned error when starting my app. Any ideas?

[2016-11-03 13:41] rintoj commented on #1
Hello, The bug is fixed and available with v0.0.3. Thanks for pointing out. The 'noEmitHelpers' in tsconfig was the culprit, cure found from [stackoverflow](http://stackoverflow.com/questions/36808303/webpackangular2-error-uncaught-referenceerror-decorate-is-not-defined)

[2016-11-03 14:00] #1 closed

[2016-11-24 04:29] shaitya opened #3 "Error in list item"
Can't bind to 'item' since it isn't a known property of 'list-item'.
1. If 'list-item' is an Angular component and it has 'item' input, then verify that it is part of this module.

[2016-11-24 04:55] rintoj commented on #3
'list-item' must a custom build angular2 component, outside of this library. A sample list item is give below or check the [demo app](https://github.com/rintoj/angular2-virtual-scroll/tree/master/demo) for [list-item.component.ts](https://github.com/rintoj/angular2-virtual-scroll/blob/master/demo/src/app/lists/list-item.component.ts)

[code]

[2016-11-24 05:06] shaitya commented on #3
What if we want to achieve this using div tag???

[2016-11-24 06:15] shaitya commented on #3
Got it . Please include what the list-item in the documentation so that there is no confusion. Thanks

[2016-11-24 06:15] #3 closed

[2016-11-24 08:33] rintoj commented on #3
I have added to this to documentation. Thanks for bringing this to my notice.

Yes, you could also use a div tag if you like to do so.

[code]

[code]

[2016-11-25 05:49] shaitya commented on #3
If we give  <div *ngFor="let item of viewPortItems" [item]="item">{{ item }}</div>
we will still get the following error
                        "Can't bind to 'item' since it isn't a known property of 'div'. "
so simply <div *ngFor="let item of viewPortItems">{{item}} </div> is enough. This worked for me

[2016-11-27 15:38] pjsaran opened #4 "Using virtual scroll with api"
Is it possible to use web api like github api, to fetch paginated results and at the end of scroll fetch next set of items etc?

[2016-11-27 15:59] rintoj commented on #4
Hi, not possible now, but Im planning add this soon.
On Sun, 27 Nov 2016 at 9:08 PM, pjsaran <notifications@github.com> wrote:

--

- Rinto

[2016-12-01 13:22] farin99 opened #5 "No items are shown"
Hi, there seems to be an issue that is causing the virtual-scroll calculation to fail.
See attached image. There are only 12 items in the full list, and each item height is around 38px. however the scrollbar-content has a translateY=632px, which is causing it to render nothing.
I'm not sure if it is related, seems to reproduce with small amount of items.

This is an awesome component 👍. However, w

[2016-12-02 20:24] rintoj commented on #5
From what I see, I think the problem is with container size. If the container size changes virtual scroll needs to be made aware explicitly. If you are trying to include virtual scroll in a dropdown, call `refresh()` function after opening the dropdown (include time for animation as well). That should fix. Let me know how it goes. If problem persist, please share the code I can have a look at it.

[2016-12-06 22:37] farin99 commented on #5
Thanks for the quick response! I don't think my container height is changing. However, I'm animating the container width. I'll try to remove the animation and see if the bug still reproduce.

[2016-12-07 02:51] rintoj commented on #5
Well, I am almost sure bug will still exist even after animation is removed. The component takes height and width (for multi column support) into consideration for calculating number of items. If container size changes (with or without animation) call **refresh()**

[2016-12-08 12:19] luisaceituno opened #6 "Multi-column scroll is broken in the demo"
![2016-12-08_13-18-44](https://cloud.githubusercontent.com/assets/8135999/21009818/fbdbf7ce-bd48-11e6-8589-8f9f274063ef.gif)

This seems to happen when the browser is maximized in a 1080p screen.

[2016-12-08 14:26] istiti opened #7 "data from server"
ENHANCEMENT
Hi there awesome lib what's about virtual scroll with data from server ...

something like : http://saulis.github.io/iron-data-table/demo/

when we scroll we call http request to show more data ?

[2016-12-10 07:58] rintoj commented on #7
Hi, thanks for your feedback. I'm working on this. We will have this soon.

Related to [#4](https://github.com/rintoj/angular2-virtual-scroll/issues/4)

[2016-12-10 08:01] rintoj commented on #6
It seems like the width calculation has broken. The reason I think is that - the width of scroll bar is not taken into account - which is more for windows. I'm looking into ways to identify the width of scrollbar, without any success so far. If you have any ideas please share.

[2016-12-10 12:35] rintoj commented on #6
Fixed. Available with v0.0.7. Feel free to reopen if you still see the problem.

[2016-12-10 12:35] #6 closed

[2016-12-11 03:22] rintoj commented on #7
[Feature](https://github.com/rintoj/angular2-virtual-scroll#loading-in-chunk) added.

[2016-12-11 03:22] #7 closed

[2016-12-11 03:22] rintoj commented on #4
[Feature](https://github.com/rintoj/angular2-virtual-scroll#loading-in-chunk) added

[2016-12-11 03:22] #4 closed

[2016-12-11 03:25] rintoj commented on #5
I guess this is the way to go until [Resize Observer](https://wicg.github.io/ResizeObserver/) is fully implemented.

[2016-12-11 03:25] #5 closed

[2016-12-14 07:44] istiti opened #8 "example of 1mio"
your virtual scroll seems cool, can you make an example with 1mio :)  or 100k rows ? This will show your perfs to users

enhancement: Does it supoprt AoT

great work

[2016-12-14 15:45] ivob52 opened #9 "external control of start index"
Hi,

Thank you for your excellent component for virtual lists!

It will be cool if there is control over the starting position of the list.
By example - a "startIndex" input property.

[2016-12-15 08:31] rintoj commented on #9
Hi,

Thanks for your feedback. Sure I will add  `startIndex` and publish soon.

[2016-12-15 08:32] rintoj commented on #8
Hi, Thanks for your feedback. Sure, I will update the demo soon. I will check on AoT as well.

Cheers.

[2016-12-15 09:06] istiti commented on #8
@rintoj hm I hope in a few days I can use your lib in our project.
Another thing: since angular use semver In a few month angular3 will be available, so you could rename your lib into
rintoj-virtual-scroll

or ng- prefix, even if it's reserved for internal core, maybe:
ng-virtual-scroll
ng-virtual-repeat

[2016-12-20 09:33] istiti opened #10 "datatable"
enhancement
what about datatable with your plugin with column header fixed like this https://github.com/swimlane/ngx-datatable

[2016-12-20 10:12] istiti opened #11 "angular cli use"
I try to use your lib inside my angular-cli project your last version and I get :
`
 UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: VirtualScrollModule is not an NgModule
`

[2016-12-31 15:07] zoehneto opened #12 "List elements with different heights don't work"
I have a list with elements showing blog posts which all have very different heights (from 80px to, theoretically, infinity), there is also no way to know the height in advance because an individual post can contain many different media types. When I set the the `childHeight` to my minimum height of 80px as discribed in the README, I see the part of the post which fits on my screen, but as soon as

[2017-01-02 09:10] rintoj commented on #11
Looks like this is a generic issue caused by a problem with [angular-cli@1.0.0.beta.24](https://github.com/angular/angular-cli/issues/3426). Temporarily workaround that works for me is to downgrade typescript to 2.0.10.

[2017-01-02 11:59] rintoj commented on #10
It's ease to have fixed column header. See below.

[code]

[2017-01-02 12:18] istiti commented on #10
Thanks for clean and easy example and easy api of your lib, even im not sure it works when window resize and horizontal scrollbar appear that all my column have same width, need more tricky things to get it working well

Will try, thanks

(Hope you will add more example soon and give more of your time to this library) to add feature and stay updated to last angular

Thanks @rintoj

[2017-01-02 12:23] istiti opened #13 "Smooth scroll on webkit (mobile)"
Enhancement (i'm writing from iphone)

Can you add thiss css to the container
-webkit-overflow-scrolling: touch;
To enable smooth scroll on phone
It will radically become more smoothly and ergonomic when scrolling on mobile :)

Thanks

[2017-01-02 13:06] rintoj commented on #13
Added. Please check version  v0.0.9

[2017-01-02 13:06] #13 closed

[2017-01-02 13:08] rintoj commented on #8
added `-webkit-overflow-scrolling: touch;` with #13. Soon this will be ported to [ng-virtual-scroll](https://www.npmjs.com/package/ng-virtual-scroll)

[2017-01-06 15:54] markballenger opened #14 "npm install fails"
Downloading the repo and immediately running 'npm install' yields err!

'prepublish' seems to be firing, running 'build', then fails at 'tsc'...

npm -v 4.1.1 on windows

[2017-01-19 10:05] DanGraZisson opened #15 "Observable input"
Good day, I'ev just started trying out your virtual scroll and I'm having difficulities making it work with an observable collection.

`    <virtual-scroll [items]="persons" (update)="viewPortItems = $event">
            <Contact *ngFor="let item of viewPortItems" [person]="item"></Contact>
    </virtual-scroll>`

Where "persons" is an Observable<PersonModel[]>.
The HTML code works when I use mock

[2017-01-20 01:33] bashome commented on #11
Hi Guys, I am getting this error today as well without the unhandled promise rejection ... just simply ... "ERROR in VirtualScrollModule is not an NgModule" at compile time.  I am on  angular-cli@1.0.0.beta.25 and have ensured that I have typescript@2.0.10.

Wondering if it has anything to do with "NgModule" vs "ModuleWithProviders" but not really sure how to test that.  Seems to work fine when I

[2017-01-23 07:32] DanGraZisson commented on #15
So I solved the problem on my end.
The problem wasn't the observable input, it was the dynamic nature of the component, even so that even with setting ChildHeight and ChildWidth to reasonable numbers the virtual scroll ended up trying to create a HTML component for each of the 15000 test data components.
I solved this by copying over the virtual scroll to do local debugging, I ended up creating a

[2017-01-23 07:32] #15 closed

[2017-01-23 08:20] PillowPillow commented on #15
Hello Dan, I'm pretty sure that this library simply doesn't handle the observable since all methods use the *items* input as a basic array.
`items = this.items || [];`
The issue you found is just that the lib try to calculate the length of an observable without subscribing to it and get the value.

Concerning the pull request, you just have to fork this repo, clone the new one, do the modif and cr

[2017-01-23 08:26] DanGraZisson commented on #15
Hello Nicolas, I did do some changes to the items so it could accept observables as well, thing is we've implemented out own observables so they can be treated as an array but it isn't an array, so what I did was loosen up the checks for wheter it is an array or not, but I'm unsure if I should share that part of the changes since as it is it works with my solution but I'm afraid it may not be what

[2017-01-23 08:36] rintoj commented on #15
Hello Dan, as Nicolas, mentioned this lib works with array, not observables. So you should add `async` pipe in your code to make it work with observables.

[code]

Try:
` [items]="persons | async`

[2017-01-24 09:08] Rob-Post opened #16 "AoT compilation fails"
When running AoT compilation ( node_modules/.bin/ngc -p tsconfig-aot.json ) it fails with the following error:

`Unexpected value 'VirtualScrollModule in /node_modules/angular2-virtual-scroll/dist/virtual-scroll.d.ts' imported by the module 'AppModule in /app/app.module.ts'`

tsconfig-aot.json
[code]

app.module.ts (excerpt)

[code]

[2017-02-01 19:12] Taifuru opened #17 "using table rows for list item"
Hi can i use table as list-items ? If i can can you show me i pseudo code ?

[2017-02-02 06:34] rintoj commented on #17
The following should help you. Make sure to set fixed height for `tbody` and `table`
[code]

[2017-02-02 06:34] #17 closed

[2017-02-02 06:35] #10 closed

[2017-02-02 09:53] PillowPillow commented on #17
From my experience, you can't do something like that since virtual scroll add block elements to the dom.
If you wanna use a table with this library you have to declare the table inside the virtual-scroll element. Unfortunately that remove the possibility to use a fixed header without doing tricky things.

[2017-02-02 12:12] jsen- commented on #16
Seems like AOT does not like the distributed `.js` file, but requires the original `.ts` file.
This seems to work...
[code]

[2017-02-02 14:32] ronzeidman commented on #16
Notice that if you provide the metadata.json files alongside the .js files (meaning you need to AOT compile this library in advance) the .ts files are no longer needed.
https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.wxi37ud13

[2017-02-03 19:48] farin99 commented on #5
The issue is related to having elements with different heights in the viewport.
it isn't related to resizing and will happen even if the container size never changes.

[2017-02-04 18:55] macliems opened #18 "How to adjust childHeight?"
I am using your list-with-api example component. It works just fine! However, I am trying to adjust the child height and I don't understand how to do this properly.

With your example there is no input [childHeight], so I changed :host height in list-item.scss, but this doesn't work well. I also tried adding [childHeight], but I just can't get it right. I probably don't understand the connection b

[2017-02-04 19:02] #18 closed

[2017-02-04 23:17] macliems opened #19 "list with api fetches new chunk twice when scrolling quickly"
On my Mac, when I scroll slowly, all is well. But when I give it a swing, then the new chunk is loaded twice (I'm getting the items with a Firebase promise). A bug? Or is there a (simple) way to prevent this?

[2017-02-05 03:23] #19 closed

[2017-02-14 10:34] rintoj commented on #14
Works fine for the following setup. Please feel free to reopen this issue, if you still see it.

## clone
![image](https://cloud.githubusercontent.com/assets/10824903/22925512/0c5d2332-f2cf-11e6-9032-1c320ea73dc0.png)

## npm install
![image](https://cloud.githubusercontent.com/assets/10824903/22925528/185b50aa-f2cf-11e6-9b99-36093e7ef479.png)

### node and npm versions:
![image](https://cloud.git

[2017-02-14 10:34] #14 closed

[2017-02-14 11:37] #16 closed

[2017-02-14 11:42] rintoj commented on #16
Fixed with v0.1.0. Now this library is AoT enabled.

[2017-02-14 11:43] rintoj commented on #11
Fixed. Please check now. Feel free to reopen if you still face this issue.

[2017-02-14 11:43] #11 closed

[2017-02-14 13:01] #8 closed

[2017-02-14 13:05] rintoj commented on #12
@zoehneto, it's very difficult to calculate height of each item beforehand without performance issues. I guess the minimum height is not going to work with cases like your's.

[2017-02-14 14:18] istiti commented on #8
@rintoj  you close here ? what about big number of rows

[2017-02-14 15:04] istiti opened #20 "BUG infinite request on (change)"
I succed to use your module, FINALLY ! :)

I simply use your demo  to load more chunk when scrolling but it seems big bug when scroll fast or drag scrollbar until bottom, look here my gif:

![bug chunk load](https://cloud.githubusercontent.com/assets/2789203/22934401/18f95a8e-f2cf-11e6-86a1-5519e3da7cfe.gif)

## code:
exactly the same  as your demo

## browser:
bug on chrome and firefox

[2017-02-14 15:55] rintoj commented on #20
Related to #19. Working on it.

[2017-02-14 16:34] istiti commented on #20
Nice, i cant wait !!! :-D

[2017-02-16 08:20] istiti commented on #9
any eta

[2017-02-23 05:59] gnasit commented on #20
the way I have worked around this is only do the next fetch of chunk when I have not requested the previous starting point in chunk...

to elaborate, i created a set of values going into the below method, if my set size increases while while adding the element to the set, then i call the below, else i don't fetch the next chunk.

`this.fetchNextChunk(this.buffer.length, 10)`

this has worked for m

[2017-02-23 10:13] vitoexe commented on #9
at this moment You can use __scrollInto__ method, usage is similar to __refresh__,
https://github.com/rintoj/angular2-virtual-scroll#if-container-size-change
[code]

[2017-02-23 10:37] vitoexe opened #22 "Update to lower amount of Elements, scroll issue, empty space on bottom"
If You have ie. 1000 element list, then scroll to bottom, and reduce list to 100 elements (update from api).
__After refresh(), the list of elements are above virtual-scroll, leaving empty space in scroll area.__

Any ideas how to solve this problem?

<img width="465" alt="virtual-scroll" src="https://cloud.githubusercontent.com/assets/5330373/23255523/3af1d0c8-f9bc-11e6-99d9-e24fa2a4c238.png">

[2017-03-06 10:50] #22 closed

[2017-03-06 13:24] #20 closed

[2017-03-06 13:28] rintoj commented on #20
@istiti, @gnasit, Thanks for helping me with this issue. I have added two new events: `start` and `end`. Recommend you to use `end` instead of `change`.

Please see the updated [documentation](https://github.com/rintoj/angular2-virtual-scroll#loading-in-chunk)

[2017-03-06 13:29] rintoj commented on #20
Fix is available with v0.1.3

[2017-03-06 13:49] rintoj commented on #9
@ivob52, adding a `startIndex` messes up the internal logic of the component. Problem is, this input should be used only at the startup of the component. If component ignores the changes to `startIndex` at run time, it become hard to reason the scroll-logic.

I think, @vitoexe's suggestion achieves the same through `scrollInto`. So I am thinking that's the way to go about.

[2017-03-06 13:49] #9 closed

[2017-03-20 10:16] matte00 commented on #17
@PillowPillow you are right man!

[2017-03-20 16:36] gbelmm opened #23 "no found in my project"
![captura de pantalla 2017-03-20 a las 13 35 02](https://cloud.githubusercontent.com/assets/731936/24110382/0bbd469c-0d72-11e7-95dc-aceb83036edf.png)

code:

  <virtual-scroll [items]="cards" (update)="scrollItems = $event" >
      <div  *ngFor="let card of scrollItems"  >{{card.dataevent.name}}</ div>
</ virtual-scroll>

data: from remote.

![captura de pantalla 2017-03-20 a las 13 36 50](https:/

[2017-03-21 06:24] istiti commented on #23
@gbelmm  please copy whole code example (css too) and retry

[2017-03-21 11:19] matte00 commented on #23
@gbelmm Is the virtual-scroll inside another element?
` private calculateDimensions() {
    let el = this.element.nativeElement;
    let content = this.contentElementRef.nativeElement;
....
}`
return correct element?

[2017-03-21 11:28] matte00 opened #24 "Refresh Issues"
Hi mate,

i have an issue when change items insiede virtual-scroll. First time it's work ok, then i change the [items] collection with a new array of object but only two items are designed. I tried call refresh() method but it's don't work.

![issue](https://cloud.githubusercontent.com/assets/3216846/24145503/ac0f4086-0e31-11e7-89f0-61a0d0771b01.png)

The problem is in calculateItems()
`   let ind

[2017-03-21 19:45] ManpreetSingh80 commented on #23
<virtual-scroll style="display:block;height:100%" ..............................</virtual-scroll>
fixed it for me.

[2017-03-21 20:04] gbelmm commented on #23
fix width style="display:block;height:100%"

 But I have 2 scroll
![captura de pantalla 2017-03-21 a las 17 03 40](https://cloud.githubusercontent.com/assets/731936/24168220/468245ac-0e58-11e7-8b06-03cfbd34657b.png)

[2017-03-21 20:07] gbelmm commented on #23
If I remove the above it looks good but when scrolling up calls the refresh

![mar -21-2017 17-06-30](https://cloud.githubusercontent.com/assets/731936/24168392/c9b993b2-0e58-11e7-9d98-bc0f8a6a88c3.gif)

code

`<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
   </ion-refresher>

<virtual-scroll style="display:block;height:100%"

[2017-03-22 09:42] ManpreetSingh80 commented on #23
@gbelmm You can either substitute ion-refresher inside virtual-scroll to make it as a first element of list or instead of ion-refresher, use virtual-scroll built-in emitters of loading data in chunks.

[2017-03-22 16:03] petercmuc opened #26 "NPM packaging: missing source file virtual-scroll.ts"
When including the npm module version 0.1.3 in my project I get an error:

Cannot find source file '../src/virtual-scroll.ts': Error: Can't resolve **'../src/virtual-scroll.ts'** in '/home/name/dev/test/node_modules/angular2-virtual-scroll/dist'

The `dist` folder contains:
`virtual-scroll.d.ts`
`virtual-scroll.js`
`virtual-scroll.js.map`
`virtual-scroll.metadata.json`

The `src` folder containing

[2017-03-22 19:25] amirsaber opened #27 "Multiple Virtual Scroll and FlexBox"
First of all I want to thank you for your nice module.
I am trying to implement your module in my project but I have difficulty with two things
1. I can't manage to have multiple virtual scroll in one page. It seems some how they are repeating the same items which is the items of the last virtual scroll
2. I am using [Angular Flex Layout](https://github.com/angular/flex-layout) to size my items in

[2017-03-23 18:39] rintoj commented on #27
@amirsaber, thank you. I'm glad you like this component.

Regarding the difficulties you are facing:

1. This is unlikely. Please checkout my [demo page](http://rintoj.github.io/angular2-virtual-scroll/index.html). You can see multiple virtual-scrolls working independently. I ran some tests as well; all looked well here. I'm assuming it is caused by an error in your code. If you can share the code

[2017-03-23 18:43] rintoj commented on #26
@petercmuc, npm package only contains distribution files. ie. the files compiled with ng-compiler. The original TypeScript files are excluded. I'm assuming you used the demo included in this repo where I directly refer to the TypeScript file, but it is only for the sake of the development. The module must always imported as

[code]

[2017-03-23 18:43] #26 closed

[2017-03-23 18:52] rintoj commented on #24
@matte00, This issue was fixed with #22. Please make sure you are using the latest version, as of today it is 0.1.3.

[2017-03-23 18:52] #24 closed

[2017-03-23 18:54] rintoj commented on #24
@ManpreetSingh80, please share more details about the issue with array update. I have done couple of updates the component recently. Please check those updates and if there are issues please revert.

[2017-03-23 19:01] rintoj commented on #23
@gbelmm, I would suggest two things.
1. Specify size for the container. It is essential for this component.
2. As @ManpreetSingh80 suggested try using component's `start` and `end` events for loading data in chunks. `start` is fired when you are the beggning of the list and `end` when you are the bottom of the list.  [This documentation](https://github.com/rintoj/angular2-virtual-scroll#loading-in

[2017-03-23 19:02] #27 closed

[2017-03-23 19:10] rintoj commented on #24
I have update the demo with two buttons to switch array at run time.

![image](https://cloud.githubusercontent.com/assets/10824903/24265709/6ec86784-102a-11e7-98ed-2752e85a4da1.png)

Please check the [demo page](http://rintoj.github.io/angular2-virtual-scroll/index.html)

[2017-03-23 23:46] nick-jonas opened #28 "Horizontal Scroll"
Thank you for doing this!

Is it possible to do a horizontal scroll, something like [this](https://github.com/Corentinfardeau/horizontal-scroll) which uses VirtualScroll (non-angular)?

[2017-03-24 07:15] rintoj commented on #28
@nick-jonas, thanks for your feedback. Horizontal scroll has been in my todos for a while. It's as difficult as doing the vertical scroll. I was just waiting for vertical scroll to be stable. I will do this, sure thing.

[2017-03-24 15:56] amirsaber commented on #27
thanks for your reply. I am trying to reproduce the issue that I am facing and share it with you, meanwhile I thought maybe sharing my scenario might help:
I have an ngFor over the virtual-scroll and every time I am passing a new set of array to ng-for. It seems in your examples you are using same array in all of virtual-scrolls. I face the issue when I supplly different arrays into virtual scroll

[2017-03-24 18:16] amirsaber commented on #27
I figured them out. If you put multiple virtual-scroll on same component for different arrays with same name for items(viewportitems) you will get this issue. Also about flexbox, since the structure of the app changes to scrollable-content div with the repeated items in as childs, the flexbox layout you imagine when coding and the one that you get on browser are different

[2017-03-27 06:57] BogdanDumitruMarian opened #29 "Does it work with tables?"
Hi,

Your component looks great. I've tried it with lists and it does what it promises to.
However, I've tried using it for table rows, as you'll see below, but no rows are shown:

      <table class="table table-striped table-hover">
        <tr class="headerRow">
          <th *ngFor="let field of fields">{{field.label}}</th>
        </tr>
        <virtual-scroll [items]="data" (update)="viewPor

[2017-03-29 07:35] mthahzan opened #30 "Scroll is glitchy on iOS safari (Ionic 2)"
I'm using this library as part of an Ionic 2 application. When running on an iOS device, we saw the below glitchy behavior.

![Glitch on iOS safari](https://media.giphy.com/media/tPvtkRl0KcypG/giphy.gif)

This is the template.

[code]

The used `recipes` variable starts out as an empty array and is updated after the API request observable is completed.

**EDIT**

Tried again with a much simpler co

[2017-04-02 07:34] cuongnm265 commented on #3
@rintoj Hi, I did what you mentin below and it still doesn't work. I tried to move (update) expression to another method in my .ts file but it seem my app can't reach the update event

[2017-04-03 16:44] PeterBurner opened #31 "No scrolling when adding items at the beginning"
I'm trying to write a chat application with this library.
Unlike normal lists I have to add items to the beginning of the input array. I used the `start` event to trigger this update.
The problem is that the scroll view automatically scrolls to the top then. Which in turn triggers the `start` event again and so on.
Could you add a parameter to prevent this scrolling to top or give an example how t

[2017-04-04 08:38] smoku commented on #30
@mthahzan it is bug related to UIWebView, try WKWebView - http://developer.telerik.com/featured/scroll-event-change-ios-8-big-deal/

[2017-04-04 17:58] DaveMBush opened #32 "scrolling multi column jumps if ending item is n+1 % columnCount > 0"
At line 187 you check for maxStart in a way that assumes your items[] will always be evenly divisible by the number of items in each row.  This causes the data to "jump" once you scroll to the bottom.

The fix for this is to adjust maxStart so that this doesn't happen.

[code]

[2017-04-04 19:48] DaveMBush opened #33 "requestAnimationFrame?"
I was under the impression that angular handles updates so we shouldn't need requestAnimationFrame.

I only noticed this because I use JSDOM to run my tests and the polyfill for this is not included in standard Angular CLI stuff.  Also, I think the use of this is causing flicker and taking it out will remove that.

[2017-04-06 17:34] #33 closed

[2017-04-06 19:15] rintoj commented on #33
@DaveMBush, I didn't want to block browser's UI thread while doing scroll calculations. In my tests, I found not using requestAnimationFrame makes browser freeze at some conditions.

[2017-04-06 19:32] #32 closed

[2017-04-06 21:54] DaveMBush commented on #33
@rintoj yeah, I finally figured that out.  That's why I closed it.

[2017-04-11 11:38] pamidisetti opened #35 "angular2-virtual-scroll not installing"
I got some npm errors

[2017-04-12 00:46] Natanael1234 opened #36 "UNMET PEER DEPENDENCY @ionic-native/core@3.4.4 invalid on npm install"
I'm using Ionic 2.3. When I try to install this library I get this message:

corp-now@ E:\Projetos\Ionic2\CorpNow
+-- UNMET PEER DEPENDENCY @ionic-native/core@3.4.4 invalid
`-- angular2-virtual-scroll@0.1.5

How could I solve this?

[2017-04-18 09:20] ManpreetSingh80 commented on #36
Its an Ionic issue and it seems you have already [solved](http://stackoverflow.com/questions/43358473/unmet-peer-dependency-ionic-native-core3-4-4-invalid-on-install-angular2-virtu) this. So please close this issue.

[2017-04-18 09:22] ManpreetSingh80 commented on #35
Please attach some logs/code while reporting errors. Otherwise, it is difficult to know the cause.

[2017-04-18 09:58] ManpreetSingh80 commented on #31
A simple hack would be adding some delay in start event to prevent nested triggering of start event. You can compensate the delay by adding some loading animation.

[2017-04-18 13:22] #35 closed

[2017-04-18 16:37] OClement opened #37 "Need help/suggestion: "bottom-up direction""
Hi,

The component seems to work just fine in normal situations where a list is displayed from top to bottom; However, in my use case, I need to flip the whole thing; Think of a chat, where the first message is at the top, and last is at the bottom (which means the scrollbar needs to stay at the bottom too)

I iterate over my collection normally and planned to use Flexbox to reorder the messages o

[2017-04-19 12:00] PeterBurner commented on #31
Hi @ManpreetSingh80
Thanks for your response.
Unfortunately it does not help.
If I add a delay to the start event the list still scrolls to the top after the items are inserted. They are simply inserted with a delay now.
I think this scrolling to top is the default angular behaviour since the whole list is rerendered.
ngFor behaves the same way

[2017-04-19 12:46] mbellezi opened #38 "Feature: Support Iterable"
Please add support to Javascript iterables for the Itens property.
It's necessary for handling ImmutableJS Lists on Redux environments.

[2017-04-19 17:11] ManpreetSingh80 commented on #31
@PeterBurner Can you provide a plunker? It will be more helpful to debug.

[2017-04-20 09:03] PeterBurner commented on #31
sure

without delay:
https://embed.plnkr.co/tOElYeJhvtvGrOIsR2Z9/
with delay:
https://embed.plnkr.co/92lhL9CS8LCYoOSE3Ze7/

as you see in both examples the list automatically scrolls to top after I insert new Items at the beginning
I want it to keep the previous beginning of the list in focus

[2017-04-20 11:01] ManpreetSingh80 commented on #31
@PeterBurner There you go
[https://plnkr.co/edit/8x72FqXnWOL5oyzQNIWm?p=preview](https://plnkr.co/edit/8x72FqXnWOL5oyzQNIWm?p=preview)

[2017-04-20 12:33] PeterBurner commented on #31
You stopped it from loading further data.
That's not what I had in mind.
I wanted the list not to scroll.
In other words, the current viewport should not move. Only the scroll bar should adapt to the new container height.

[2017-04-20 18:17] ManpreetSingh80 commented on #31
@PeterBurner I don't think it is possible with current implementation of this virtual-scroll. But you can modify it suit your needs.

[2017-04-25 12:11] PeterBurner commented on #31
I thought so
that's why I created an issue here instead of asking on stackoverflow

[2017-04-27 10:10] cpa-level-it commented on #12
Wouldn't the following solution work to handle correctly elements with different heights ?

* Specify the minimum height
* For each visible element, ask for the real height with a callback function. If the next element is not longer visible, stop.
* Use the real height to update the total scroll size.

We would have to following pseudo code to compute the visibles items

[code]

So the scroll bar

[2017-05-01 21:51] fedorl opened #39 "Infinite event loop with empty items array"
If input array is empty the component enters infinite update event loop.

I think the reason is
`if (start !== this.previousStart || end !== this.previousEnd) {`
is always true when NaN value is involved.

The fix seems a bit more elaborate than just fixing the condition when no initial item sizes are given, it needs to re-init when going from empty to non-empty items and vice versa.

[2017-05-01 23:23] fedorl opened #40 "Incorrect behavior on items change"
May be I miss something, I'm trying to use with angular 4 ngfor and updating items with mobx autorun.

Initially: one item (with zero doesn't work because of [this](https://github.com/rintoj/angular2-virtual-scroll/issues/39)) is displayed correctly.

Setting [items] to another array instance (initial concatenated with 15 items), all contained in viewport: not all items are displayed and shows ver

[2017-05-01 23:42] fedorl commented on #40
Meantime the quick fix below seems working when childWidth is present, but requires more investigation on update life cycle.
`
  private countItemsPerRow() {
    if (this.childWidth) {
      const el = this.element.nativeElement;
      return (el.clientWidth - this.scrollbarWidth) / this.childWidth;
    }
   ....
`

[2017-05-02 00:16] fedorl commented on #39
Meantime the below and [this](https://github.com/rintoj/angular2-virtual-scroll/issues/40) seem working as a quick fix to make the component functional
[code]

[2017-05-09 19:31] amirsaber opened #41 "Safari Issue"
In safari, when scrolling all the way up, it only shows two items out of many and then by scrolling a little bit back it suddenly pops all of them.
I had a look I noticed two things on safari:
1. scrollable content translate goes to -440
2. height of the virtual-scroll element it self changes when I scroll all the way up

[2017-05-09 20:15] amirsaber commented on #41
it seems if we add
[code]
before [line 161](https://github.com/rintoj/angular2-virtual-scroll/blob/master/src/virtual-scroll.ts#L161) will do the job. It's actually because of negative number for bounce scrolling in safari.

[2017-05-13 03:40] awormasi opened #43 "Scrolling performance can be improved with switchMap"
I noticed that in lists with a large number of items rendered, scrolling up and down repeatedly causes chrome to become temporarily unresponsive when the user stops scrolling. During this time the memory also temporarily spikes. I think this is because chrome is busy garbage collecting all the rendered dom elements that were removed from the previous scroll events.

To improve performane, you can

[2017-05-13 09:21] prosenjit-itobuz opened #44 "viewport items not updating when items sorted."
Say I use a sort function, and I call the refresh fn. The data in view does not update. But as soon as I scroll once, the data in viewport gets updated. I tried, using `virtualScroll.contentElementRef.nativeElement.scrollTop += 1`, but that doesnt work as well.

Can you please help?

[2017-05-14 08:35] rintoj commented on #44
@prosenjit-itobuz, I'm assuming that you would have done the following to sort the list:

[code]

The trouble you are facing is due to non-immutable operation. Sorting is not an immutable operation, meaning it changes the array itself instead of creating a new one. The below code fix that.

[code]

I have updated the live samples as well. You can see this in action here: http://rintoj.github.io/an

[2017-05-14 08:35] #44 closed

[2017-05-14 09:03] rintoj commented on #43
@awormasi, thanks for your help. Your solution works amazingly well. I will publish it with the next version.

[2017-05-14 09:03] #43 closed

[2017-05-14 13:41] rintoj commented on #41
@amirsaber, thanks for pointing out the issue. This is fixed and will be available in the next version.

[2017-05-14 13:41] #41 closed

[2017-05-14 13:55] #39 closed

[2017-05-14 13:56] #23 closed

[2017-05-14 14:33] rintoj commented on #29
@BogdanDumitruMarian, Unfortunately this implementation will only work with tables without headers.

See below.

[code]

[2017-05-14 14:33] #29 closed

[2017-05-14 15:13] #36 closed

[2017-05-14 16:20] rintoj commented on #40
@fedorl, can you check again I have fixed #39.

[2017-05-14 16:26] fedorl commented on #40
@rintoj Thanks for fixing! I'll check next week, have a tight schedule now.

Does it fix #40 as well or #39 only?

[2017-05-14 16:32] rintoj commented on #37
@OClement, I don't see a problem implementing a chat like behaviour: display the chats in the same order as they arrive and keep the scroll position to the bottom. The component's `scrollInto(item)` api can be used for focusing on the last message. One more thing: make sure the `items` array is immutable. Any operation you do on this array must produce a new array.

[2017-05-14 16:33] rintoj commented on #40
The fix should work for both #40 and #39. But please check and if the problem still exists, please reopen this issue. Thanks.

[2017-05-14 16:33] #40 closed

[2017-05-14 16:36] rintoj commented on #31
@PeterBurner, I just fixed #39 - infinite loop issue. Could you check again if you still face this problem. If yes, please reopen this issue. Also see my comments on #37

[2017-05-14 16:36] #31 closed

[2017-05-14 16:36] #30 closed

[2017-05-14 16:37] rintoj commented on #37
@OClement , please feel free to reopen this issue if my suggestion hasn't worked for you.

[2017-05-14 16:37] #37 closed

[2017-05-14 16:45] OClement commented on #37
Thanks for the suggestion
I'll look into it this week

The array is indeed immutable

O.

[2017-05-15 09:18] vecernik opened #45 "A demo link is broken"
http://rintoj.github.io/angular2-virtual-scroll leads to 404

[2017-05-15 09:57] prosenjit-itobuz commented on #44
Thanks it's working.

[2017-05-15 15:56] ruimserrano opened #46 "Dont include Rx.js"
Please dont include the whole Rx.js library, import the operators and object you need. Every app that imports you lib will automatically bundle 600kb of rxjs, in most cases we dont even need half of it.

And treeshaking will not save it cause rxjs imports operators via prototype.

Cheers

[2017-05-15 20:26] mackelito opened #47 "Can´t get it to work properly using Materials (md-card) and FlexLayout"
![2017-05-15 22_25_29](https://cloud.githubusercontent.com/assets/598463/26077736/7104c076-39bd-11e7-87c9-8c9ead071c92.gif)
Not sure what´s going on here :)

[2017-05-16 15:28] rintoj commented on #47
@mackelito, can you share the code?

[2017-05-16 15:36] #46 closed

[2017-05-16 15:51] rintoj commented on #45
@vecernik, fixed. Please add a `/` or `/index.html` to the end of the url and it should work. Updated documentation as well. Thanks for your time.

http://rintoj.github.io/angular2-virtual-scroll/

[2017-05-16 15:51] #45 closed

[2017-05-17 11:52] WhatzzUp opened #48 "Sticky subheader with virtual scroll"
Hello folks,

is somethins like this possible : https://codepen.io/chrissp26/pen/gBrdo

I try to implement a "sticky" subheader with your virtual scroll. Acutally i failed ... :(

Cheers

Chris

[2017-05-17 11:53] uso5 opened #49 "Scroll to item"
Hi

I implemented virtual scroll to my project, it work perfectly. How can I scroll to certain item? Lets say i have sorted contact list and i need to jump to items by alphabet.

Thanks.

[2017-05-17 13:07] mackelito commented on #47
ended up not using a virtual scroll at all :P

[2017-05-17 13:07] #47 closed

[2017-05-17 15:36] rintoj commented on #49
@uso5, please see https://github.com/rintoj/angular2-virtual-scroll#focus-on-an-item

[2017-05-17 15:36] #49 closed

[2017-05-17 15:37] rintoj commented on #49
Please see. https://github.com/rintoj/angular2-virtual-scroll#focus-on-an-item

[2017-05-17 15:40] rintoj commented on #48
@WhatzzUp, Sorry that's something not possible with the current implementation. I have had people asking about doing a table with fixed header, that's not possible either. I have been thinking about another approach to solve this. Please watch this repo, I may have an update to this problem.

[2017-05-17 15:40] #48 closed

[2017-05-18 11:56] uso5 opened #50 "Focusing element from top"
Hi thanks updating docs for focusing on element. Function is handy, but it focusing on element at bottom of screen, I am talking about  [this line](https://github.com/rintoj/angular2-virtual-scroll/blob/master/src/virtual-scroll.ts#L145)

`this.element.nativeElement.scrollTop = Math.floor(index / d.itemsPerRow) *
      d.childHeight - Math.max(0, (d.itemsPerCol - 1)) * d.childHeight;`

originally

[2017-05-18 12:41] rintoj commented on #50
Hi, ideally it must place the element at the top of the list, except if there are no more items to fill the reset of the viewport. So I'm assuming that the element is placed at the bottom because it is the last element in the list. Please confirm.

[2017-05-18 14:29] uso5 commented on #50
Hi @rintoj, I prepared plnkr -> https://plnkr.co/edit/Os1D8M14bFoW9pZHDj4Y?p=preview

When you click on Jump to button, desired item is scrolled on the bottom of the content. It should scroll the item on the top of the content. That is my desired behaviour. My solution is suggested in previous comment.

[2017-05-18 17:58] rintoj commented on #50
Ok got it. thanks for plnkr. This needs a fix.

[2017-05-22 23:03] mahcr opened #51 "Can I use the virtual scroll with a HTML table?"
Is there any way to use this component with a table?

Something similar to:
[code]

[2017-05-23 11:06] dniadzelka opened #52 "Future support: position sticky"
# Could you please improve component to support position sticky
# Demo: http://html5-demos.appspot.com/static/css/sticky.html

[2017-05-23 21:15] mahcr commented on #51
I was able to make it work with a table following the demo in the repo. But I seems It does not work well if a thead and th tags are included

[2017-05-24 07:17] uso5 commented on #50
Hi @rintoj if you are still working on this issue, I want to just remind you, that I made fix right above :) Thanks.

[2017-05-25 13:31] pedrollanes opened #53 "Loading rows after loaded 0 rows"
I have a virtual scroll that is working fine but when the filter reduce the list to 0 elements, next time I change the source list to a list with elements, the virtual scroll only show 2 rows.
The problem is comeing in this part of code:
[code]
When I load the last time the list, this part of code put height to the same height of the container... it's a bug. How could I fix it?

[2017-05-27 18:59] tolemac opened #54 "About `end` event"
Hi @rintoj,

what do you think about fire `end` event at startup if all elements are showed?

I'm using `end` event to load more items from a service, I load elements in groups of 10 items, however if the viewPort show the 10 firsts items without show scrollbar the `end` event never trigger.

What do you think about? Is this way by design?

If you are agree I could make a pullrequest ;)

[2017-05-28 03:16] fedorl commented on #40
The fix seems to solve #40 and #39 (+ another issue of wrong item indexes).

[2017-05-28 16:46] SlapBassist commented on #51
I'm trying to get this component to work with div based tables and having a heck of a time. Has anyone else run into this use case?

[2017-05-29 14:06] twjacobsen opened #55 "Unable to remove items from list"
When trying to remove an item from the list, it's not removed until I scroll just a little.

I'm removing entries from the data using `filter`, which will create a new list, so the reference change should be in place.

I've tried triggering `refresh()` manually, no luck.

I'm having a hard time seeing how this does not work, when sorting seems to be somewhat similar.

[2017-05-29 19:24] twjacobsen commented on #55
Turns out I needed to use the `async` pipe - so it's a non-issue after all

[2017-05-29 19:24] #55 closed

[2017-06-08 03:18] Mohendran commented on #51
Me too... I cant get the viewPortItems when I use virtual scroll

[2017-06-12 19:41] Textras commented on #52
While there is a feature request ^, I might kindly suggest that infinity scroll ported to Vue, with variable height (maybe using RecyclerView with variable dynamic height for Tombstones), would be amazing! The Vue RecyclerView git got a huge reception on Twitter, I imagine this would get as big if not bigger. Great work here.

[2017-06-13 19:28] nate-knight commented on #55
@twjacobsen  I still see this issue whether I use an async pipe or not. The code seems to only emit events if the start and end values change. But when I remove an item from the list, those values don't change unless they are all currently visible. Did you have a different solution?

[2017-06-14 12:04] sbechet opened #58 "angular material conflict"
Hello,

I'm trying to use Material [tab component](https://material.angular.io/components/component/tabs).

All work fine for the first tab but for others :

[code]

Any idea?

[2017-06-14 13:46] sbechet commented on #58
Hello, I find a solution forcing childHeight="1".

Maybe can be a default solution?

[2017-06-16 02:31] casillas10 opened #59 "Can not run ng build --prod"
I got the error like this
`ERROR in /MyProject/$$_gendir/node_modules/angular2-virtual-scroll/dist/virtual-scroll.ngfactory.ts (141,35): Supplied parameters do not match any signature of call target.` when I run the `ng build --prod`,
but it work fine for `ng build`.

The environments on my computer are
`Ubuntu 14.04.5 LTS`
`@angular/cli: 1.1.2`
`node: 7.4.0`
`@angular/common: 2.4.10`
`@angular/co

[2017-06-20 05:56] Mohendran opened #63 "Multiple Api Requests when using Virtual scroll"
Im using virtual scroll with table... And In the table I load images in each table row.... When I scroll, apis to get the image are occuring frequently... Is there a way to stop that? or any workaround?

[2017-06-20 10:09] uso5 commented on #58
Hi @sbechet,

there is a workaround for this. You should call function that refereshes virtual function on tab change.

On tab change
`<md-tab-group (selectedIndexChange)="changedTab($event)">`

Define viewchild in component
`@ViewChild(VirtualScrollComponent) private virtualScroll: VirtualScrollComponent;`

On tab change call function
`changedTab($event: any) {
    // whatever index of tab you ne

[2017-06-27 04:11] #50 closed

[2017-06-30 04:36] Adam-Langley opened #64 "Error in Universal render scenario"
Hi,

I am using angular universal, and get this error:
`Call to Node module failed with error: Prerendering failed because of error: ReferenceError: Event is not defined`

I assume this is an issue with attempting to render it on the server.

Any suggestions?

Note: I am fairly new to ng2

Thanks

[2017-07-06 19:25] laterbreh opened #65 "Fitler/Sort using Pipes"
Hello,

I understand in the documentation that we are supposed to return "an immutable copy of items to virtual scroll to avoid unintended behavior", so theoretically we cannot use custom pipes to sort/filter the array that is being passed into the virtual scroll using pipes?

Currently I tried it using pipes, and the data is filtered properly via the pipes, but the scroll box and scroll bar do no

[2017-07-07 21:59] evandocarmo commented on #51
Same here. No news?

[2017-07-08 18:36] Mohendran commented on #51
I think the solution for this is to use virtualScroll directive

[code]

[2017-07-09 20:28] techmind-git commented on #53
Sounds a bit like what I've got on my iPad with the demo page. When scrolling all the way to the top of the list I reach the point when I only see 2 rows when there are more items and I should see a full list. Scrolling a little bit down again does show the other rows again. I don't have this behavior on other devices. A fix would be really appreciated.

[2017-07-09 22:30] ghetolay opened #66 "Just an idea for performance"
Hi, First I want to say I don't use that project (yet) but just came across and looked a bit about the source code.

I see you're using a `HostListener('scroll')` and `requestAnimationFrame` (not sure why this one) to apply the refresh. Where the refresh consist of
1) update `translateY`.
2) fire update with new items if necessary.

So both those async method will trigger a change detection runs,

[2017-07-13 08:31] naharyd opened #67 "Latest Commits are not publish in NPM, can you please publish them?"
Latest Commits are not publish in NPM (for example, commit: e8ade26662ac9024b5f7245ca293dfe1d3a60dfc),

Can you please publish them?

[2017-07-14 07:44] MrToasty97 commented on #51
I'm getting "Can't bind to 'items' since it isn't a known property of 'tbody'." Error,

[2017-07-14 14:08] ignaszewski opened #68 "What in case for example 1 million records"
In case we have 1000000 records (each row 30px) ?? totall div height will be 30 000 000 px.

In Chrome and Safari will be ok, but in IE and FF there is height limit for container (IE 1533917px FF17895696).

[2017-07-14 14:59] mleibman commented on #68
I've hit this browser limitation when working on SlickGrid 7 years ago.  Some things never change :)
See https://stackoverflow.com/questions/2402953/javascript-data-grid-for-millions-of-rows/2569488#2569488 for one possible way of solving it.

[2017-07-15 18:58] mahcr commented on #51
@Mohendran doesn't work for me. <tr>'s are overlapping the thead

[2017-07-16 08:55] lokeshroyal opened #69 "Module build failed"
Debug failure.False expression:output generation failed

[2017-07-17 10:48] umeshv opened #70 "bufferAmount not available"
Hi @rintoj, thanks for the wonderful component.

When I install the component using npm install, I am getting the bufferAmount not available. Since the dist folder doesn't have this option available, could you please add the option to the build as well.

Thanks.

[2017-07-17 14:35] ktersius commented on #67
Yes please there are bugs that were fixed that has now not been pushed to npm.

The onChanges check https://github.com/rintoj/angular2-virtual-scroll/blob/master/src/virtual-scroll.ts#L109 has been fixed to check for items before accessing length property.

Now running into issue where I change height/width and it tries to access length and throws errors.

[2017-07-17 15:24] elitenick commented on #64
Same exact issue here. Event is not defined.

[2017-07-17 16:23] elitenick commented on #64
Solved by changing the source code from:
  onScroll(e: Event) {
    this.refresh();
  }

to:
  onScroll(e: any) {
    this.refresh();
  }

[2017-07-18 05:19] lokeshroyal commented on #69
Your component is not working for angular 4

[2017-07-18 06:16] umeshv commented on #12
Support for the variable height will be of great help, currently struggling to get it working. If we set the childHeight to certain minimum value, due to variable height of the child, the scroll stopa working after attaining the __total-padding__ height.

[2017-07-18 06:34] rintoj commented on #12
@umeshv, this is a very difficult one to fix with the current logic. Any ideas please help.

[2017-07-20 08:06] jeco123 opened #71 "Buffer amount feature does not work"
The scrolling behavior is weird when adding this property to the component as if items where not scrolled at the beginning of the list.

[2017-07-20 16:44] kelvindart opened #72 "Cannot find a differ supporting object '' of type 'string'"
Hey,

I am not sure what's up but I am using the `angular2-virtual-scoll` library in Ionic on an `ion-list` via the directive approach.

However, I am having issues with this with the error: `Cannot find a differ supporting object '' of type 'string'`. This seems to run infinitely and eventually becomes unresponsive due to memory consumption.

The only note-worthy point, is that `filteredJobs` is

[2017-07-21 11:57] kelvindart commented on #72
I have debugged this a little further and it seems to be specifically when used with an `ion-list`/`ion-item`.

[2017-07-25 07:17] Worek opened #73 "When loading list virtual scroll dont show it"
Hi.
Im trying to implement this solution to angular2/bootstrap tool.
When im implementing the html code to my list component it wont show. Nothing is shown. Through dev tools i can see the list exist and is transferred to your module. But VS wont send it to its components ( the smallest list is empty ) or send two elements and show it after the padding messing with my style. Always those two eleme

[2017-07-26 07:55] jmolla opened #74 "add webkitTransform android 4.4 support"
in Template
<div class="scrollable-content" #content [style.transform]="'translateY(' + topPadding + 'px)'">
      <ng-content></ng-content>
    </div>
Add attrbitue:
[style.webkitTransform]="'translateY(' + topPadding + 'px)'"

thanks

PS: great job!

[2017-07-27 06:39] hassam7 opened #75 "Scroll to"
Hi!!

Is there anyway to scroll to specific item, by it's index or id.
Say that I have a array and I am displaying 5 items using virtual scroll and want to scroll to item at index 5. How can I do that?

[2017-07-27 07:03] #75 closed

[2017-07-27 07:12] hassam7 commented on #75
The api method was already available I was not able to locate it on http://rintoj.github.io/angular2-virtual-scroll/.

my bad.

[2017-07-27 14:58] Marcelh1983 commented on #71
changing this.topPadding = d.childHeight * Math.ceil(start / d.itemsPerRow) - (d.childHeight * Math.min(start, this.bufferAmount)); works for me.

I think this.element.nativeElement.scrollTop should corrected the same way. But I didnt notice any difference changing this.

[2017-07-27 15:37] Mohendran opened #77 "Cant find a way to write e2e tests while using this... Is there an example or a way?"
I need to write e2e for an angular app with anguar2-virtual-scroll... But I need a way to write e2e's... Can anyone point me to an example or a way to write it

[2017-07-31 08:45] Mohendran commented on #51
@mahcr  Can U attach a screenshot and a snippet of ur code?

[2017-07-31 15:35] rdgfuentes commented on #67
@rintoj Great component, thanks a lot for it! It's awesome. We're planning on using it but we'll need to use bufferAmount. Are you planning on publishing your latest changes to NPM? bufferAmount it's not available on angular2-virtual-scroll@0.1.7 (the latest version published in npm). Let me know if there's anything I can do to help/contribute.

[2017-08-02 11:28] Ammueliza commented on #28
@rintoj Thank you so much for this wonderful module!!
Actually I'm in need of the horizontal scroll. Do we have an implementation for horizontal scroll as well?
Thanks  in advance.....

[2017-08-02 17:29] aaronfrost opened #78 "Can't get even simple example to work"
Hello all... when I try to get this component to work, it doesn't. I would really love to use it. Any help you can off would be appreciated. I have installed both the latest build, and the current commit in master. Nothing is working.

When I have my `ngFor` on a `div` it breaks. But when I put it on a span, it works, but they are all on the same line, which doesn't help me.

I created a new Angul

[2017-08-03 16:56] nkyordy commented on #78
It looks like you just missed some CSS. I nested it in a parent div and defined a border, width, and height to make it easier to see.

I created a pull request for you.

[2017-08-03 21:15] aaronfrost commented on #78
I love you @nkyordy! Thank you for the help.

[2017-08-03 21:15] #78 closed

[2017-08-04 08:19] ScottSpittle opened #79 "Simply will not work."
I've followed all the demos and documentation and simply cannot get this to work.
I wanted to have a list of n items and render more as I scrolled.

[2017-08-04 15:32] marcosanfilippo commented on #79
I have the same issue! I follow the demo and nothing works!
The scroll with fetch is very interesting. Unfortunately nothing works.

[2017-08-04 15:48] ronzeidman commented on #79
It should work for this scenario. I used it for the exact same scenario.
Notice that that the scroll element should have a size without items, I guess you have a css issue.

[2017-08-04 15:49] marcosanfilippo commented on #79
@ronzeidman I can't get it working. My issue is that if I have 20 elements, I cant limit it to show 5 (for example). How can achieve that?

[2017-08-04 16:53] marcosanfilippo opened #80 "Limit amount of item / nodes to show"
The provided example doesn't show how to limit the item / node.

In a list of 50 items, 15 are listed and others go into the scroll. How to limit to 5, for example?

[2017-08-04 18:01] ronzeidman commented on #79
You can limit the viewport height (set its height to the height of 5 elements), It will only show the number of items that fit into that height (even though the scroll will hint you have more) you can see the created elements on the dev-tools inspector.

[2017-08-05 05:41] AlexandrZl commented on #73
I have the same issue

[2017-08-09 16:23] rintoj commented on #80
The number of items to be listed is decided by the height of the container. In your case 15 is the number auto calculated by the component, considering height of the container and height of each element. To limit to 5 you must reduce the height of the container

[2017-08-09 16:23] #80 closed

[2017-08-09 16:25] rintoj commented on #79
@ScottSpittle, @marcosanfilippo, can you share your code?

[2017-08-09 16:26] rintoj commented on #77
@Mohendran, can you elaborate the issue you are facing with writing an e2e tests while using angular2-virtual-scroll?

[2017-08-09 16:38] #74 closed

[2017-08-09 16:41] rintoj commented on #73
I am assuming that you have an issue with the container size. The container element must have:
1. display: block
2. Predefined height and width

Please read https://github.com/rintoj/angular2-virtual-scroll#if-container-size-change to understand more about this or check out the demo project https://github.com/rintoj/angular2-virtual-scroll/tree/master/demo

[2017-08-09 16:41] #73 closed

[2017-08-09 17:09] rintoj commented on #72
@kelvindart, sorry for a late reply. Did you try to replace ion-list with a simple div, just to see if it works? It seems either `filteredJobs` or `job` or one of the attributes of `job` is not of the desired type. I am suspecting date fields. Can you check this?

[2017-08-10 06:01] rintoj commented on #66
@ghetolay, thanks for this. I will try and let you know how it goes.

[2017-08-10 06:33] kykint commented on #79
Virtual scroll will not work in any of these cases:
1. Virtual scroll doesn't have height or max-height
2. Inner elements don't have height (e.g. they are inline elements)
In other cases this component works very well

[2017-08-10 07:41] kykint opened #83 "Publish v0.2.0 on npmjs"
Could you publish v0.2.0 on npmjs? It is fully backward compatible, but has new features

[2017-08-10 08:08] Mohendran commented on #77
@rintoj Iam getting values from the api and using infinite scroll methodology.... Iam getting 100 values per api call.... But Iam viewing 10 rows of data.... (I can understand the reason why, 10 rows of data are present in the dom).... But In my e2e tests, I want to access all the data present... How do I accomplish this... Or should I follow any other logic...?

[2017-08-10 09:13] rintoj commented on #83
@kykint, thanks for your contribution. I just published v0.2.0

[2017-08-10 09:13] #83 closed

[2017-08-10 09:21] rintoj commented on #77
@Mohendran, The whole point of virtual scroll is to render minimal number of dom elements while rendering a list of large number of elements. So I think your test cases must reflect this. However if you want to access all of the data, you must scroll down through list and see if all of that is present.

[2017-08-10 09:21] #77 closed

[2017-08-10 09:22] #71 closed

[2017-08-10 09:23] rintoj commented on #70
@umeshv, Please check the latest version (v0.2.0),  you should have `bufferAmount`

[2017-08-10 09:23] #70 closed

[2017-08-10 09:24] rintoj commented on #69
Works with angular 4. I just updated demo project to angular 4.3.0. Please check https://github.com/rintoj/angular2-virtual-scroll/tree/master/demo

[2017-08-10 09:24] #69 closed

[2017-08-10 09:28] rintoj commented on #68
@ignaszewski, thanks for opening the issue. Moving this to low priority for now. I don't want to break already complex core logic. However I will consider this as I write the new version the component.

[2017-08-10 09:29] rintoj commented on #67
@rdgfuentes, published all the changes. The latest version is now v0.2.0. Thanks a lot for your contribution.

[2017-08-10 09:29] #67 closed

[2017-08-10 09:31] rintoj commented on #63
I would suggest to use base64 images or service workers to avoid this.

[2017-08-10 09:31] #63 closed

[2017-08-10 10:24] HugoHeneault opened #84 "Changing item height after init"
Hi there
Your virtualscroll looks awesome!

I'd like to know if it's possible to update an item height after init?
Like for having a "view more" button in some items in list.

[2017-08-10 10:39] HugoHeneault opened #85 "Working with ionic?"
Is it working with Ionic3?

I tried but it's rendering all the items instead of only the ones in the content viewport.

Then I tried to pass the Ionic content with:
[code]

content variable is defined in my page with
[code]

But I got a
`Uncaught (in promise): TypeError: parentScroll.addEventListener is not a function`

Any ideas?
Someone sucessfully implemented it in Ionic?

[2017-08-10 10:40] HugoHeneault commented on #72
@kelvindart Did you had any luck with ionic implemenation?

Thanks!

[2017-08-10 11:29] ankuradhey commented on #68
@ignaszewski  What about 100000 records (each row 40px)?

[2017-08-10 11:33] ignaszewski commented on #68
@ankuradhey as long as records * px <= IE Limit (1533917px) it will be no problem. Funny because during 1 month I step onto the same problem in 2 projects :).

[2017-08-10 16:30] kelvindart commented on #72
Hi guys,

@rintoj no worries! I haven't yet - however, I will do with that information. Can I still have `ion-item`s in a div? Indeed there are! Is that one of the issues then?

@HugoHeneault unfortunately not yet. I have not had chance to test @rintoj's suggestion though I will report back here when I do.

[2017-08-10 16:33] HugoHeneault commented on #72
@kelvindart Ok great. I'm sure you could save many devs lifes by making ionic work with your virtual-scroll as the ionic one is actually really broken for a long long time... 😭

[2017-08-10 16:38] kelvindart commented on #72
@HugoHeneault - hah, I know your pain! I have tried countless times to get it working, without luck (and hours wasted debugging). I will try my hardest... 🙂

[2017-08-10 20:57] chouclee opened #86 "[Support] Integrate with Material2's autocomplete"
I tried to integrate this lib with ``MdAutocomplete`` component:

[code]

[code]

``items$ | async`` got resolved properly,  but `this.auto.options.length` is always 0 and thus the autocomplete panel cannot be opened

Anyone successfully integrated with ``mdAutocomplet``?

[2017-08-11 05:09] rintoj commented on #84
@HugoHeneault, after the latest fix, changing item height after init should work fine, if you set `childHeight` input. Please reopen this if you are facing an issue.

[2017-08-11 05:09] #84 closed

[2017-08-11 05:12] rintoj commented on #85
You must pass a native element as parentScroll. Eg: `scrollingBlock.nativeElement`

[code]

Please check: https://github.com/rintoj/angular2-virtual-scroll#use-scrollbar-of-parent-block

[2017-08-11 07:17] HugoHeneault commented on #85
Thanks for your reply. I tried

[code]

[code]

But all the items are rendered once. :(
Have you ever tried it with ionic?

[2017-08-11 09:30] as02700 commented on #85
it work, thanks

[code]

[code]

[2017-08-14 08:13] Avishaidev commented on #85
Not success work in ionic2

`<div class="page-bottom" #myContent>

      <virtual-scroll [items]="jobs" (update)="viewPortItems = $event" [childHeight]="200" [parentScroll]="myContent?.nativeElement">
        <div style="height: 200px" *ngFor="let item of viewPortItems">{{item.TRLJOBNOSTR}}</div>
      </virtual-scroll>

    </div>`

[2017-08-14 08:17] Avishaidev commented on #85
Solves!!!
Add to virtual-scroll max-height style then its works

[2017-08-14 19:35] sanjaybhaskar commented on #79
I'm having the same issue. it renders all the items from the list. here is my repo
https://github.com/sanjaybhaskar/virtual-scroll

[2017-08-15 09:16] johndoejdg opened #88 "Scrolling items with variable height"
This code does not correctly work when scrolling items with variable height. It does not allow to scroll to bottom. Could you please consider remove this chunk of code?

src/virtual-scroll.ts
[code]

[2017-08-15 16:40] sanjaybhaskar opened #89 "Not working. Rendering all the items"
Virtual scroll renders all the items from the list. here is my repo to reproduce
https://github.com/sanjaybhaskar/virtual-scroll

[2017-08-16 13:51] huybn5776 commented on #89
Just three line you need to add.
recent.component.ts - >
`constructor(r: Router, public dataService: DataService,private apiEvent: ApiEvent,
              private  mdlLayout:MdlLayoutContentComponent){
    this.router = r;
    let rlcmodel = new rlcModel();
    this.rlcObject = rlcmodel.rlcObject;
  }`

recent.component.html ->
`<virtual-scroll [items]="rlcObject" (update)="viewPortItems = $event"

[2017-08-21 20:33] johaven opened #90 "Request : compatibily with html table"
It would be great to apply virtualscroll to a table.
For the moment, it seems to be impossible : https://github.com/rintoj/angular2-virtual-scroll/issues/51

[2017-08-22 20:38] simianarmy opened #91 "scrollInto method displays selected element at bottom of view"
I have a sample size of 10K fixed-height elements in 100-element buffer and everything seems to work fine.
My only complaint is that when I call scrollInto() with a target element, I would like it to display at the top of the viewport, not the bottom!
It would be nice to have an option to pass into scrollInto that could specify the position of the item, such as TOP, CENTER, or BOTTOM.

[2017-08-23 05:49] vapits opened #92 "Using with Angular Material data table?"
Hi guys,
amazing module!

I was trying to make it work with Angular Material data table (https://material.angular.io/components/table/overview) though it seems quite tricky. So I was wondering if there is available any example for this module to work with material data table.
That will be awesome!

[2017-08-23 12:34] nickorsk2017 opened #93 "Bug. List not showed if has one element. Is [childHeight] not set."
Bug. List not showed if has one element. (Chrome browser tested)
P.s. Best module)

[2017-08-23 13:44] MastaBleh commented on #51
Get over the form of this message, but this discussion is loosing time & efforts of way too much people.
Does anybody here as ever spent 5min to gather some informations ? God, its working, this discussion is bullshit. Only to say LOVE YOU all, i'll spend 7min registering and writting this.
Whats fed me up ? I got of course the same problem of you all but i simply did not stop at the first "its no

[2017-08-23 13:57] MastaBleh commented on #90
People like you are puting the world in fire.

Raising an issue because 'it seems impossible' to do something...
We are so happy that #90 is a completly new unrelated ticket, absolutly not the exact same thing as #51.

It seems that you are ... dosgijdfogfjdfg
qdf
godkqgfqd
fgkqd
^gfkdo
qfgo^ko

Close this ticket; read #51; make it work. Or explain exactly what is your problem with ts & html snipp

[2017-08-23 14:57] bellizio commented on #85
How did everyone get this to work with Ionic 3?

After installation and adding the markup to my view, I can't get past this error:
`Uncaught (in promise): Error: Template parse errors: Can't bind to 'items' since it isn't a known property of 'virtual-scroll'.`

[2017-08-23 14:57] MastaBleh commented on #51
content of answer : okay
form of answer: jerk

everybody agreed, so get focused on content.

[2017-08-23 14:57] MastaBleh commented on #90
content of answer : okay
form of answer: jerk

everybody agreed, so get focused on content.

[2017-08-24 18:34] manju-reddys commented on #68
@mleibman I have implemented your brilliant idea (7year old but still rock solid 💯 ) see the [plnkr](https://plnkr.co/edit/K0SSAxlLOfukNVAIcd3t?p=preview). I have stuck with one problem, how can I navigate to an item? My attempt didn't work.

[2017-08-24 18:36] manju-reddys commented on #28
I have implemented both horizontal and vertical scroll but more efficient and no limits on the records. See the [plnkr](https://plnkr.co/edit/K0SSAxlLOfukNVAIcd3t?p=preview)

[2017-08-25 12:36] bellizio commented on #85
I have the virtual-scroll working in my Ionic Native app, but have encountered the following issue when scrolling on a touch screen device (iOS or Android):

1) Populate a large list of items (100+)
2) Scroll the list quickly, touching and releasing your finger on screen (i.e. a flicking motion)
3) List appears blank until the screen is touched again

Here is my markup:
[code]

Any ideas on how to

[2017-08-25 12:56] MastaBleh commented on #51
Okay, so the use case i reduced to "proxy binding" is in fact more complex than expected.

**-> the goal is to handle a large amount of item with a decent performance**
_Keep in mind that the first thing to point out is the business need behind, this is a technical implementation relaying on various specific constraints. You need to challenge WHY do you need a such large amount of object, does it

[2017-08-28 13:43] tonypig93 commented on #85
@Avishaidev not working properly when it fetches more data to the list, it cannot display all items in the viewport.

[2017-08-29 17:38] disist opened #94 "Incorrect define scroll top in Firefox and use window as a parentScroll"
Hello guys,
Thanks for the great component.

I found some issue with `el.scrollTop` usage when we trying to get scroll top of body
[code]
Then `document.body.scrollTop` is not working properlly for Firefox https://stackoverflow.com/questions/28633221/document-body-scrolltop-firefox-returns-0-only-js

[2017-08-30 08:56] sbechet commented on #92
Did you look #58?

[2017-08-30 11:06] evanjmg opened #96 "bufferAmount does not exist on element AOT - latest 2.1"
Template parse errors:
       Can't bind to 'bufferAmount' since it isn't a known property of 'virtual-scroll'.
       1. If 'virtual-scroll' is an Angular component and it has 'bufferAmount' input, then verify that it is part of this module.
       2. If 'virtual-scroll' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

[2017-08-30 11:07] evanjmg commented on #96
Current workaround - downgrade to 1.8

[2017-08-31 13:05] sanjaybhaskar opened #97 "Unit testing the virtual scroll"
I want to unit test the virtual scroll please suggest the way to test this scenario
I have the component.html
[code]
in my spec file i'm trying to test the debug element of virtual-scroll to check the childnodes to the length of mock data. but the child nodes doesn't have the `<div/>` element inside the `<list-item/>`

[code]
when i log the ListItemElement i see below

[code]
Please help how can i

[2017-09-01 08:50] twjacobsen opened #98 "Request: smooth scrolling"
Hi,

Would it be possible to do one of the following?

Either a) scroll smoothly when using `scrollInto`
or b) providing a method to get the scroll-distance, and have the consumer of the plugin do the scrolling

Thanks

[2017-09-01 10:13] faraazc commented on #85
@rintoj in ionic 3, when used to load more data (end) or (change) event is not fired when scroll reaches end and as a result the function binding the end event is not called. can you please look in to thanks

[2017-09-04 07:14] markv opened #99 "Request: Item headers"
Is it possible to add in the ability to define headers for groups of items which would be a fixed height?

[2017-09-04 12:23] Worek opened #100 "List jumping when changing chunk"
Hi.
VS items are jumping, shaking and making party when scrolling through list. Sometimes items disappear from list and show after scroll. As i saw it happens when chunks are changed.

Also scrollInto is not reaching it destination, but stops in middle of way.

Could you repair it or show me a way to repair it?

[2017-09-04 13:05] Worek opened #101 "Request: update your documentation"
Please, update your guide with css requirements thet this component needs.

[2017-09-04 16:37] EricsG95 opened #102 "Horizontal scrolling to load"
Hi Sir, appreciate your work. I have been trying to get this work on horizontal scrolling, but it almots looks like impossible. Could you expound on this for me? Whether it is technically possible?

[2017-09-05 18:30] ourarash commented on #54
@tolemac Did you find any solution for this? I don't get the end event either.

[2017-09-05 21:14] ourarash opened #103 "Does not show when the list only has a single item"
No item is shown if the list length is 1. No update event is emitted.

[2017-09-06 07:52] tolemac commented on #54
I'm not sure now, I stopped use it due to I have diferents heights in my rows.

I have been looking, and I have my own versión, the diference with the original is:

Change that:
[code]

For that:
[code]

Try it and tell me ;)

[2017-09-06 08:33] rintoj commented on #103
It works for the demo project (within this repo). Please see the screenshot below.

![image](https://user-images.githubusercontent.com/10824903/30102038-fd90eb9e-930b-11e7-8736-059f2c906cdc.png)

[2017-09-06 08:33] #103 closed

[2017-09-06 08:37] #94 closed

[2017-09-06 08:55] #101 closed

[2017-09-06 08:58] rintoj commented on #100
Hi @Worek, please share your work, so that I can take a look at the problem

[2017-09-06 09:01] rintoj commented on #99
@markv, it is possible, but with some limitations.

1. The header must be one of the items in the list. You may declare a property with a flag to represent header.
2. The height of the header must match almost the item. (just try with different heights until you get it right)

With these two things taken care, you must be able to define group headers. Please feel free to reopen this if you running

[2017-09-06 09:01] #99 closed

[2017-09-06 09:07] sitexw opened #104 "Scroll bug (jerky, vibration) with "parentScroll" and variable item sizes"
Hello,

I have a bug I do not use the "parentScroll" attribute with a custom HTML element and variable size item.
This creates a visual bug that jerks, vibrates or scrolls backwards.
This is an example, scroll to the bottom and you will see the bug :
https://plnkr.co/edit/g8WLBOgqDJjPsoffETEA?p=preview

Thank you.

[2017-09-06 09:17] rintoj commented on #104
Hi @twjacobsen, It is not possible to implement a smooth scroll with items with variable size as in the example. All the calculations are based on the first item and first item only. So if other items in the list don't match the width and height of the first (visible) item in the list, the calculations would go wrong.

Considering every item's size in the list without affecting the performance is

[2017-09-06 09:35] Worek commented on #100
I cant becouse its company code. But In items i have several observables thet connect to services and http. As i think this is problem becouse angular is creating those items "in go" when scrolling throug list with your component.
To prevent it, could you show me how to Lazy Load List element by element. I mean when using ngFor load first element, after it is loaded, load second element etc...

[2017-09-06 10:13] twjacobsen commented on #104
If it's possible to scroll a number of pixels, it's possible to animate it.
Just scroll a subset of pixels every x milliseconds.

But the alternative of just providing a method of getting the number of
pixels to scroll, instead of scrolling, would be nice too.

On Wed, 6 Sep 2017, 11:17 Rinto Jose <notifications@github.com> wrote:

[2017-09-06 10:15] rintoj commented on #98
Hi @twjacobsen, added smooth scroll for `scrollInto` and published (v0.3.0). Check the demo here: http://rintoj.github.io/angular2-virtual-scroll/#samples. Please note I have added a **Scroll to 50** button

[2017-09-06 10:15] #98 closed

[2017-09-06 10:19] rintoj commented on #96
This should now be fixed. Latest v0.3.0. Please reopen if this isn't.

[2017-09-06 10:19] #96 closed

[2017-09-06 10:20] rintoj commented on #93
It works for the demo project (within this repo). Please see the screenshot below.

![image](https://user-images.githubusercontent.com/10824903/30102038-fd90eb9e-930b-11e7-8736-059f2c906cdc.png)

[2017-09-06 10:20] #93 closed

[2017-09-06 11:01] e-cloud commented on #12
@cpa-level-it your idea will not work.

The current logic is based on a given/calculated dimension, then slices out the source list, and notifies user to update the list. There is no rendered element(in fact, it has some, but doesn't matter) before slicing, in general. So there is no way to know the elements' dimension when slicing with current design.

unless we redesign the processing flow and a

[2017-09-06 11:31] chrillewoodz opened #105 "Laggy when using ng-template and context"
I'm using VS in a component named `data-list`, then I use it like so:

[code]

and inside `data-list`'s template I use a template outlet along with the virtual scroll:

[code]

The problem with this approach is that it seems to lag because of this template outlet. Probably because using `$implicit` isn't very efficient, but I'm just making a random guess.

Is this something that's a known issue an

[2017-09-06 19:59] LeXa777 opened #106 "Filter pipe being called too many times"
Hello,

I need to filter the items I provide to the virtual list with a pipe but the problem is: the pipe is run like 100s of times until I have to close the tab as it becomes unresponsive. I have taken out the virtual scroll and run my pipe on a simple ngFor just in case I have done something silly in the pipe itself, but without virtual scroll it's just getting called twice (which I think is nor

[2017-09-07 21:22] Idicious opened #107 "trackBy not working correctly"
The trackBy function seems to always get an index instead of the item itself, here is the code I'm using:

`<virtual-scroll #scroll [parentScroll]="scroll.window" [items]="(service.items$ | async)">`
      `<item *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn" [item]="item"></item>`
`</virtual-scroll>`

`public trackByFn(item: Item) {
      return item.id;
    }`

The value passed in

[2017-09-07 22:00] vegarda opened #108 "total-padding is wrong when using multiple columns, and items doesn't fill last row"
If I have 11 items of 100px height, in single-column the total-padding is correct: 1100px.

But if I use double-column, the total-padding is incorrect: 550px, when is should be 600px.

It makes the scrollbar jerky when you reach the bottom.

[2017-09-08 03:22] rintoj commented on #107
Here is the signature of `trackByFunction`

[code]

https://angular.io/api/core/TrackByFunction

[2017-09-08 03:22] #107 closed

[2017-09-08 03:25] rintoj commented on #108
This works fine with the demo project included in this repo. Please check this link for live demo: http://rintoj.github.io/angular2-virtual-scroll/#samples

I am assuming you would have missed to define the size of the children (both width and height).

[2017-09-08 06:56] twjacobsen commented on #98
Looks good in the demo, but I don't see the 0.3.0 release anywhere here on github?

[2017-09-08 07:33] vegarda commented on #108
Shouldn't this work?

https://plnkr.co/edit/rlDGQe6Y5MtEFFtOAWfi?p=preview

[2017-09-08 16:18] franzeal commented on #89
I had a similar issue, however the proposed solution wasn't working for me.

My scenario is I have a flexbox with a percent height that the virtual scroll is intended to fill the remaining space of (has a some form elements above it).  I could nest flexboxes in to get the virtual scroll to take the remaining height, but that only worked in Chrome and not IE11 and FF.

My virtual scroll is wrapped

[2017-09-08 23:10] diegofalciola commented on #104
Setting a fixed height to my rows fixed the problem.
 I assume that some scenarios will not work here, but in my case I set the minimum height expected for the row.

Doing this fixed the inner calculations issues while scrolling

thanks @rintoj

[2017-09-12 03:07] sam-lex commented on #54
I encountered the same problem, but took me longer to identify it, in my case it was barely showing all the items, so it had a little scroll, and my `change` event wasn't being called until I resized... but anyways, I solved like this:

on `onInit` I fetch the initial data, once it completes, I wait for about `100ms` using `setTimeout` (waiting for it to render the elements etc.. otherwise `.previ

[2017-09-12 04:28] ananddc1989 opened #109 "IE demo sample not working"
i am try to check the performance in IE11 using this link http://rintoj.github.io/angular2-virtual-scroll/#samples

sample is not working in IE11, please fix it

[2017-09-12 05:16] a139383 commented on #109
@ananddc1989, Please feel free to raise a PR.

[2017-09-12 17:35] jonasbo commented on #108
Adding ceil fixes this:
    this.scrollHeight = d.childHeight * **Math.ceil**(d.itemCount / d.itemsPerRow);
I'm not really familiar with pull requests.

[2017-09-12 20:42] micahwood opened #112 "Bug. List does not show if only one item is set asynchronously"
If the variable containing the list of items goes from undefined or an empty array to 1 item then 0 nodes are rendered in the list. I have built a plunker to demonstrate this issue. It looks like the issue is the (update) event is emitting an empty array when there is a single item. I have added console logging to the (update) callback and when no items are rendered in the list the callback receiv

[2017-09-12 21:31] micahwood commented on #112
It looks like this line may be the issue. Before it is is called with a single item array, start is set to 0 and  end is set to -1, which results in this.viewPortItems being set to an empty array.

`this.viewPortItems = items.slice(start, end);`

[2017-09-13 18:24] francoro opened #113 "Template parse errors: Can't bind to 'item' since it isn't a known property of 'list-item'."
i have this error with the plugin. i installed like it said npm i angular2-virtual-scroll and i added to the app.module.ts in imports. this is the error:

 Template parse errors: Can't bind to 'item' since it isn't a known property of 'list-item'. 1. If 'list-item' is an Angular component and it has 'item' input, then verify that it is part of this module. 2. If 'list-item' is a Web Component then

[2017-09-13 19:02] francoro commented on #113
I solved using div tag inside <virtual-scroll>

[2017-09-13 19:12] francoro opened #114 "[item] in list-item doenst work throw error"
this is the example
<virtual-scroll [items]="items" (update)="viewPortItems = $event">
    <list-item *ngFor="let item of viewPortItems" [item]="item">
    </list-item>
</virtual-scroll>

this is my code

<virtual-scroll  class="cards-list-view" [items]="properties" (update)="viewPortItems = $event">
        <div class="list card card-item" *ngFor="let property of viewPortItems" [item]="property"

[2017-09-13 19:24] francoro opened #115 "<div _ngcontent-c4="" class="scrollable-content" style="transform: translateY(300px);">"
http://rintoj.github.io/angular2-virtual-scroll/#samples

In my case it doenst update the transform value when i scroll what iam missing?
i cant put it the [item] in the virtual-scroll child also y have to use a div not list-item it throw me a error that it can add that property to the div. I think the problem is around there

[2017-09-14 11:30] sam-lex commented on #114
`<list-item *ngFor="let item of viewPortItems" [item]="item">`
In this example
`list-item` would be a component that has an `@Input` of item, hence `[item]="item"`

Since you're using a `div`, then there will be no `@Input` for `item`.
Here's my example:
[code]

[2017-09-15 01:55] rcfrias opened #116 "Adding an ion-searchbar messes with the list height."
I have an "ion-searchbar" and the list inside the "ion-content".  Both ui components work as expected, only the last item in the list get chopped out exactly the height of the ion-searchbar.  Not sure if it is possible to define a style height 100% - (searchbar height)...

[2017-09-16 21:28] tstirrat opened #118 "Performance suggestion: Batch array slices into chunks"
Consider slicing the array at fixed chunk boundaries. It would reduce the number of times that change detection and `array.slice()` needs to run.

[2017-09-17 15:11] yossi-shasho commented on #102
+1

[2017-09-17 20:21] kukiel commented on #97
@sanjaybhaskar You need to test it asynchronously as viewPortItems variable is calculated in requestAnimationFrame. Example:

[code]

[2017-09-18 11:57] francoro commented on #114
My problem is that i have a infinite scroll so when i add elements i doesnt keep the first 10 like the example that change the data in the elements, in mi case it adds the other 10 when i go to the end of the page.In the example its update the parent with transform and change the object data in my case it does not update

[2017-09-18 12:03] sam-lex commented on #114
so you're saying that when you add another 10 elements, your first 10 elements disappears?
are you doing perhaps like this?
`this.items = newData;`
If this is the case, then change it to:
`this.items.push( ...newData );`

[2017-09-18 12:07] francoro commented on #114
No, when i add 10 elements i do concat so when the first scroll to the bottom i have 20 items. What i want is like the example that it keeps the ten elements and only changes the data in the them. like this http://rintoj.github.io/angular2-virtual-scroll/

[2017-09-18 12:11] kukiel opened #119 "Update code on gh to v0.3"
In this repository latest commit is for version 0.2.2 but latest npm version is 0.3. Could you please update code?

[2017-09-18 13:06] victorbonilla opened #120 "No provider for VirtualScrollComponent!"
I am trying to implement this example https://github.com/rintoj/angular2-virtual-scroll#focus-on-an-item but all I get is the following error:

`ERROR Error: Uncaught (in promise): Error: No provider for VirtualScrollComponent!`

I am importing VirtualScrollModule in the component module that it is actually using this component. I tried to importing into higher level modules, but with no luck

[2017-09-18 18:33] francoro opened #121 "transform(translateY) doenst update"
http://rintoj.github.io/angular2-virtual-scroll/#samples

I see in this example that when you scroll the parent it updates the transform(translate y) in my case it doesnt.

[2017-09-19 20:51] niklas-dahl opened #122 "bufferAmount leads to render of way too many items"
I have a list of 1000 items and I'am using this component like this:

[code]

when using the virtual scroll component in my project without `bufferAmount` 37 items are rendered.
when setting `bufferAmount="10"` all `1000!` items are rendered.

Reproduced here: https://stackblitz.com/edit/angular-6q9pjj?file=app%2Fapp.component.html

Otherwise a great working component with an elegant api :+1:

[2017-09-19 21:36] aaronfrost opened #123 "Virtual Scroll paints all items to DOM when the view are is 0 height."
In one of my views where I am using this component, if I go to the view a very specific way, the view takes 18 seconds to init. I finally found out what is going on... even though I haven't been able to create a plunker to reproduce it for you. Let me do my best to explain. I think it is an easy fix.

I have 20,000 items in an array. I am using virtual-scroll to efficiently display these items (th

[2017-09-19 23:26] aaronfrost commented on #123
Added a PR for this. https://github.com/rintoj/angular2-virtual-scroll/pull/124

[2017-09-21 21:23] simianarmy opened #125 "scrollInto() animation ends before reaching target"
I have a large list with about 4 items per page, with images and other data.  When I try to use scrollInto to jump ahead many pages, the scrolling animation stutters and fails to reach the target item before the animation timer expires.
I see other perf improvement PRs here that might address this, but was wondering if there were any simple optimizations I could do to solve this

[2017-09-23 07:27] #90 closed

[2017-09-26 06:00] rintoj commented on #125
It seems an issue with the child height and width. I am assuming that you get the same stutters as you scroll normally without using `scrollInto()`, the reason could be same.

[2017-09-26 14:49] VitaliyKotov commented on #28
@rintoj It seems that it's possible to add horizontal scroll by CSS rules only:
1. Set `overflow: auto` for virtual-scroll component (I just added a class to tag <virtual-scroll class="virtual-scroll">
2. Set the following rules to `.scrollable-content`:
/deep/ .scrollable-content {
    display: inline-block;
    white-space: nowrap;
    width: initial !important;
}

[2017-09-27 10:47] vegarda commented on #108
@rintoj Please respond

[2017-09-27 21:11] tstirrat opened #126 "What is the local development story?"
I have tried to quickly iterate locally using the demo server, but it uses the published npm package, so changes to `src/virtual-scroll.ts` do not make it into the local server.

I tried using `npm link`, but it doesn't work:

[code]

The only way that seems to work is push a branch to github, then set `demo/package.json` to use the github branch, and run `npm i` every time. This is painful.

What

[2017-09-28 11:35] lousley commented on #113
I have the same problem in my angular 4 project. How do you solve the problem with div? Do you have an example?

[2017-09-29 15:18] michaelkrog opened #127 "On-demand API similar to virtual-repat in material 1"
The virtual-repeat in Material 1 has an API for infinite scroll that allows to read data from a list that has not yet been fully loaded. Instead of data being a standard Array it is an object with 2 methods:
__getItemAtIndex()__
__getLength()__
See https://material.angularjs.org/1.1.5/api/directive/mdVirtualRepeat (bottom)

It exposes the same methods available through a standard Array, but allows

[2017-10-02 16:42] danielcrk opened #128 "How to handle vertical offset of the list"
First of all, this is really awesome, thanks a lot for your work!

I have a case where my list is not placed on top of the page, but you have to scroll down to get to it. What would be the best way to handle this? I'd rather not wrap the entire content with the virtual scroll element and treat the entire content as a "header", which I guess would be a possible solution.

Would it be possible to ad

[2017-10-02 17:55] VitaliyKotov commented on #28
We faced the same issue in our app, and together with @codenough managed to add horizontal scroll with CSS styles only.
Set `overflow: auto;` to virtual scroll host element and
/deep/ .scrollable-content {
       white-space: nowrap;
       min-width: 100%;
       width: initial !important;
  }

[2017-10-03 00:27] tekkenking opened #129 "This is not working with ionic 3.6.1"
This is a very lovely work, but it doesn't seem to work with ionic 3.

This is the sample code
<virtual-scroll [items]="items" (update)="viewPortItems = $event">
    <list-item *ngFor="let item of viewPortItems" [item]="item">
    </list-item>
</virtual-scroll>

The <list-item> is causing error of unknown element in ionic and when i changed to <div> and excluding [item]="item" am just getting a bl

[2017-10-03 06:22] danielcrk commented on #129
Not sure about that specific issue, but I don't think it is Ionic related, I use it with no problems at all. Without lazy loading tho.

Try removing [item]="item" from the list item (don't think it should be there), and try adding the [childHeight] property to the list. Missing that property could make the list appear blank.

[2017-10-03 14:42] tekkenking commented on #129
Thanks for the reply.. I appreciate..

I did as you instructed. I added [childHeight] and also used <list-item> inside <virtual-scroll> here is the error i got.

`Runtime Error
Uncaught (in promise): Error: Template parse errors: 'list-item' is not a known element: 1. If 'list-item' is an Angular component, then verify that it is part of this module. 2. If 'list-item' is a Web Component then add '

[2017-10-04 08:02] rintoj commented on #126
@tstirrat, Thanks for your contributions.

I think this is difficult part of maintaining an angular component. I am not sure if my methods are optimal, but works for me.

## Method 1:

1. Do `npm pack` at root of the project, every time we make a change. This should create a file `angular2-virtual-scroll-<VERSION>.tgz` at the root
2. Then update demo project to use this. I usually uninstall `npm u

[2017-10-04 08:40] #66 closed

[2017-10-04 14:32] tekkenking commented on #129
Please i still need help with this anyone at home?

[2017-10-04 15:57] danielcrk commented on #128
@rintoj any idea about this?

[2017-10-04 17:21] blingerson opened #131 "Removing and item for array does not update the list until user scrolls"
If I have a list of items:

`<virtual-scroll
        (update)="themeItems = $event"
        [items]="themes"
        class="list-group">
        <theme-item
            class="list-group-item"
            *ngFor="let themeItem of themeItems"
            [theme]="themeItem"
            (onDeleteTheme)="deleteTheme( $event, confirmDeleteTheme )">
        </theme-item>
    </virtual-scroll>`

onDelet

[2017-10-04 17:40] blingerson commented on #131
The only work around I have found so far is removing the viewPortItems manually and calling update, but this means that the number of items shown is one less per delete until the user scrolls.

ie.
`this.virtualScroll.update.emit( pull( this.virtualScroll.viewPortItems, this.themeToDelete ) );`

[2017-10-04 21:16] WhatzzUp commented on #131
I struggle with the same problem.

[2017-10-05 05:36] rintoj commented on #131
@blingerson, can you try to make `themes` an immutable array? ie. when you remove a theme from the array make sure to create a new array:

[code]

[2017-10-05 07:56] dtomaszewski opened #132 "Nested ngFor"
Is it possible to make virtual scroll working for nested ngFor ? I need to make table with possibility to collapse groups.

I'm trying such simple example and all attribute items are rendered

    <virtual-scroll [items]="levels" (update)="viewPortLevels = $event">
        <div *ngFor="let group of viewPortLevels[0].groups">
            <strong>{{group.name}}</strong>

            <div *ngFor="let

[2017-10-07 14:31] medeirosrafael opened #133 "Three or more columns"
Hello. I'm using this plugin with bootstrap. My "list-item" has the class "col-4", so, three columns per row. But, when the page loads, just two box is shown on the first row. When i scroll the virtual-scroll container, its normalize. How can i fix it?

[2017-10-09 12:43] istiti opened #134 "expand collapse"
would be nice to have expand/collapse feature (load data on click) and kepp virtual scroll, any idea?

cc @rintoj

[2017-10-10 08:12] bastienlemaitre commented on #86
Same problem...

[2017-10-10 11:02] kykint commented on #104
https://github.com/rintoj/angular2-virtual-scroll/pull/110 smooth scroll implemented here

[2017-10-10 14:17] FlyingKatinka commented on #112
we have the same problem in our application. Workaround for us is not to use the viewPortItems for the ngFor Loop but to use the array variable containing the items directly.

instead of:
 <virtual-scroll class="flex" #scroll [items]="**service.items**">
       <list-item *ngFor="let track of **viewPortItems**" class="md-2-line">
       ....

use:
 <virtual-scroll class="flex" #scroll [items]="**s

[2017-10-10 16:47] mitasovr commented on #100
Hi, I'v got same problem
1. Render array with a lot of items
2. `scrollInto(items[items.length -1])`
3. On some user action `items.push(newItem)`
4. Then `scrollInto(items[items.length -1])`
5. Repeat few times (3-5)

After that items are jumping on scroll. Actually scrolls container only, items just jumping and no changes in DOM

Unfortunately can't share my project

[2017-10-11 14:34] kykint opened #135 "Merge pull request 110"
https://github.com/rintoj/angular2-virtual-scroll/pull/110
added smooth scrolling for non fixed-height elements

[2017-10-12 06:31] utkagarwal commented on #106
I too have the same problem.Have u found a solution @LeXa777 ?

[2017-10-12 15:34] tstirrat commented on #126
Thanks! I was using a variant of method 2. It would be good to find a way
to use `npm link`, it's much simpler.

On Wed, Oct 4, 2017, 1:02 AM Rinto Jose <notifications@github.com> wrote:

[2017-10-12 17:49] eloyleonardo commented on #112
Same problem here.
If i not mistaken the solution of @FlyingKatinka will work but will add all the items to the dom (isn't virtual repeat anymore).
The only solution i can came with is using *ngIf while this problem isn't solve. Did you find a better solution ?

[2017-10-12 19:19] micahwood commented on #112
I currently use a function for the (update) callback so I can manually assign the 1 item if it isn't going to be rendered.

[code]
[code]

[2017-10-12 19:45] eloyleonardo commented on #112
That is far better solution than the one that i was thinking.
Thank You  @micahwood

[2017-10-12 20:21] FlyingKatinka commented on #112
we will use the solution of @micahwood too until the problem is solved

[2017-10-15 04:53] naharyd opened #136 "Bug in "disposeScrollHandler" assignment"
Hi,

I **think** there is  bug in your code related to resize, instead of assigning disposeResizeHandler handler to resize you are assigning disposeScrollHandler to resize
<pre><code>
this.zone.runOutsideAngular(() => {
        this.disposeScrollHandler =
          this.renderer.listen(parentScroll, 'scroll', this.refreshHandler);
        if (parentScroll instanceof Window) {
          <b>this.dis

[2017-10-18 01:13] puppeteer701 opened #137 "(end) not triggered on window"
When virtual-scroll doesn't have a set height, ```(end)``` is never triggered, even though scrollbar is on the bottom.

[2017-10-18 22:50] shanshanzoe opened #138 "dropped support for parentScroll?"
is this parentScroll api already available? I installed from npm but looks like it's not working

[2017-10-20 03:19] JoshMarkF opened #139 "Module "@angular/core/index" has no exported member 'Renderer2'"
I am attempting to use this with an angular2 project.
However I am getting the error 'Module "@angular/core/index" has no exported member 'Renderer2'' every time I npm install and include the code.
As per my understanding, Renderer2 is used in Angular4, but I am relatively new to Angular.
Am I doing something wrong, or is there a fix for this issue?

[2017-10-24 03:23] pavimus commented on #135
This is very important feature for me, i vote for this!

[2017-10-24 13:57] medeirosrafael commented on #129
do you have a component called "list-item"?

[2017-10-24 16:07] johndoejdg commented on #88
No more reproducible.

[2017-10-24 16:07] #88 closed

[2017-10-25 05:15] tekkenking commented on #129
I finally implemented list-item element and the error message disappeared.

Thanks

[2017-10-25 16:49] rafaelcgdf commented on #139
I'm having the same issue,

Is there any way we can use the library with angular 2? I can't update to 4 just yet

[2017-10-26 18:01] marabesi commented on #102
duplicated https://github.com/rintoj/angular2-virtual-scroll/issues/28

[2017-10-30 11:41] abelkbil commented on #133
me too. it is not triggering event to load,

[2017-10-30 17:16] patrickracicot commented on #138
@shanshanzoe It seems to work, but their seems to be a bug where when you specify a `parentScroll`, the `virtual-scroll` element has the style `overflow-y:hidden;` applied which prevents the `parentScroll` to actually have a scroll.  Where I use it, overriding the style `overflow:visible` seems to fix it.

[2017-10-30 23:46] natcohen opened #140 "Use body scroll instead of container scroll"
I would like to have the same behavior as this: http://developerdizzle.github.io/react-virtual-list/ (when Contained is not checked...). The list uses the scroll of the body instead of the virtual container.

I thought defining `[parentScroll]=window` would make it but I still get the scroll on my `virtual-scroll` container. Is it possible to achieve that or am I misunderstanding what `parentScrol

[2017-10-31 00:37] natcohen commented on #138
Is it related (https://github.com/rintoj/angular2-virtual-scroll/issues/140)? If it is, I'll close it.

[2017-10-31 09:03] nishesj commented on #138
Seems like [parentScroll]="scroll.window" is not working on latest version
instead you have to define window on component and use it like [parentScroll]="window"

[2017-10-31 10:14] natcohen commented on #138
@nishesj Even by configuring the window, everything is messed up. If I set up the height of my `virtual-scroll` component, the scroll of my body remains small (`total-padding` has the right height but because it's in `virtual-scroll` which has only a limited height). If I don't set up the height of `virtual-scroll`, all the nodes are created...

Something seems to be broken in the design.

[2017-10-31 11:17] nishesj commented on #138
have you tried giving your body fixed height ? something along height: 100vh;

[2017-10-31 11:27] natcohen commented on #138
@nishesj Yes, I did...if you give a predefined height, no chance you'll get the scroll expanded anyway. I'm curious to understand how @a139383 intended to make it work because I don't see how it could ever work

[2017-10-31 12:45] natcohen commented on #138
@nishesj I got it working! you were right, body needed a height!

[2017-10-31 12:46] #140 closed

[2017-11-01 08:56] ben2323 opened #141 "Initial scroll position"
Is there any way to have an initial scroll position? say if I have a dropdown with a selected item in it, so I would like to initially set the scroll position to where that item is.

[2017-11-02 17:13] Laoujin opened #142 "Compatibility with Dragula"
Dragula Drag&Drop library: https://github.com/valor-software/ng2-dragula

The problem:
[code]

Generates:
[code]

I think that being able to put the `[dragula]` attribute on the `div.scrollbable-content` would fix the Dragula functionality.

Is there any way to put certain classes/inputs etc on the .scrollable-content?

[2017-11-03 15:22] lilraft opened #144 "PageUp's"
How to correctly handle PageUp and PageDown, when scrolling virtual scroll? When focused item is out of the DOM, PageUp's stop working

[2017-11-04 19:15] ourarash opened #145 "Scroll with variable height is very jerky"
I'm this setup:

[code]

And I do not lock the height of each item, but the result is that the scroll is very jerky. Is variable height supported? I really appreciate if someone can post an example of items with variable height that works smoothly.

[2017-11-05 02:22] ourarash commented on #145
I noticed when I do npm install, I don't get the latest version.  I used method 1 discussed [here](https://github.com/rintoj/angular2-virtual-scroll/issues/126), and was able to make it work, but now the end event doesn't fire. Is this the right way to do it?

[2017-11-05 04:56] kykint commented on #145
I'll recheck end event. It was working previously.

[2017-11-08 16:21] silverio commented on #85
hi @faraazc did you find a solution?

[2017-11-09 03:45] zjw1918 opened #147 "scrollInto with variable height problem"
scrollInto() with variable height, only takes the min height as the offset?

[2017-11-09 11:04] johaven opened #148 "Bug with dragstart events"
There is a bug when a draggable component is inside virtual-scroll like this :
[code]
For the first elements was showed by viewPortItems all is fine.
But for all the other elements, that are loaded in the DOM during the scroll, there is no ghost image appears during the drag action.

Bug found with Firefox and Safari (Ok on Chrome)

[2017-11-09 13:59] rdgfuentes commented on #139
I'm having the same problem. We need to update to v0.3.1 to solve the performance issue (https://github.com/rintoj/angular2-virtual-scroll/pull/117) but it seems that now Angular 4+ is mandatory and we can not upgrade our app so easily from Angular 2 to Angular 4. Is that correct @rintoj  @a139383 ?

[2017-11-11 16:25] alsosweet opened #149 "it doesn't work for me when integrate with ng-lazyload-image"
1.npm install ng-lazyload-image@3.3.3  --save
2.
import { LazyLoadImageModule } from 'ng-lazyload-image';
...
@NgModule({
    declarations: [ AppComponent ],
    imports: [ BrowserModule, LazyLoadImageModule ],
    bootstrap: [ AppComponent ]
})
export class MyAppModule {}
3.
    <virtual-scroll
      [items]="buffer"
      (update)="scrollItems = $event"
      (end)="fetchMore($event)" #container

[2017-11-18 16:58] maku commented on #27
@amirsaber Do you have an example how to use it with Angular Flex Layout. I am not able to get it working.... TIA

[2017-11-19 15:40] maku opened #150 "angular2-virtual-scroll with flexLayout"
I have problems to use angular2-virtual-scroll together with flexLayout (https://github.com/angular/flex-layout).

.e.g. I want display some kind of cards in a row with wrapping. The number of cards depend on the screen size

[code]

How can I reach this kind of functionality within virtual-scroll

I prepared sample code in stackblitz (https://stackblitz.com/edit/angular-material2-issue-agditq) wh

[2017-11-20 01:59] fedorl opened #151 "Incorrect scroll height"
This line is incorrect:
`const scrollHeight = childHeight * itemCount / itemsPerRow;`
It should be
`const scrollHeight = childHeight * Math.ceil(itemCount / itemsPerRow);`
otherwise it counts only fraction of last row height if it is not full.

You'll not see it with default scrolling because scroll is handled by element. With parentScroll, however, it under-scrolls last row.

[2017-11-20 01:59] fedorl commented on #151
Ah, sorry it is already fixed in https://github.com/ribizli/angular2-virtual-scroll/commit/72e0265162c8f01775dfcd3ed3958a28eccb5d41

[2017-11-20 02:00] #151 closed

[2017-11-20 10:16] kykint commented on #147
https://github.com/rintoj/angular2-virtual-scroll/pull/110 Fixes are here

[2017-11-22 12:11] kordeviant opened #153 "unexpected behavior when items are placed inside #container"
there is no documentation on the styling of the container element and when no style is applied, count of objects that get created is more than viewable count(different from when items are not inside #container)

[2017-11-22 12:31] awaisaltaf opened #154 "has no exported member 'Renderer2'."
I just installed and add into modules and getting this error. has no exported member 'Renderer2'.

[2017-11-24 09:39] danielcrk commented on #128
ping @rintoj :)

[2017-11-28 15:06] GlennVanSchil commented on #131
Any update on this?

[2017-11-30 01:23] gentle9 opened #155 "Virtual Scroll with dynamic size"
Hi,

is it possible to have a dynamic size of the virtual scroll container element?
I don´t mean the childs I mean the container itself. I have a resizeable div like gridster and want to have a virtual scroll inside it. If I don´t define the size in px in CSS of virtual scroll it is not working. I have tried to set the size with % but this doesn´t work either.

Best Regards

[2017-11-30 14:40] oktav777 commented on #142
Maybe this will not solve your problem with [dragula](https://github.com/valor-software/ng2-dragula), but I use [ng2-dnd](https://github.com/akserg/ng2-dnd) and it works like a charm with ~500 areas in `virtual-scroll` that listen for `drop` event.

[2017-11-30 15:41] Laoujin commented on #142
We've copied the virtual-scroll source and adjusted the `scrollable-content` container div.

Far from ideal but it works...

[code]

[2017-12-05 10:58] maxim1006 opened #157 "end event doesn't work properly"
Please add proper end scroll event

 if (end !== _this.previousEnd && _this.startupLoop === false) {
                    _this.end.emit({ start: start, end: end });
                }

this condition isn't right

[2017-12-08 09:42] GlennVanSchil commented on #120
Same issue here

[2017-12-08 12:47] GlennVanSchil commented on #120
I managed to get it working in a sub-module of my project.

1. I've added the package to my project `yarn add angular2-virtual-scroll`
2. Included in my sub-module.module.ts
[code]
3. Used it in my sub-module's root component sub-module.component.html as described in the read me
4. an additional step I had to do was declare the viewPortList in my typescript as well.

My IDE did keep complaining th

[2017-12-12 14:50] istiti commented on #134
Any news about this feature ?
actually im using this library in my project with `LOADING IN CHUNKS` feature  on a `<table>`

Sometimes we need group certains items from servers response into one `<tr>` line and click on it expand it but keep virtual scrolling working, seems actually it breaks.

cc @rintoj

[2017-12-12 14:51] Shmasya opened #158 "'virtual-scroll' is not a known element"
Angular: 'virtual-scroll' is not a known element: 1. If 'virtual-scroll' is an Angular component, then verify that it is part of this module. 2. If 'virtual-scroll' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

[2017-12-14 14:49] calahatras commented on #158
Did you import the VirtualScrollModule in your application? Otherwise it won't find the virtual-scroll component.

[2017-12-15 06:28] AGLearning opened #160 "Example with using window scroll"
I can't get it working:/

[2017-12-16 09:44] Shmasya commented on #158
Of course I added VirtualScrollModule.

[2017-12-18 10:30] calahatras commented on #158
Okay, sorry. It's just that the message you provided is usually because the module is not added correctly to your application. At the moment I am unable to help you out anymore unless you provide more information.

[2017-12-20 12:58] Guedez opened #161 "Change scrollable-content class' height from 100% to auto"
Change scrollable-content class' height from 100% to auto
Without this, the bufferAmount property don't work.

It could be related to me using the virtual-scroll inside a flex-box, but I can't be sure of it.
I've changed it inside the node_modules/angular2-virtual-scroll/virtual-scroll.js, but I am unsure of the consequences, and probably will lose my 'fix' if I ever update the dependencies

[2017-12-26 09:52] darklx commented on #160
+1
I'm also

[2017-12-28 08:49] DongFangMingLiang opened #162 "Scroll bars cannot slide!!!"
![image](https://user-images.githubusercontent.com/22604816/34405369-f9bf740a-ebed-11e7-8b86-9df6912d9706.png)
**When I execute the code on top of the two quickly
The scroll bar can't roll properly**

[2017-12-28 09:38] shohrukh92 commented on #142
This option is also works fine:
[code]

[2017-12-28 12:51] abmnukmr commented on #154
I have same issue

[2018-01-01 11:52] tolemac commented on #93
The same here...

With one:
![image](https://user-images.githubusercontent.com/247167/34467448-765b80a6-eef2-11e7-8a91-e75fa4824d13.png)

With two:
![image](https://user-images.githubusercontent.com/247167/34467452-a8da3ac2-eef2-11e7-9593-98bd40257d09.png)

[2018-01-01 12:49] tolemac commented on #93
I'm not sure but I think is about calculate `childHeight` calculation on `calculeDimensions`.

I have solve it adding this to the template:

[code]

[2018-01-03 11:13] WebField commented on #158
I have the same problem. I added it to the imports array in the app.module.ts

angular version 4.3.2

[2018-01-05 17:01] arunpallikandath opened #163 "Juggling of Items after certain point of scroll"
After a certain point of scroll, item started juggling. Some items which are already scrolled just coming up again.  It is on Ionic3 framework.

<virtual-scroll #scroll *ngIf="listItems.length > 0" [items]="listItems" >

    <ion-col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12
         style="display:inline-block"
         *ngFor="let item of scroll.viewPortItems"  >
            <add-item style="h

[2018-01-08 18:08] WandersonAlves opened #164 "Unable to use scrollInto() method with bufferAmount prop"
If i use a non-default value for bufferAmount, the scrollTo() doesn't work properly.

This code snippet return a wrong value:

[code]

I tested with 25 as `bufferAmount` and `scrollTop`was equal zero

My `this.calculateDimensions()` returns this:

[code]

[2018-01-10 00:19] whyboris commented on #100
I am unsure whether **my issue** was the same as described above, but I figured out the **solution** for my case.

**Issue:** I had a multi-column (5 columns, 6-10 rows depending on screen size) gallery (each item a custom component). Whenever the below or above items were created or destroyed, the gallery jumped by some number of pixels. It was especially easy to notice when smooth-strolling by c

[2018-01-10 19:49] mrendsley commented on #163
+1

[2018-01-12 10:51] istiti opened #166 "stopped?"
seems project abandoned ?

cc @rintoj

[2018-01-12 16:54] whyboris commented on #133
I had no problems getting virtual scroll to work with multiple columns, but I didn't use _bootstrap_.

The key aspect to getting it to work was that each element to be rendered by virtual scroll had to be `display: inline-block` and had to have a defined height and width.

Perhaps you could avoid using bootstrap CSS in this one instance?

I suspect bootstrap may be causing some of the problems you

[2018-01-12 16:56] whyboris commented on #128
I'm unsure I understand the challenge. Can you have this?
[code]
Would this not work?

[2018-01-12 17:10] whyboris commented on #132
This seems related: https://github.com/rintoj/angular2-virtual-scroll/issues/134

[2018-01-13 08:59] ScottSpittle commented on #79
@whyboris Sorry for the hanging reply. I got this to work no problem. Thanks for the updates though.

[2018-01-13 14:35] whyboris commented on #128
Another solution may be to have the element which contains the virtual-scroll (and the scrollbar for the scrolling) to have style `top: 500px` giving you a bunch of space. And in that space you place  the header using `position: absolute`. Though this will not lot you scroll away from the header.

[2018-01-15 13:54] pcsantana commented on #85
Anyone tried to use ion-refresher?
When I scroll down (not in the top of the screen), the ion-refresher pushes always.

[2018-01-16 10:06] GlennVanSchil opened #169 "update event not always giving all available/viewable items"
I have list using the infinite scroll with a search input on top.
![selection_014](https://user-images.githubusercontent.com/3930037/34982953-40e3cdbe-faac-11e7-890a-56a29129a8ca.png)

Whenever I start typing it does update the list correctly. The updated list is a new list from an API call that replaces the current list.
![selection_015](https://user-images.githubusercontent.com/3930037/34983087-

[2018-01-16 11:00] GlennVanSchil commented on #169
Found the problem.
i had the following css
[code]
whenever I had only one table row left, my height would be 100px. If I now added more elements by removing characters from the searchbox the viewport height would still be calculated on that 100px instead of the 300px I expected.  So to solve this I replaced the min and max height with a static height of 300px.

For my personal case the issue is cl

[2018-01-16 16:10] foxx9 commented on #122
Hi,

you need to use `[bufferAmount]="10"` instead of `bufferAmount="10"`  so angular knows it's a number and not a string.

[2018-01-17 13:20] niklas-dahl commented on #122
ah, I see, thanks for the answer :+1:

you could consider casting the input value to a number (a single `+` cast in the right spot would do the trick) native html elements work like this, eg `<input type='number' min="1"  max="10">` but this is up to you..

[2018-01-17 13:20] #122 closed

[2018-01-21 18:47] maikolestevez commented on #51
Hello  @MastaBleh,
I'm trying to use your suggestions, but i'm not getting good results.

This is my html
[code]
Css
[code]
I have followed your tips but what i'm getting is this
![gitimage](https://user-images.githubusercontent.com/8959257/35197711-bb1e6592-feb9-11e7-8fa8-5e75f2ed3acb.PNG)

[2018-01-23 22:43] rhefner commented on #123
@aaronfrost: Also seeing something similar to this -- You find any workarounds (without patching node_modules) that can be used until your PR gets merged/released?

[2018-01-23 22:43] rhefner commented on #166
Wondering the same thing..

[2018-01-23 22:59] rhefner commented on #123
Err, may have answered my own question - Looks like using `<virtual-scroll ... [bufferAmount]="10">` keeps things sane.

[2018-01-24 11:12] borriej opened #170 "Virtual Scroll with Reactive Forms - FormArray"
Hi,

thanks for the module. I have a question:

Because index changes with virtual-scroll and whilst typing, my values appear in multiple input's instead of 1.

[code]

[2018-01-24 11:23] borriej commented on #160
Im also wondering if you have an example. Im still seeing two scrollbars
https://ibb.co/n4ETKG

[2018-01-24 11:37] borriej commented on #138
Could someone please post a simple code example using window scrollbar as the scroll for the container? Im stuck at this. Tried setting body height, but this isn't working for me.

[code]
[code]

[2018-01-24 14:36] borriej commented on #140
@natcohen have you solved this? and could you post your code example? Im having issues with this. Cause im seeing two scrollbars while using [parentScroll]="scroll.window" https://ibb.co/n4ETKG

[2018-01-25 02:58] darklx commented on #160
@borriej yeah yeah that's the problem.

[2018-01-25 11:09] #108 closed

[2018-01-25 14:49] rintoj commented on #170
@borriej, virtual scroll will work fine if the height of each item is same. Variable height is not working well at the moment. We have some work in progress.

[2018-01-25 14:52] rintoj commented on #166
@istiti, I have not been able to focus on this project due to lack of time. Looking for some one who can maintain this project. Happy to contribute and support as and when I get time.

[2018-01-25 14:52] #166 closed

[2018-01-25 14:58] borriej commented on #170
@rintoj Since Virtual Scroll hijacks the index :P

I got the reactive form array working with a work around. By keeping a manual index parameter on the formGroup object itself, and passing it into [formGroupName]="ride.i" instead of "i". So when Virtual Scroll takes index 9-19... i would previously be index 0-10 (because thats just the amount of elements in the component).. but with "ride.i" it is

[2018-01-25 15:01] rintoj commented on #170
@borriej, got your problem. I will see if I can add an original index to component so that you don't have to keep an external index parameter.

[2018-01-25 15:01] borriej commented on #170
aahhh sweet @rintoj !! 💯

[2018-01-25 17:37] aaronfrost opened #171 "3.2.0 tag is not pushed to github, so we can't see what changes were in it."
@rintoj can you push the 3.2.0 tag to github so that we can see the changes?

[2018-01-25 17:40] rintoj commented on #171
@aaronfrost, done.

[2018-01-25 17:40] #171 closed

[2018-01-30 14:32] vegarda opened #172 "ERROR Error: Expected to not be in Angular Zone, but it is!"
I get this error in EDGE when I try to open a PrimeNG multi-select dropdown.

Error Expected to not be in Angular Zone, but it is! Error 'Expected to not be in Angular Zone, but it is!' Error: Expected to not be in Angular Zone, but it is!
   at NgZone.assertNotInAngularZone (eval code:4715:13)
   at VirtualScrollComponent.prototype.calculateItems (eval code:205:13)

[2018-01-31 12:01] abel672 commented on #129
Hi does the child inside of the virtual-scroll needs to be a list-item component mandatory?. I am using like this (from docs):

    <virtual-scroll [items]="array" (update)="viewPortItems = $event" [bufferAmount]="4">
      <div class="list-item" *ngFor="let item of viewPortItems">{{item}}</div>
    </virtual-scroll>

But also the virtual scroll is not working. all items are shown in the DOM at on

[2018-02-01 08:44] abel672 commented on #26
@rintoj I had the same doubt due to this [post]([https://github.com/rintoj/angular2-virtual-scroll/issues/123]), where the author make test in his app and found in the issue in that file. Do you think that he downloaded all the demo to use it instead of npm manager?

[2018-02-01 16:42] loctrice commented on #139
Will v0.3.1 work? I can't upgrade either. I just installed the most recent version and I'm having the same issue.

[2018-02-01 16:43] loctrice commented on #154
Renderer2 works with Angular 4 not Angular 2. It looks like this issue is caused from using the most recent version in an angular 2 app. From what I can tell from issue #139 we can use a prior version of virtual scroll, but I haven't tried it yet.

[2018-02-01 16:51] loctrice opened #173 "Not Angular 2 Compatible"
The documentation states this is an Angular 2 compatible module. Issues #139 and #154  show an error that is caused by compatibility issues between Angular2 and Angular4.

[2018-02-05 10:38] borriej commented on #138
Hi @rintoj, Is there any update on this? Im still having issues with double scrollbars. I would love to use the body scroll, please see image: https://ibb.co/n4ETKG

[2018-02-06 01:56] patricknazar commented on #103
Did you ever work out what went wrong? I'm facing the same issue. Well, it's even worse than that. I always see N-1 items so if N=1 I see nothing, and if N=2, I see only one etc

[2018-02-07 14:30] natcohen commented on #140
@borriej Sorry for the delay, I was busy these days... Yes, I found a way to fix it. I rewrote part of this module in order to support table header and striped rows (by removing rows two by two).

Here is how I use it (pug):

    virtual-scroll([items]="list", [headerElement]='header', [parentScroll]="body", [bufferAmount]='3', (update)="visibleElements = $event", [childHeight]="49")
        table

[2018-02-07 14:31] borriej commented on #140
@natcohen ah this is really kind of you! Thanks, i'll test this in the coming days!

[2018-02-08 17:35] ciesielskico commented on #170
+1

[2018-02-09 09:38] utkagarwal commented on #65
I am having the same issue , can you please help @laterbreh

[2018-02-09 17:23] laterbreh commented on #65
@utkagarwal
This was so long ago, I couldn't tell you what the exact fix was, we are so far passed this on the project I did this work on. What I can tell you that I do remember specifically it was a CSS issue that was trickling down from parent elements.

Try removing as much CSS as you can from the containing elements and you should find what the problem was, thats what I did. Sorry that I can't

[2018-02-09 17:45] loctrice commented on #163
+1 with Angular2.

[2018-02-09 17:46] loctrice commented on #158
I had more than one module, and turns out I need to import it into an unrelated module in order to get it to work. When I had it in the appropriate module only, I had the same error.

[2018-02-09 17:49] loctrice commented on #145
I need variable height as well. It skips over items and does random scrolling when my items are different sizes. I can't use the most recent version because I'm on angular2.

[2018-02-10 08:18] ScottSpittle commented on #145
@loctrice https://github.com/rintoj/angular2-virtual-scroll/pull/110

[2018-02-11 23:23] loctrice commented on #145
This looks like it was merged in after 3.0 - which means it's not compatible with angular2, only angular 4.

[2018-02-12 02:58] cjackson234 commented on #149
I'm running into a very similar issue. Anyone have any tips?

[2018-02-15 18:09] pcsantana commented on #129
@abel672 did you add to virtual-scroll a height style?

For example, in your ionic page.scss you should add something like this:
[code]

[2018-02-16 19:15] gentle9 opened #174 "Kanbanboard structure (swimlanes with columns)"
Hi,

is it possible to use the virtual scroll within child items like in a kanban board with swimlanes and multiple columns?
For example I have this structure.
[code]

My HTML template will look like this.

[code]

So this means there are like some swimlanes (groups) which are the rootlevel. Each of the lane has 3 columns and in each column there is the content which are the cards in a kanban boar

[2018-02-16 19:58] jrabello opened #175 "Problems with childHeight"
hi,

I'm trying to use virtual-scroll and it works fine, but not working well for child elements with different Height,

I'm passing as input [childHeight]="170" as the minimum height of my child div is 170px, but for 470px elements I'm unable to scroll to it properly

Any ideas on how can I solve it?

[2018-02-19 17:16] pcsantana commented on #85
I finally solved the ion-refresher problem.
You should set ion-content as parentScroll (like examples above) **and not set the height style to virtual-scroll** .

[2018-02-20 17:27] daggett206 opened #176 "Set start and end manually"
Is it possible to set the start and end items manually, instead of using .scrollInto() method?

[2018-02-21 21:35] vadimkorr opened #177 "Scroll to bottom on new item arrived"
Hello @rintoj,
Awesome library, good job.
This is mainly a question, so is it possible to make scrollable part scroll to bottom on new item arrive. Something like this:
[code]
or, may be how can I access root scrollable element to make it happen.
Thank you.

[2018-02-22 08:06] vadimkorr commented on #177
I guess I found a solution here in github page
[code]
Thank you.

[2018-02-23 15:38] subatomicglue commented on #109
Hangs the browser in IE11.
We will need to find a (nother?) solution...
For the popularity / how many downloads/users of this project, surprised IE11 hasn't been solved..

[2018-02-23 15:45] jaronwright commented on #109
This crashes IE11 for my app as well. Does anyone know if there is a fix for this? My boss is riding me to get this fixed!

[2018-02-23 20:28] tony98789 opened #178 "Change detection not working with chunked loading."
Being honest i am not sure if this is a bug or i have got it setup wrong. I request my data from an api in chunks of 20. My code is built around the chunked example provided. The issue is that when i update the arrays the view does not update to reflect the new items, until i click the page. The fact it does not update until i click the page is why i presumed its an issue with change detection. No

[2018-02-23 21:43] tony98789 commented on #178
I am not 100 percent sure what the issue was here, as i have set values in subscribe before and change detection has fired. I had to use ChangeDetectorRef and this.cd.markForCheck(); in order for change detection to fire correctly.

[2018-02-23 21:43] #178 closed

[2018-02-23 23:44] mhumeniuk commented on #178
Where did you use ChangeDetectorRef ?

[2018-02-25 05:55] evxn commented on #150
Hi, @maku. Were you able to somehow solve this issue?

[2018-02-26 12:50] tony98789 commented on #178
@mhumeniuk Within the subscribe function.

[code]

And in my constructor.

[code]

[2018-02-26 14:39] anjmao commented on #175
Hi @jrabello dynamic heights are not supported so you should use fixed heights.
It is hard to implement it because you can know child height only then it is rendered and because virtual scroll does not render all items you can't know total scroll height of all items.

[2018-02-26 19:07] ScottSpittle commented on #175
https://github.com/rintoj/angular2-virtual-scroll/pull/110

[2018-03-04 23:32] PhoebePan commented on #133
I can use bootstrap grid system in list-item level without wrap any bootstrap class.

[code]

[2018-03-05 17:09] vitstr opened #179 "How can I use it with dynamic components?"
Hello, @rintoj
How can I use the angular2-virtual-scroll with [dynamic components](https://angular.io/guide/dynamic-component-loader)? Could you provide an example of it?

[2018-03-06 12:59] arangates opened #181 "Please rename it to ng-virtual-scroll"
This is the best Infinite scroll available for angular so far but the name is misleading that it is not the latest one . it is working pretty much awesome in angular 5.1

[2018-03-07 13:08] vaibhav2009 opened #182 "CTRL + F not working in virtual list"
Let me explain it with an example-Suppose I am having a list of say ten thousand data and I want to use search in the page( i.e. ctrl +f) functionality of browser to search data that might be present at the end of the list. So, using ctrl+f to search that data is not working on the list.

[2018-03-09 15:09] lunchboxsuhi commented on #182
It wont work due to the fact that the data is not present in the DOM. The virtual list does not render the data, it only renders X of Y, where X is the items displayed and Y being the total. Generally it only shows between 10-15 items, those items can be found by the browser using `ctrl+f`. An easy work around is to add a text field that will filter the list down based on the items.

[2018-03-12 23:31] amitwagh17 opened #183 "Use *ngIf or filter for list item"
There is no way to hide or filter virtual scroll list item based on flag. ViewPortItems are not skipping items that satisfy *ngIf condition

[2018-03-13 05:24] vaibhav2009 commented on #182
I don't want to disable default CTRL+F behavior of the browser, so is there any way to catch the keys input in Ctrl+f dialog box? so that, I can try to search the keys in my list that is not rendered in the DOM and populate them accordingly.

[2018-03-13 11:32] lunchboxsuhi commented on #182
Unfortunately every browser implementation for `ctrl+f` is different. To my understanding the API lacks quite a bit. Realistically the browser find feature is great but you need to think of this component similar to a pagination object where only so much is visible to the client at a time.

Having a specific search bar integrated within your app is the best approach overall because not everyone wh

[2018-03-13 18:26] alexanto commented on #97
I am testing it asynchronously , however the virtual-scroll won't populate at all. I am using ngrx
This is the test:

`it('should create items', async(() => {

        store.dispatch(
            new ItemsSuccessAction([
                {
                    name: 'item1',
                }
            ])
        );

        fixture.whenStable().then(() => {
            fixture.detectChanges();

[2018-03-15 06:35] iskathi opened #185 "Scrollbar flickers on init"
When creating list for the first time and scroll parent is window, scrollbar flickers for a brief moment.
Occurs because child height is set to window height and everything is calculated using that row height.

[code]

[2018-03-15 15:21] lucasbasquerotto commented on #179
@vitstr I made it work using the `childHeight` property (I don't know if your case is the same though):

[code]

[2018-03-15 19:42] lucasbasquerotto commented on #183
@amitwagh17 You could try to filter the items before displaying:

`this.items = (items || []).filter(item => item.flag !== someFlag);`

[2018-03-19 01:47] checkthemethod commented on #145
@lotrice, were you able to resolve this issue with the random jumping scrolling?

[2018-03-20 04:12] #182 closed

[2018-03-20 11:45] Fokir opened #186 "Question: how to solve my problem?"
There is a task with the use of your module, but I encountered a problem when implementing it.
I need some elements to have a double height, like in the screenshot
![-2](https://user-images.githubusercontent.com/1648384/37652636-926da58a-2c55-11e8-93cc-9630a48af097.png)
I'm not quite sure how to solve this problem competently without using empty elements of the array

PS. Sorry for my rough sketch

[2018-03-20 18:42] loctrice commented on #145
I wasn't. I had to update my project - which was painful.

[2018-03-21 05:24] ScottSpittle commented on #186
https://github.com/rintoj/angular2-virtual-scroll/pull/110

[2018-03-21 12:08] arthurvdiniz opened #187 "[Question] Get items from API when scroll up"
I need to get items from the API when I scroll up (adding the items at the beginning of the list ) but the scroll get stuck and don't update.

[2018-03-21 18:23] DoryZi opened #188 "usage with horizontal scroll"
Great work man!
Do you plan to add horizontal scroll to it?
I have a horizontal scroll in my app and I need this to work there, can it work there as is?
If not do you plan to add support for that?

[2018-03-22 17:06] aaron-bond commented on #97
hey @alexanto, did you have any luck with testing the scroll? We're having the same problem. I'd like to be able to test my component, but the virtual scroll isn't adding any rows to the DOM. At this point, even disabling the virtualisation during tests would be preferable

[2018-03-22 17:36] alexanto commented on #97
For me the solution was to manually emit the update event in the test:

[code]

[2018-03-23 02:09] humblepride opened #189 "nothing displays"
i create a github repo for this issue:
[link](https://github.com/humblepride/angular2-virtual-scroll-show-nothing)
if i set `childHeight`, all items will be rendered.

deps:
[code]
btw: i use cnpm instead of npm(if this matters...)

[2018-03-23 09:06] aaron-bond commented on #97
@alexanto thanks for the info! I'll give this a try

[2018-03-27 04:45] tskweres commented on #181
Does this work in Angular ^5.2.5? All I'm seeing is a blank screen, no viewport items. Can you share a repo or sample that's working with 5+?

[2018-03-27 13:28] pcsantana commented on #31
@PeterBurner did you find a solution? I have the same issue. When I add items at the beginning, the viewport items replaced by the new items I just added.
The desired behavior is to keep the current viewport items, and just grow the scroll height above it.
Thanks!

[2018-03-27 16:11] CoryCharlton commented on #189
Yes it works with with Angular 5 (I'm running 5.2.9). If your items do not have a fixed height/width you may need to set the childHeight and childWidth properties for it to work correctly. The README.md outline this and I've copied it here for reference:

## Items with variable size

Items must have fixed height and width for this module to work perfectly. However if your list happen to have items

[2018-03-27 16:13] CoryCharlton commented on #181
@tskweres did you pull the demo code and try that?

[2018-03-27 17:04] tskweres commented on #181
Yep it’s working, it was a lazy load / import issue

[2018-03-27 17:04] tskweres commented on #181
When I speed scroll I see a lot of white items that take a second or two to populate, other than buffer size is there anything else to combat that?

[2018-03-28 05:00] humblepride commented on #189
i made some test and finally figured it out.
**u need to set `style-width` to virtual-scroll element.**
nothing to do with `childWidth` or `childHeight`

[2018-03-28 05:03] #189 closed

[2018-03-29 07:03] Melcus commented on #85
The way I got it working for me flawlessly, even with the changing number of elements in the list and images :

## HTML

[code]

## CSS

[code]

To keep the heights consistent.

## TS
Below export class
`@ViewChild(Content) _content: Content;`

After you get the data from SQL or whatever, set the [bufferAmount] of  elements in **viewPortItems** so it renders correctly

`this.viewPortItems = this.i

[2018-03-29 07:04] Melcus commented on #129
Posted my solution here :  #85

[2018-03-31 08:00] PeterBurner commented on #31
hi @pcsantana
not really
I found a hacky solution by manually resetting the scroll position after scrolling to the top within the ngAfterViewChecked but that's definitely not something one should use in productive code since it doesn't really perform well
sorry

[2018-04-04 19:21] ghost opened #190 "Customize the vitrual scroll"
@rintoj  Hello. You have a good library. I have a question: how to customize the vitrual scroll that like [this](https://github.com/MurhafSousli/ngx-scrollbar). I need to apply cross browser styles for the scrollbar. Do you have ideas?
Thanks for the answer.

Regards,
Roman.

[2018-04-08 16:56] borriej commented on #160
any updates on this @rintoj :) ?

[2018-04-08 16:58] borriej commented on #170
is there an update on this? :)  and is it possible to have dynamic height on items? Because of validation messages per formGroup in the formArray.

[2018-04-12 11:41] Hristijan95 commented on #138
`#scroll [parentScroll]="scroll.window"`

This obviously does not work. I've tried everything.

[2018-04-14 18:04] whyboris commented on #190
I was able to implement a scroll bar. In my case:
```<virtual-scroll class="gallery-container" ...```
And the css:
[code]
And the scrollBar:
[code]
Comment again if you have trouble.

[2018-04-16 06:26] kolesnikov-sml commented on #190
@whyboris this is not cross browser

[2018-04-19 09:58] Ts-alan opened #192 "issue with 2 virtual scroll if we use scrollbar of same parent block"
I use 2 virtual scroll with same scrollbar of parent block

The first virtual scroll

     <virtual-scroll
      [items]="watchlist.items"
      [parentScroll]="scrollingBlock.nativeElement"
      (update)="viewPortItems = $event">
        <app-watchlist-market
          *ngFor="let watchlistItem of viewPortItems; trackBy: watchlistTrackByFn"
          [attr.watchlistId]="watchlist.watchlistId"

[2018-04-21 08:34] l1nknyto opened #194 "Multi column still leaves empty space after last item"
Hi, when virtual scroll is used for multi-column, there are empty spaces bellow last item.

i am already inspect and i think style **transform: translateY(???px)**  in **&lt;div class=scrollable-content&gt;** has wrong value for translateY

Any working example for multi-column mode (angular / ionic) ?
Or did i miss setting for multi-column mode ?

Thanks

* note: i am using ionic 3

[2018-05-01 11:37] molikmiah commented on #173
Version 0.3.0 was the last version compatible with Angular 2.x, after this version a commit was made to introduce Renderer2 which is only available in Angular 4+

The versioning is not semantic versioning and there is a breaking change from v0.3.0 to v0.3.1.

Please address this.

[2018-05-16 11:33] Liork1 opened #196 "2 types of component keep blinking"
Hi,

I'm trying to use virtual scroller with 2 `different` types of compnents.
I mean, I need to present 1 virtual list combined with 2 types of items.

The code looks like this:
`
<virtual-scroll [items]="buffer" (update)="scrollItems = $event"
            (change)="onListChange($event)">

            <div *ngFor="let item of scrollItems" [item]="item">

                <div *ngIf="item.type == 1

[2018-05-16 13:28] #196 closed

[2018-05-16 13:28] Liork1 commented on #196
Found a solution

[2018-05-16 14:14] Liork1 opened #197 "scroll to the left"
Hi,
anyway to place the scroller in the left side without dealing with elements?

[2018-05-17 10:39] andrea-spotsoftware commented on #97
I have the same problem, the solution provided by @alexanto works, but it's quite useless in my scenario...I can't test my component properly because my items are runtime filtered by some | pipes.
@rintoj any way to test it?

[2018-05-18 05:16] its-Amit commented on #158
i am working on angular 5 universal project. i am using server side rendering . i am getting this error while comilation Property 'viewPortItems' does not exist

[2018-05-18 05:19] amit-kiwi opened #198 "Property 'viewPortItems' does not exist"
I have the issue in server side rendering angular5 project when i implemented i got this error.
Property 'viewPortItems' does not exist.
**and its working fine in normal angular 5 project**

[2018-05-18 21:12] MariMax opened #199 "could you please make private props and methods protected to allow extend them?"
my case: I don't know all the items, I know few of them upfront and I know the number of items, my idea is to extend your component and set proper height for the scroll, add empty template for item, which will represent fetching process when user for example drag scrollbar into the middle of the list and I don't have all the items to show.
Unfortunately I cannot do
[code]
in current implementation

[2018-05-23 19:51] gklasen commented on #196
Glad you shared your solution.

[2018-06-06 16:23] andreandev opened #200 "Ionic / hide scrollbar iOS"
Hi guys,
I used ionic with this fantastic virtual scroll.

I've a issue with iOS, i don't know how to hide the vertical scrollbar.
![8bufb](https://user-images.githubusercontent.com/315119/41051480-8b509f48-69b6-11e8-80df-1b02b8e50827.png)
In all the other pages I do not see it, only here where it's angular2-virtual-scroll.

This's my source code:
list.ts
`
<ion-content #content (ionScroll)="onCon

[2018-06-06 19:39] flamders commented on #200
Relates to -webkit-overflow-scrolling: touch; i think. I just removed it (working on a fork). Non standard: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling

[2018-06-07 06:55] andreandev commented on #157
Hi @maxim1006,
Did you find a better code?
Me too doesn't work.

[2018-06-07 06:59] andreandev commented on #190
Me too doesn't work on iOS

[2018-06-15 09:52] MarkusPint commented on #144
yep, PageUp and PageDown behave oddly

[2018-06-18 15:41] ScottSpittle commented on #187
Could you not use the (change) output which provides a start and end index for the view after a scroll event

[2018-06-20 22:19] aks1994 opened #201 "Bug when moving from list of length 0 to list of length 1"
This is a pretty uncommon case but it does come across occasionally in my project when the user is filtering items.

When the list (items array) moves from length 0 to length 1, the if statement in the below code (line 295) evaluates to true and thus it thinks that I am using a horizontal list. itemsPerRow gets set to infinity as childWidth=0 and for this reason, the end index becomes NaN => -1 an

[2018-06-22 20:28] #187 closed

[2018-07-02 09:35] Healer1111 opened #202 "the number of raw is wrong in initial case"
On page rendering, it always display two rows data. Other data is blank. When I debug in virtual-scroll, I found the result of calculation is wrong. It seems that it is not to get the right height to calculate. When I manually invoke the method refresh() in constructor, this issue can be addressed. But in IE browser, the process of loading the following blank row is too slow. Can you give me some

[2018-07-02 15:33] tomschreck commented on #138
I'm not able to get virtual scroll parentScroll to work either.  I've set height = 100vh for body tag and no luck.  Has there been any progress on getting this fixed?  Can someone provide an example if they have it working please?

          <virtual-scroll
                  #scroll
                  [items]="ContactList"
                  (update)="scrollItems = $event"
                  (change)

[2018-07-04 06:30] whitegoat opened #203 "How to create keyboard navigation example like hotmail email box."
How to create keyboard navigation example like hotmail email box.

[2018-07-05 13:54] istiti commented on #48
@rintoj whatsup, issue is closed do you find solution here ? maybe just before ngFor loop  we could have(here squelette):

[code]

and just add to .sticky class the transform css property like in .scrollable-content but decrementing so if:
`class="scrollable-content" style="transform: translateY(595px);"`
the .sticky should have  `style="transform: translateY(-595px);"`

maybe  problem is we don't

[2018-07-13 22:12] yusijs commented on #51
Got scroll working with the directive on a tbody element \o/

Feels rather hacky using flex to get it working. (I was having the exact same issue as @maikolestevez where the width would never be correct).

css and html below (the height attribute is an input for my table component) - hopefully this helps whoever else stumbles in here :)

[code]

[code]

[2018-07-18 00:49] henrique-rotava commented on #194
Same for me, it looks like the space is getting bigger as I scroll down.
I have tried to use the bufferAmount property as a workaround, but it only works for some scrolls and then I get the empty space again.

[2018-07-19 20:37] speige commented on #199
Sure. Would you mind submitting a pull request?

[2018-07-19 20:37] speige commented on #203
I'm sorry, you'll need to research this yourself. Try google & stackoverflow for help, if needed.

[2018-07-19 20:37] #203 closed

[2018-07-19 20:38] speige commented on #202
I've updated npm with a new version that has a few fixes. Could you try the latest & see if it helps with your issue?

[2018-07-19 20:42] speige commented on #198
I'm not able to reproduce this. Can you try with the latest version of the npm package & see if it's still happening? If so, maybe you can share you code or create a stackblitz?

[2018-07-19 20:46] speige commented on #197
It's not an officially supported option in this component. However, you should be able to do it with CSS. Try a google search / stack overflow.

I haven't researched much, but this seems to have one possible solution:
https://stackoverflow.com/questions/7347532/how-to-position-a-div-scrollbar-on-the-left-hand-side

I'm closing this issue. If you find a way to code this that you'd like implemented

[2018-07-19 20:46] #197 closed

[2018-07-19 20:47] speige commented on #194
Are your items all the same size, or are they different? If they're different sizes, the workaround suggested by henrique-rotava is correct. However, there is a pending pull request that should make this easier. If all items are the same size, this shouldn't be happening. Maybe you can create a stackblitz that reproduces the issue to make it easier to debug?

[2018-07-19 20:49] speige commented on #190
If anyone is able to solve this, please submit a pull request & I'll look at it.

[2018-07-19 20:50] speige commented on #188
DoryZi, I've merged your pull request & this is now an officially supported option. Please try out the latest version of the npm package & let me know if you have any issues. Thanks.

[2018-07-19 20:50] #188 closed

[2018-07-19 20:51] speige commented on #185
Could you try the latest version of the npm package to see if this is still occurring? If so, could you submit a code sample or create a stackblitz? Thanks.

[2018-07-19 20:52] speige commented on #183
lucasbasquerotto is correct. You have to filter the items array before you pass it to virtual-scroll.

[2018-07-19 20:52] #183 closed

[2018-07-19 20:56] speige commented on #181
@tskweres I don't think the scroll area should have white items for multiple seconds. Can you try the latest version of the npm package & see if it's still happening? If so, could you submit a code sample or a stackblitz?

I've seen this occur when using manual change detection strategy & forgetting to call .refresh() or .detectChanges().

[2018-07-19 20:58] speige commented on #179
@vitstr did lucasbasquerotto solve your issue? Closing for now. Please re-open if needed.

[2018-07-19 20:58] #179 closed

[2018-07-19 20:58] #177 closed

[2018-07-19 21:04] speige commented on #176
This is not currently supported. If you'd like to code this, I can merge the pull request.

One concern is you wouldn't be able to set both start & end simultaneously, because the # of total items might not match the viewable space. However, setting either one separately should be fine.

setting start maunally doesn't seem valuable, since it can be mimicked with scrollInto easily scrollInto(virtua

[2018-07-19 21:07] speige commented on #174
I believe this is possible, yes. However, I don't have the time or ability to help you code the solution. I'm closing this issue. If you have a specific problem with the component, please open a separate issue. Thanks.

[2018-07-19 21:07] #174 closed

[2018-07-19 21:12] speige commented on #173
Sorry about that. We don't currently support SemVer, but will try to do this in the future. For now, if you need to use older versions of Angular please look at the history of package.json & find the commit with the correct angular dependencies for your project & use that specific commit (or npm version) in your project's package.json (without ^or ~ ). Unfortunately this means you won't get any bu

[2018-07-19 21:12] #173 closed

[2018-07-19 21:14] speige commented on #172
There is an undocumented property [doNotCheckAngularZone]="true" which should solve your problem. I don't know the purpose behind this or if it will cause other issues. If you're able to find a better solution, please submit a pull request. Until then, I'm closing this issue as there is a workaround. Please re-open if you have further problems. Thanks.

[2018-07-19 21:14] #172 closed

[2018-07-19 21:19] speige commented on #169
I'm closing this since there's an existing workaround. The documentation does specifically state that a static height is needed. You might try adding a javascript event handler for when the height changes & calling .refresh()

This is discussed in the documentation under "If container size changes".
It seems possible to have virtual-scroll monitor for size changes, rather that making the developer

[2018-07-19 21:19] #169 closed

[2018-07-19 21:32] speige commented on #164
I've submitted a new version to npm with various bug fixes. Could you try that & see if it resolves your issue? If not, could you submit a code sample or create a stackblitz to help me troubleshoot it for you? Thanks.

[2018-07-19 21:35] speige commented on #163
Would you mind creating a git repo with a barebones ionic app that reproduces this issue? (or a StackBlitz ?) It'll help speed up troubleshooting. Thanks.

[2018-07-19 21:38] speige commented on #162
This is because virtualScroll cannot easily monitor if the array has changed.

There's a new version on npm which does a slightly better job of monitoring these changes, please update to it.

Also, please add

[code]
before this.virtualScroll.scrollInto

or
[code]

Closing this for now. Please re-open if you continue to have issues.

[2018-07-19 21:38] #162 closed

[2018-07-19 21:41] speige commented on #161
You will lose your changes if you update your dependencies. The correct way to do this is to fork the git repo and point your package.json directly at your github instead of npm. However, you should be able to do this with straight CSS without changing any code in the package.

If you'd like to have this officially added to the repo, please submit a pull request. I'm a little nervous that it might

[2018-07-19 21:41] #161 closed

[2018-07-19 21:44] speige commented on #158
I'm unable to reproduce this. If you're still having this issue, please submit a git repo or stackblitz that is experiencing the error. Closing for now.

[2018-07-19 21:44] #158 closed

[2018-07-19 21:46] speige commented on #154
Correct. Angular2.x is only supported in an earlier version of this package.

[2018-07-19 21:46] #154 closed

[2018-07-19 21:51] speige commented on #157
Please try the latest code on npm to see if your problem still exists, it has a few bug fixes. If it's still ocurring, please describe what's wrong with the current event being emitted & possibly submit a stackblitz to help me troubleshoot. If you know what code needs to be changed, please submit a pull request. Thank you.

[2018-07-19 21:55] speige commented on #155
I believe whyboris has the correct solution.

I'm closing this since there's an existing workaround. The documentation does specifically state that a static size is needed.

This is also discussed in the documentation under "If container size changes".
You might try adding a javascript event handler for when the size changes & calling .refresh()

It seems possible to have virtual-scroll monitor fo

[2018-07-19 21:55] #155 closed

[2018-07-19 21:56] speige commented on #150
Did the answer from ScottSpittle resolve your concern? I'm closing this for now. Please re-open if you're still having issues.

[2018-07-19 21:56] #150 closed

[2018-07-19 22:01] speige commented on #149
Closing since cjackson234 submitted a workaround. Also, ng-lazyload-image has documentation on how to listen for custom scroll events from custom scrollers. You will need to implement this yourself as it's not the responsibility of angular2-virtual-scroll as most users won't use it with ng-lazyload-image.

Please re-open if you have further issues.

[2018-07-19 22:01] #149 closed

[2018-07-19 22:03] speige commented on #142
Closing as shohrukh92 has suggested a workaround.

[2018-07-19 22:03] #142 closed

[2018-07-19 22:06] speige commented on #28
This is now an officially supported feature of the component. Please update to the latest version on npm & try it. Closing issue. Please re-open if you have more problems.

[2018-07-19 22:06] #28 closed

[2018-07-19 22:16] speige commented on #140
@natcohen Would you please submit a pull request for the support for table header & striped rows? I can merge & update npm. I think it'd benefit other developers using this component. Thanks!

[2018-07-19 22:23] speige commented on #160
Related to https://github.com/rintoj/angular2-virtual-scroll/issues/138

This does actually work, but the previous version had a few glitches that made it harder to setup.

#1) The documentation was incorrect, scroll.window wasn't actually defined, so you had to make a public window property on your own component for binding to parentScroll. The scroll.window property does exist now.
#2) You had t

[2018-07-19 22:32] speige commented on #139
Sorry, unfortunately this component doesn't support Angular2 anymore. It shouldn't be too hard to fork this & downgrade the package.json to an older version of Angular & fix a couple compiler errors. However, since the majority of users will be upgrading to new versions of Angular, that's probably best left to someone else to maintain.

I upgraded to v6 with the latest release without thinking abo

[2018-07-19 22:32] #139 closed

[2018-07-19 22:33] speige commented on #137
Could you try with the latest version of the package on npm to see if this issue is resolved? If not, could you submit a stackblitz or code sample to reproduce this? Thanks.

[2018-07-19 22:34] speige commented on #136
Correct. Your pull request has been merged & a new version of the package is available on npm. Thanks for your contribution!

[2018-07-19 22:34] #136 closed

[2018-07-19 22:35] speige commented on #134
Would either of you be willing to attempt to code this feature & submit a pull request? Thanks.

[2018-07-19 22:37] speige commented on #133
Closing this as it's working for most users & is probably something specific to individual project configuration. If you need help troubleshooting feel free to submit a stackblitz. Otherwise google search / stackoverflow is your best bet. Please re-open if you continue to have issues. Thanks.

[2018-07-19 22:37] #133 closed

[2018-07-19 22:38] speige commented on #132
This is not currently an officially supported feature. Would either of you be willing to attempt to code this feature & submit a pull request? Thanks.

[2018-07-19 22:39] speige commented on #131
This should be fixed in the latest package on npm. Can you try it & let me know if it's still occurring? Thanks.

[2018-07-19 22:41] speige commented on #129
Closing. It appears the issue was due to incorrect usage of virtual-scorll & was resolved by the feedback given by other users. If the issue persists, please create a stackblitz to help with troubleshooting & re-open the issue. Thanks.

[2018-07-19 22:41] #129 closed

[2018-07-19 22:45] speige commented on #85
Closing as several users have posted working solutions to the issue.

@tonypig93 and @faraazc these appear to be unrelated issues. Please open separate issues if you're still having problems. Thanks.

[2018-07-19 22:45] #85 closed

[2018-07-19 22:47] speige commented on #85
@faraazc is your issue related to https://github.com/rintoj/angular2-virtual-scroll/issues/137 or https://github.com/rintoj/angular2-virtual-scroll/issues/157 ?

[2018-07-19 22:54] speige commented on #128
I believe the best way to handle this is to leave the virtual-scroll in its current position on the page and use [parentScroll]="scroll.window" as explained in the documentation. This feature was hard to implement before, but should be easier now. You will only have 1 scrollbar and you will have to scroll past all the "header" content before you get to the virtual-scroll. One caveat is it's best n

[2018-07-19 22:55] #128 closed

[2018-07-19 22:58] speige commented on #127
The documentation does talk about "loading in chunks", but that's only if they get to the end of the results. What you're discussing seems more robust than that. I think it's a great idea that other developers would be happy to use. Unfortunately, we don't have time to code this right now. Would you mind coding it & submitting a pull request?

[2018-07-19 22:59] #126 closed

[2018-07-19 23:05] speige commented on #125
One solution might be to modify the animation time. I prefer 750, instead of the default 1500.

Another would be to simplify your component as much as possible & use OnPush change detection strategy instead of Default.

Aside from that, post a stackblitz of your problem so we can troubleshoot further.

There are some potential optimizations for angular2-virtual-scroll itself which we will hopefull

[2018-07-19 23:05] #125 closed

[2018-07-19 23:07] speige commented on #123
Closing since PR has been merged & bufferAmount is another potential workaround. Please re-open if you're still experiencing this issue.

[2018-07-19 23:07] #123 closed

[2018-07-19 23:08] speige commented on #121
@francoro would you mind submitting a code example or stackblitz? It'll help with troubleshooting this issue. Thanks.

[2018-07-19 23:10] speige commented on #120
Closing. This is most likely user error (not following the documentation) or using an outdated/unsupported version of Angular. Please re-open if you're still experiencing this issue.

[2018-07-19 23:10] #120 closed

[2018-07-19 23:10] speige commented on #119
I believe this is fixed now. Please re-open or submit a pull request if you believe it's still incorrect. Thanks.

[2018-07-19 23:10] #119 closed

[2018-07-19 23:21] speige commented on #118
@tstirrat What algorithm would you use to determine the boundaries? It seems difficult to predict the user's behavior: They might scroll 1 item at a time, or 1 page at a time, or by dragging the scrollbar to a random location.

Are you concerned about virtual-scroll changedetection (i.e. the calculateItems method?) or the changeDetection of your child components? There are other strategies to make

[2018-07-19 23:21] #118 closed

[2018-07-19 23:22] speige commented on #116
If you're still  experiencing this issue please submit a stackblitz to help troubleshoot it. Thanks.

[2018-07-19 23:25] speige commented on #115
list-item is a made up component simply used as an example in the documentation. You have to create your own child component.

You can use a <div> instead of a custom component, however you can't use [item]="" on a <div> because that attribute doesn't exist. Instead you should use something like:

[code]

Closing. Please re-open if you're still having issues.

[2018-07-19 23:25] #115 closed

[2018-07-19 23:28] speige commented on #114
If you modify the existing items array, you need to manually call virtualScroll.refresh(); It only auto-refreshes if you bind to a brand new array instance.

However, the latest version on npm attempts to handle this better. Try updating to see if it solves your problem.

Closing for now. Please re-open if you're still having issues.

[2018-07-19 23:28] #114 closed

[2018-07-19 23:29] speige commented on #113
list-item is a made up component simply used as an example in the documentation. You have to create your own child component.

You can use a div instead of a custom component, however you can't use [item]="" on a div because that attribute doesn't exist. Instead you should use something like:

[code]

Closing. Please re-open if you're still having issues.

[2018-07-19 23:29] #113 closed

[2018-07-19 23:32] speige commented on #112
The solution by FlyingKatinka actually disables the entire virtual-scroll & renders all the items to the DOM, so this is not a good solution.

I believe this issue is fixed in the latest version on npm. Can you try it & close this issue if it's now resolved?

[2018-07-19 23:36] speige commented on #109
Unfortunately, this is too low a priority to troubleshoot since IE11 is a very old browser with a very small user base. If you really need to support IE11, please troubleshoot this yourself & submit a pull request or switch to a different component.

Closing.

[2018-07-19 23:36] #109 closed

[2018-07-19 23:37] speige commented on #106
Closing this as whyboris solution is most likely correct. Please re-open if you're still experiencing this issue.

[2018-07-19 23:37] #106 closed

[2018-07-19 23:39] speige commented on #102
This is now an officially supported feature of the component. Please update to the latest version on npm & try it. Closing issue. Please re-open if you have more problems.

[2018-07-19 23:39] #102 closed

[2018-07-19 23:43] speige commented on #100
It appears that you're modifying the array directly with .push. This did not previously auto-refresh, so calling scrollInto immediately afterwards would not work. Instead you had to call virtualScroll.refresh() afterwards and possibly wrap the scrollInto inside a setTimeout(, 0). The lastest version of the package on npm tries to address this.

Please try the latest version & the above proposed so

[2018-07-19 23:43] #100 closed

[2018-07-19 23:44] speige commented on #97
If anyone comes up with a solution to this problem, please submit a pull request and I'll be happy to merge it. Thanks.

[2018-07-19 23:46] speige commented on #92
I think #58 is unrelated as that's tab, not table.

Unfortunately we don't have an example on how to do this. Your best bet is troubleshooting it on your own, google searching, & stackoverflow. If you come up with a working example, feel free to post it here for future users to read. Thanks.

[2018-07-19 23:46] #92 closed

[2018-07-19 23:47] speige commented on #91
Strange, I believe scrollInto usually aligns to the top of the viewport. Can you submit a code sample or stackblitz to help troubleshoot this?

I agree that a position parameter for scrollInto would be very valuable. If you have time to code it, I'm happy to merge your pull request. Thanks.

[2018-07-19 23:49] speige commented on #89
Closing since there are proposed workarounds & this is most likely user error due to not following the documentation properly, since it's working for most users. Please re-open if you continue to experience problems.

[2018-07-19 23:49] #89 closed

[2018-07-19 23:54] speige commented on #86
If anyone is able to get this working, please submit a pull request & I'll happily merge it.

My guess is you need to give a fixed width/height to virtual-scroll via css or inline style. But I haven't made any attempt to troubleshoot this.

[2018-07-19 23:56] speige commented on #79
Closing since the issue appears to have been user error & appears to have been resolved. Please re-open if the issue continues.

[2018-07-19 23:56] #79 closed

[2018-07-19 23:57] speige commented on #72
Has this issue been resolved?

[2018-07-19 23:58] speige commented on #68
@mleibman @manju-reddys  Please submit a pull request if your attempts were successful & I'll happily merge it. Thanks.

[2018-07-20 00:00] speige commented on #64
I believe this is resolved in the latest version of the package. Please re-open if you're still experiencing this.

[2018-07-20 00:00] #64 closed

[2018-07-20 00:00] speige commented on #59
Can you try again with the latest version of the package & let me know if you're still experiencing this?

[2018-07-20 00:01] speige commented on #58
Closing because a workaround has been suggested. Please re-open if the issue persists.

[2018-07-20 00:01] #58 closed

[2018-07-20 00:03] speige commented on #54
@tolemac Please submit a pull request for your requested change if you think it'll be useful to other users. Also, I will be merging the dynamic-height-child-items PR soon, so that might help resolve your other issues (although it sounds like you've already moved onto a new component).

[2018-07-20 00:04] speige commented on #53
@pedrollanes Would you mind submitting a pull request with your proposed solution? Thanks.

[2018-07-20 00:05] speige commented on #52
@dniadzelka We don't have time to code this at the moment. Please submit a pull request if you're able to code it. Thanks.

[2018-07-20 00:13] speige commented on #51
Closing this as there are working solutions posted. If anyone has suggestions to make this easier, feel free to submit a pull request. Thanks.

[2018-07-20 03:03] speige commented on #38
We don't have time to code this at the moment. If you're able to code it, please submit a pull request. Thanks.

[2018-07-20 04:57] casillas10 commented on #59
My project upgraded to Angular 4, It has no trouble.
Thank you very much.

[2018-07-20 06:07] aks1994 commented on #201
Yes, it seems to have been fixed, thanks!

[2018-07-20 06:42] kolesnikov-sml commented on #190
https://stackblitz.com/edit/angular-aba8se @speige

[2018-07-20 09:58] tolemac commented on #54
@speige too late, I don't remember where is the code.
sorry

[2018-07-20 10:30] #59 closed

[2018-07-20 10:30] #201 closed

[2018-07-20 10:34] speige commented on #190
@kolesnikov-sml Is this a working solution, or something you're wanting help troubleshooting with? I tested in Edge/IE11/FireFox/Chrome on Windows & they all looked styled to me. I didn't test on Android/iOS/Mac/Linux.

[2018-07-20 21:59] speige commented on #144
If either of you are able to fix this, please submit a pull request. Thanks.

[2018-07-20 22:01] speige commented on #91
It appears there was a past issue where it was aligning to bottom instead of top, but it was resolved through a pull request. I'm guessing you were using the version before that merge was completed. Please try with the newest version. Closing for now. Feel free to re-open if you're still having issues. Thanks.

[2018-07-20 22:01] #91 closed

[2018-07-21 02:50] speige commented on #160
Would someone mind creating a simple example of implementing this in the "demo" folder of this repo's source code & submitting a PR? It'd be good to have for future testing & documentation.

I'm 99% sure it's working, because I'm using it in a separate more complex project. However, I haven't had time to extract it to a simple example yet.

This would save me a bit of time so I can build more feat

[2018-07-21 02:50] speige commented on #138
Would someone mind creating a simple example of implementing this in the "demo" folder of this repo's source code & submitting a PR? It'd be good to have for future testing & documentation.

I'm 99% sure it's working, because I'm using it in a separate more complex project. However, I haven't had time to extract it to a simple example yet.

This would save me a bit of time so I can build more feat

[2018-07-21 08:17] speige commented on #199
The correct code in github uses protected everywhere instead of private. It's not yet published to npm. Closing for now. Please re-open if that doesn't solve your issue.

Also, I wonder if you really need to extend the control. Maybe what you desire can be done with the existing component? If not, let's brainstorm the feature you need & see if it can be created. Thanks.

[2018-07-21 08:17] #199 closed

[2018-07-21 08:18] speige commented on #192
Would you mind creating a stackblitz of this issue to help me troubleshoot it? Thanks.

[2018-07-21 08:32] speige commented on #155
Fyi, I've added a feature to auto-call .refresh() if the container size changes. It uses setInterval to check if clientBoundingRect on the scroll container has changed. There are a few undocumented parameters that can be changed to adjust this to meet your needs.

It's only it git so far, not npm, but should be published soon.

Let me know if it helps.

[2018-07-21 08:36] speige commented on #91
I've added a bool parameter for alignToBeginning to the scrollInto method. I didn't think about "center", oops. It's not yet on npm, just git, but should be published soon. Let me know if it helps. Thanks.

[2018-07-23 09:36] speige commented on #186
I've merged the PR (& modified it a bit). This issue should be working better now (not 100% perfect, but hopefully good enough). It's published to NPM (behind a flag documented in the readme). Could you try it out & close this issue if it's now resolved? Thanks.

[2018-07-23 09:36] speige commented on #175
I've merged the PR (& modified it a bit). This issue should be working better now (not 100% perfect, but hopefully good enough). It's published to NPM (behind a flag documented in the readme). Could you try it out & close this issue if it's now resolved? Thanks.

[2018-07-23 09:37] speige commented on #170
I've merged the PR (& modified it a bit). This issue should be working better now (not 100% perfect, but hopefully good enough). It's published to NPM (behind a flag documented in the readme). Could you try it out & close this issue if it's now resolved? Thanks.

I'm not certain if your issue was related to different-sized child items or not, so maybe that PR is unrelated. If so, maybe you can cla

[2018-07-23 09:38] speige commented on #160
I've added an example of this to the demo app that's part of this github repo.

[2018-07-23 09:38] speige commented on #147
I've merged the PR (& modified it a bit). This issue should be working better now (not 100% perfect, but hopefully good enough). It's published to NPM (behind a flag documented in the readme). Could you try it out & close this issue if it's now resolved? Thanks.

[2018-07-23 09:38] speige commented on #145
I've merged the PR (& modified it a bit). This issue should be working better now (not 100% perfect, but hopefully good enough). It's published to NPM (behind a flag documented in the readme). Could you try it out & close this issue if it's now resolved? Thanks.

[2018-07-23 09:39] speige commented on #135
I've merged the PR (& modified it a bit). This issue should be working better now (not 100% perfect, but hopefully good enough). It's published to NPM (behind a flag documented in the readme). Could you try it out & close this issue if it's now resolved? Thanks.

[2018-07-23 09:40] speige commented on #121
There's a good chance this is fixed in the latest version. Maybe try it out before creating the stackblitz. Thanks.

[2018-07-23 09:42] speige commented on #105
Sorry, I honestly have no clue. Maybe try the latest version to see if the issue is resolved. If not, a stackblitz would help troubleshoot it. However, I wonder if it'd require a complex app to notice the performance issue & a little demo in stackblitz wouldn't reproduce it? Anyways, this issue is quite old so I'm sure you've moved onto other things by now, but let me know if you'd like to trouble

[2018-07-23 09:44] speige commented on #86
There's a chance this is working now, because virtual-scroll now monitors for resize events. I'm not certain that's the cause of your issue, but it's worth checking. Let me know if you're still having this issue. Thanks.

[2018-07-23 09:46] speige commented on #54
The code now emits a `start`,  `end`, and `change` event for the 1st time the items are loaded. This should resolve the issue. Closing for now. Please re-open if you're still having issues. Thanks.

[2018-07-23 09:46] #54 closed

[2018-07-23 09:47] speige commented on #53
I wonder if this issue is already resolved in the latest version of the code. Would you mind re-testing & closing this if it's fixed? Thanks.

[2018-07-23 10:07] speige commented on #12
We have a simplistic implementation of variable heights (based on minimum height), but I don't think it'll work in your case since your items are drastically different.

I wonder if we could use a mix of min-childHeight & the idea from cpa-level-it ? The issue with calculating all items up front is we'd have to render them all to the DOM which is too expensive. We also can't assume the user will s

[2018-07-23 10:08] speige commented on #138
I've added an example of this to the demo app that's part of this github repo.

[2018-07-23 14:21] bellizio opened #207 "Loading in chunks docs incorrect for v0.4.5"
With the most recent code change for __ChangeEvent__ noted in the [v0.4.4 changelog](https://github.com/rintoj/angular2-virtual-scroll/blob/master/CHANGELOG.md#v044), the code example for [loading in chunks](https://github.com/rintoj/angular2-virtual-scroll#loading-in-chunks) no longer works.

The following check needs updating:
[code]

In this case, the __*else*__ block will never execute because

[2018-07-23 14:30] speige commented on #207
Good catch.

I like this version better:
if (event.end !== this.buffer.length - 1) return;

I'm away from my computer, so if you wouldn't mind doing a PR, I can merge it on my phone. Thanks.

[2018-07-23 14:32] speige commented on #207
Actually. It's only a 1-liner. I think I can do it real quick. Save you the hassle of forking.

[2018-07-23 14:37] speige commented on #207
Ok. This should be fixed now on github & npm. Thanks!

[2018-07-23 14:37] #207 closed

[2018-07-23 14:46] bellizio commented on #207
@speige no problem! Thanks for the quick response and for your contributions to this project.

While I was at it, I was going to mention a minor typo I noticed in that section of the docs as well. But I will open a separate issue for it to be addressed there.

[2018-07-23 14:49] bellizio opened #208 "Typo in 'Loading in chunks' section"
There is a small typo in the [Loading in chunks](https://github.com/rintoj/angular2-virtual-scroll#loading-in-chunks) section of the README:
[code]
should be:
[code]

(without the @)

[2018-07-23 14:57] speige commented on #208
Fixed in github. I won't publish to npm until the next version (unfortunately even for documentation changes you have to update the version #). Thanks.

[2018-07-23 14:57] #208 closed

[2018-07-24 14:35] mnasyrov opened #209 "How to get an index of currently visible top item?"
Is there a way to get an index of a current item which is at the top of viewport?
As I understand "start", "end"  and "change" events provide indexes of a slice of items which is bigger than a visible viewport.
It would be nice to have events for visible items like "visibleStart" or "visibleEnd".

[2018-07-24 14:48] speige commented on #209
Start would be the top visible item unless you have unequalChildItems or
bufferAmount set. For single column you can do start - bufferAmount, for
multiColumn it'd be start - bufferAmount*numColumns. However, as you scroll
down the start won't change until the last pixel of the top item
disappears, so it can seem like it's slightly off.

Maybe we should change this behavior to be more intuitive? I'

[2018-07-24 14:56] pcsantana opened #210 "Dependency issue with last version (0.4.7)"
Hi!
I tried to upgrade the lib version to the last one, but I got the follow error:

[code]

The tweenjs was installed successfully.
Any advice to solve the issue?

Thank you.

[2018-07-24 15:02] mnasyrov commented on #209
Yes, `enableUnequalChildrenSizes` is the my case.

[2018-07-24 17:35] pcsantana commented on #196
@Liork1 how did you fixed? I'm facing a similar problem.

Thank you!

[2018-07-24 17:50] pcsantana commented on #163
I'm facing a similar problem. In my case some of items from the array have a *ngIf condition to show an additional custom div. I suspect that when this div is recycled the scroll jumps. May be because of the height differences between them.
Looking for a solution.

[2018-07-24 22:03] speige commented on #196
If each array index will display both item types next to each other, you
could try wrapping them in a parent tag.

If only 1 child per array index, but the child type is different for each
index, you could try the the enableUnequalChildrenSizes flag.

If only 1 child per array index and all indexes are the same child type,
you could create 2 separate virtual-scoll, 1 for each child type & put the

[2018-07-25 10:52] mnasyrov commented on #209
I've no time right now may be later.

[2018-07-26 16:58] pcsantana commented on #196
Thank you @speige !
Actually I was making a mistake.
I had a condition to not show a custom div if it is the first item. So I put:
[code]
But I realized that it´s recycled and always the view in the top is index == 0, so the scroll jumps when that view recycled.
Removing the ``` i != 0 ``` solved my problem.

Anyway, thank you for the suport.

[2018-07-26 17:52] dalu opened #211 "Q: Picking or selecting an item"
Hello,
I'm considering to use this lib as an image and file picker.

I have an article type that has image_id and audio_id fields.

Now in my edit-article component I'd like to have this virtual scroll for images, when there is no image picked.
Since there are like 2000 images and more I'd like to lazy fetch more, which is possible with this lib.

But can I also select an image by clicking on it?

[2018-07-26 18:10] speige commented on #211
Yes. Your code still renders the items, so you can add any angular events
you like, including (click). The control simply monitors for scroll events,
slices the array to the visible items, & sends them back to your code to
render.

On Thu, Jul 26, 2018 at 11:52 AM dalu <notifications@github.com> wrote:

[2018-07-26 18:52] dalu commented on #211
Oh right, right.

[code]

Thanks alot :)

[2018-07-26 18:52] #211 closed

[2018-07-26 19:08] speige commented on #210
I just noticed package.json has tween setup strangely.

    "@types/tween.js": "^16.6.1", // this is invalid because version 1.0.0 is the latest
    "@tweenjs/tween.js": "^17.1.0"

Can you check if @types/tween.js was installed correctly in your node_modules?

You could try adding @types/tween.js to your package.json.

Since the compiled version of angular2-virtual-scroll is already included in np

[2018-07-27 01:33] zjw1918 commented on #147
thanks a lot

[2018-07-27 01:33] #147 closed

[2018-07-27 11:44] pcsantana commented on #210
Thank you @speige!
Adding "@types/tween.js" to my package.json solved the problem!
I don't know why this happened. I tried too to initiate an ionic blank app and installed the plugin and everything worked as expected. Just in my working app occurred this errors.

[2018-07-27 11:44] #210 closed

[2018-08-01 05:01] thienedits opened #212 "Is there a scroll end event? That only fires when scrolling is done?"
I am using some ngIf statement to show a button, and since the current events fire multiple times, it causes button to "flicker".

[2018-08-02 12:23] Automagication opened #213 "Unable to use scroll upon page down button"
I have added the "virtual-scroll" tag around my div tags.
Scrolling is working fine upon dragging the scroll bar using mouse however scroll through
"Page down button" is taking me back to top of the page.

Is there a solution for this.

[2018-08-02 17:48] speige commented on #212
Closing this, since I'm confident it can be worked around with debounce & is more a user-specific issue rather than something wrong with the actual component.

[2018-08-02 17:48] #212 closed

[2018-08-02 17:49] speige commented on #202
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:49] #202 closed

[2018-08-02 17:53] speige commented on #198
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:53] #198 closed

[2018-08-02 17:53] speige commented on #194
Closing this since I haven't received a response from the original poster. The current version on npm should work a little better with variable size items, but it's still not perfect. Please re-open if you continue to experience this issue.

[2018-08-02 17:53] #194 closed

[2018-08-02 17:53] speige commented on #186
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:54] #186 closed

[2018-08-02 17:54] speige commented on #185
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:54] #185 closed

[2018-08-02 17:54] speige commented on #170
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:54] #170 closed

[2018-08-02 17:54] speige commented on #164
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:54] #164 closed

[2018-08-02 17:56] speige commented on #163
I've seen this happen before with variable-sized child items (not sure if that's your usage scenario). However,the current version on npm addresses that (still not perfect, but it's much better).

Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:56] #163 closed

[2018-08-02 17:56] speige commented on #157
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:56] #157 closed

[2018-08-02 17:57] speige commented on #145
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:57] #145 closed

[2018-08-02 17:57] speige commented on #137
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:57] #137 closed

[2018-08-02 17:57] speige commented on #135
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 17:57] #135 closed

[2018-08-02 18:04] speige commented on #213
PageUp/Down are working for me in my app. It may be something app-specific.

If you're using a full-window scrollbar I think this works by default.
If the scroll area is only around a smaller section of the page rather than full window you probably have to focus the scroll area first by clicking inside it before hitting pageUp/down.

Maybe you could create a stackblitz to help troubleshoot the iss

[2018-08-02 18:16] speige commented on #200
I don't believe a universal css property exists to hide scrollbars. However, I think there are browser-specific css tricks (or prefixes), but they're not well supported across different versions of that same browser & not all browsers even have the option at all. Also, in some cases hiding the scroll bar this way actually completely disables scrolling. Probably not a good solution, but if you only

[2018-08-02 18:16] speige commented on #200
Closing this because it doesn't appear to be a specific issue to virtual-scroll component, but rather a general HTML/CSS issue that would be better supported by stackoverflow/etc. Please re-open if you disagree.

[2018-08-02 18:16] #200 closed

[2018-08-02 18:17] speige commented on #192
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:18] speige commented on #190
Thanks for the stackblitz, I didn't notice it until now. I'll try to look soon.

[2018-08-02 18:25] speige commented on #144
I was previously able to reproduce the issue where pageUp/down stopped working when the focused item left the DOM, but i'm not able to reproduce it anymore. Strange.

In the referenced duplicate issue I mention some tips that might help solve this problem.

[2018-08-02 18:25] speige commented on #148
Could you create a stackblitz to help troubleshoot this issue?

[2018-08-02 18:26] speige commented on #138
The demo is available on github. I'm waiting on rintoj to update it here:
http://rintoj.github.io/angular2-virtual-scroll/

Either way, I believe this issue is fixed.

Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:26] #138 closed

[2018-08-02 18:36] speige commented on #132
One issue with this is the childItems might become variable size (which we partially-support, but our implementation is naive so nested ngFor could potentially break it). A lot of that would depend on if group.attributes was read-only after the datasource is initially loaded or if it could change afterwards (we cache the calculated child item pixel dimensions for performance reasons rather than re

[2018-08-02 18:38] speige commented on #132
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

I originally flagged this as a feature request, but on second thought, I think it might actually work with the current implementation of the component (possibly requiring the variable size child items flag to be enabled).

[2018-08-02 18:38] #132 closed

[2018-08-02 18:40] speige commented on #134
This was originally flagged as a feature request, but on second thought, I think it should actually work with the current implementation of the component. It's probably an app-specific issue & nothing wrong with the virtual-scroll component.

Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:40] #134 closed

[2018-08-02 18:40] speige commented on #131
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:40] #131 closed

[2018-08-02 18:41] speige commented on #121
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:41] #121 closed

[2018-08-02 18:42] speige commented on #116
This is probably an app-specific issue & not a problem with the virtual-scroll component itself (unless it was a bug in a previous version that has since been fixed).

Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:42] #116 closed

[2018-08-02 18:42] speige commented on #112
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:42] #112 closed

[2018-08-02 18:44] speige commented on #105
2 general angular performance tips I have that you might try (Google them for more info):

1) use OnPush change detection strategy
2) use trackBy feature

[2018-08-02 18:44] speige commented on #105
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:44] #105 closed

[2018-08-02 18:44] speige commented on #104
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:44] #104 closed

[2018-08-02 18:46] speige commented on #86
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:46] #86 closed

[2018-08-02 18:46] speige commented on #72
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:46] #72 closed

[2018-08-02 18:47] speige commented on #53
Closing this since I haven't received a response from the original poster. Please re-open if you continue to experience this issue.

[2018-08-02 18:47] #53 closed

[2018-08-02 19:25] speige commented on #190
@inside-space This stackblitz appears to be a working solution with a different scrolling library at https://github.com/dhilt/ngx-ui-scroll and a scrollbar styling library at https://github.com/MurhafSousli/ngx-scrollbar

If someone is willing to convert this stackblitz into one which uses https://github.com/MurhafSousli/ngx-scrollbar and https://github.com/rintoj/angular2-virtual-scroll that woul

[2018-08-03 03:52] Automagication commented on #213
Exactly, it works fine if i click on the smaller section of the page and hit page down.
How can i fix this?

[2018-08-03 05:13] blingerson commented on #131
@speige, this did indeed fix my issue. Thank you.

[2018-08-03 05:46] speige commented on #213
You have to use the parentScroll option. Read the documentation here on github. Also, there's an example of it in the "demo" folder if you look at the source code. The updated demo hasn't been published to http://rintoj.github.io/angular2-virtual-scroll yet, so you have to run it from your own box to see it in action, or just look at the source/documentation & copy it into your app.

[2018-08-03 07:18] thienedits commented on #212
@speige ok will try the debounce, however since you use tween.js couldn't you use the onComplete to know when the animation finishes?

[2018-08-03 08:57] Automagication commented on #213
The scroll area is only around a **smaller section**, as you mentioned, that is causing the issue.Is there an option to enable this?

[2018-08-03 09:08] speige commented on #213
It is a known issue that when the scroll area is a small section you have to put focus on that smaller section before pageUp/down will work. I do not know how to fix this. If someone else figures out a way, I'll accept a pull request. The only known workaround is to convert it to a full-window scroller by setting parentScroll to window.

[2018-08-04 21:37] speige commented on #212
Ok. Hopefully the debounce helps. Since you're using scrollToIndex you could also use the animationCompletedCallback parameter if you wanted to know when the tween has ended.

[2018-08-05 19:44] dario30186 opened #214 "Coming back from other page the current viewPortItems are lost"
Hi,
I have a problem with this plugin. I have a list of items with virtual scroll, each item is a custom clickable component that push me in the details page. Then when I go back to the list, the items are rendered again so I see the begin of the list and not the item I clicked on.
I see that when I click on an Item and I go to details page I still have the correct viewPortItems but when I go back

[2018-08-06 02:00] speige commented on #214
If a component is removed due to an ngIf or a route change, it'll lose it's
state when it gets re-added. This is true of all components. Typically 3rd
party components don't do anything to save their state & instead leave it
up to the consuming application.

The virtual-scroll has an API with methods such as scrollInto or
scrollToIndex which you can use. You'll need to figure out when to call it
&

[2018-08-06 08:04] dario30186 commented on #214
thank you for your reply.
As I said, when I change page I always see the viewport Items in the DOM because I don't have any ngIf. I only have an [hidden] propriety so I do'nt re-add the component, it's always there.
If I look to html part added by component I can see these two div just below the virtual-scroll tag:
`<div _ngcontent-c0="" class="total-padding" style="height: 7134px;"></div>
<div _n

[2018-08-06 10:09] dario30186 commented on #214
UPDATE: even if I don't have any ngIf, I decided to save the state of virtualscroll but the problem is that when I come back in the list page, the (update) event is fired 7/8 times in 3 seconds so even I set the state the first time in the update callback then it is overridden by other update events.
Any solution ?

[2018-08-06 18:32] speige commented on #214
Maybe you could add a boolean property to your component which tracks whether the detail page is visible or not. Then, only store the new start value when the (change) event is fired AND the detail page is invisible. This way, when the they navigate from the details page back to the list you can restore the old state using scrollToIndex and the stored value should still be the correct index.

If t

[2018-08-06 18:43] dario30186 commented on #214
Thank you, I will try it.
Maybe a good thing for the API would be the possibility to set the initial state with a property in the html beacause if I set it with the function scrollToIndex then after calling this function the component could re-init state (as in my case)

[2018-08-06 19:26] speige commented on #214
I think scrollToIndex and setting the initial state would serve the exact same purpose. I'm not sure duplicating that API provides any additional benefit. I think there's something else causing the issue here.

It seems strange to me that after calling scrollToIndex the component is afterwards scrolling back to the first list item on its own. I wonder if there is a bug in virtual-scroll where it s

[2018-08-06 21:13] chouclee commented on #86
Material2 just released its ``virtual-repeat``. That should be good enough for now.

[2018-08-07 08:01] exequiel09 commented on #181
I was gonna file about the same issue title but mine is of another issue. I'm using this https://github.com/ng-select/ng-select (which uses `[virtualScroll]` as component `@Input`) It causes such conflict between the two when appearing in the same template.

[2018-08-07 16:33] speige commented on #181
I agree it should be renamed. I'm waiting on rintoj to give me permissions
over that name in npm.

In the meantime the only workaround I'm aware of is you can create a new
module in your app with a single component called ng-virtual-scroll that
acts as a wrapper around virtual-scroll. Then in your app import that
module & never use the real virtual-scroll, only use the ng-virtual-scroll
wrapper th

[2018-08-07 16:42] rintoj commented on #181
Hi @speige, just gave you permission to `ng-virtual-scroll`. The github repo attached to this module is not available now. Please continue to use this repo.

[2018-08-07 19:09] speige commented on #181
Thanks. I'll work on this soon.

[2018-08-09 12:45] samsamm777 commented on #142
@shohrukh92 I cant get your workaround to work. The extra div caused only some of the items list to show.

[2018-08-09 13:03] samsamm777 commented on #153
@kordeviant im having the same issue. i cant work out what the css should be.

[2018-08-09 17:02] siddharthpal opened #215 "virtual scroll to collapse/expand list is not utilizing the viewport properly"
Tried adding virtual scroll to collapse/expand list. Works perfectly if nothing is expanded or collapsed but once we expand/collapse any row it doesn't refresh properly. Can we achieve this?
 Attached screenshots:
<img width="1196" alt="screen shot 2018-08-09 at 10 16 24 pm" src="https://user-images.githubusercontent.com/7220182/43913298-507a1202-9c22-11e8-8b00-399b57fc88a5.png">
<img width="1183"

[2018-08-09 17:29] speige commented on #215
The documentation mentions that if the scroll element size changes you can call the refresh api method. However, the latest version should auto-detect the size change after 1 second & auto-refresh. I haven't tested it with expand/collapsed, but i'm surprised it's not working.

Would you mind creating a stackblitz? That'll help me troubleshoot it.

Thanks.

[2018-08-09 17:32] speige commented on #153
I agree this doesn't seem to be working well. I'm not sure if I'm using it wrong, or if it's just busted. If anyone is able to get this working, please submit a, please submit a pull request. (or if I'm just using it wrong, submit an example so I can add it to the demo).

[2018-08-09 17:33] speige commented on #142
@samsamm777 would you mind creating a stackblitz to help troubleshoot your issue?

[2018-08-09 19:18] siddharthpal commented on #215
I created a stackblitz and it seems to work...I suspect that has to do something in our expansion list.
[https://stackblitz.com/edit/angular-chfjyn?file=app%2Fexpansion-overview-example.html](url)

[2018-08-09 19:33] speige commented on #215
Ok. Let's close this for now. If you believe it's an issue with the component please re-open.

[2018-08-09 19:33] #215 closed

[2018-08-10 03:10] crhistianramirez commented on #181
how about ngx-virtual-scroll?

That seems to be the trend. x signifying the "version" which can always change. simply ng-virtual-scroll could be confused for angularjs

[2018-08-11 22:57] SerhiiTsybulskyi commented on #215
Still reproduced for me.
![aug-12-2018 01-54-57](https://user-images.githubusercontent.com/5399389/43996772-dee2bc04-9dd2-11e8-9081-8dbc28d79278.gif)
Any suggestions?

[2018-08-12 02:51] mahcr commented on #51
@speige - I would suggest not to close this ticket. This still a bug and the work arounds are very hacky.

[2018-08-12 06:51] speige commented on #51
@mahcr
I'm not personally using it with HTML table, so I'm not sure what the complaint is. However, I do know there are working solutions.

There is an example with HTML Table at http://rintoj.github.io/angular2-virtual-scroll/samples

Can you explain why the workarounds are hacky & not good enough & do you have any suggestions on a better approach?

[2018-08-13 15:48] lalogrosz opened #216 "Items on viewport only shows the first viewport (after upgrading angular 6)"
I was using the library perfectly, but after the angular 6 upgrade, I notice the duplicated items when I scroll.
Look how it works before:
![virtual-good](https://user-images.githubusercontent.com/1898486/44042496-cd5d972c-9ef6-11e8-9103-b97ae5823450.gif)

And this is how works now:
![virtual-bad](https://user-images.githubusercontent.com/1898486/44042517-d7b8c570-9ef6-11e8-90c8-782bbd4ca129.gif)

[2018-08-14 15:17] lalogrosz commented on #216
It was resolved! The problem was in the trackBy index. It seems to detect always the same index because the viewPortItems are always the same. The solution is to trackBy by the item id.

[2018-08-14 15:17] #216 closed

[2018-08-14 19:35] speige commented on #215
I had assumed the virtual-scroll was inside the collapsed area, which should work now due to the resize auto-detection. However, in your case the virtual-scroll is a wrapper around a bunch of expand/collapse items.

The issue is related to enableUnequalChildrenSizes. Unfortunately, we only support a very naive implementation of this feature. We assume children won't change size after they're first

[2018-08-15 10:29] imamy4 commented on #192
I have the same problem. I created example on [stackblitz](https://stackblitz.com/edit/angular-sxt8pd-uuuvwz).
The problem occurs when I put parent container to div element with `position: absolute`.

[2018-08-15 11:11] speige commented on #12
kykint came up with a great solution to this in PR #217. I made a slight modification to use averageChildHeight instead of minChildHeight.

You can turn on this logic with the [enableUnequalChildrenSizes]="true" flag.

The demo has been updated & seems to work pretty well for items with very different sizes. (100-1000px).

This has been merged & published to npm.

The solution still isn't 100% per

[2018-08-15 11:11] #12 closed

[2018-08-15 11:13] speige commented on #181
@crhistianramirez good point. Will do.

[2018-08-15 11:18] speige commented on #192
Re-opening. I'll try to look at the stackblitz when I have time. Thanks for submitting it.

If anyone else has a chance to help troubleshoot this, please do.

[2018-08-15 18:17] Eretik opened #218 "No overflow styles for parentScroll element in Internet Explorer"
In case of using `parentScroll="window"` or `parentScroll="body"` overflow style do not appends to html/body element in IE as it appends in Chrome. As a result there are no vertical scoll bar in IE.
IE version: 11.611.16299.0.
IE Update version: 11.0.80
angular2-virtual-scroll version: 0.4.8

---
Workaround: add `overflow: auto` to body element. But I believe it should be fixed in component.

[2018-08-15 18:36] speige commented on #215
1-day after I say that our "naive" implementation won't be improved, kykint submits a PR that improves it :)

If you add [enableUnequalChildrenSizes]="true" and update the version 0.4.8 from npm it fixes this issue.

One other issue is that when a child element changes size dynamically virtual-scroll needs to immediately refresh its calculations. It currently doesn't refresh until you start scroll