[2018-08-15 18:45] speige commented on #218
I'm not able to reproduce this.

I tested in IE and it seems to work.
Navigate to http://rintoj.github.io/angular2-virtual-scroll & click parentScroll

Maybe a difference in our IE versions? Or something specific in your app code?
![image](https://user-images.githubusercontent.com/2002030/44166426-9b854900-a088-11e8-9d74-72b3fe3a3eee.png)

[2018-08-15 19:04] speige commented on #192
@imamy4

Remove [childHeight]="20" and it works fine.  Your elements were actually 22px (on my box), so the last few items were being cut off.
The purpose of that property was for variable-height children. If they're all the same size it's not necessary.

The childHeight property is now deprecated & has been replaced by enableUnequalChildrenSizes. If your real app has variable-height children, I s

[2018-08-15 19:04] speige commented on #218
Closing this. Please re-open if you think it's still an issue.

[2018-08-15 19:04] #218 closed

[2018-08-15 19:04] Eretik commented on #218
It works on your demo page for my IE. And there are overflow styles for `html `element there too. It looks like my app specific issue. Gonna try to investigate it bit more.

[2018-08-16 11:39] imamy4 commented on #192
@speige

I removed `[childHeight]` from example and it doesn't work yet =)
You can see by the example that first few items of the second scroll were cut off.

We see the last items of the first scroll and the first items of the second scroll:
![image](https://user-images.githubusercontent.com/3244960/44205767-2a18c980-a160-11e8-8f73-b45f35a860b4.png)
After scrolling to the second scroll items disa

[2018-08-16 14:08] speige commented on #192
My mistake, I guess you only need .nativeElement if the templateRef is a custom component.

I thought I had it working earlier by only removing [childHeight]="20", but maybe I also changed something else that I forgot.

Today when I tried the issue was still happening, however removing both [childHeight]="20" and [parentScroll]="parent" (or removing "parentScroll ||" and leaving "scroll.window" )

[2018-08-16 14:10] speige commented on #192
I'm also not sure why setting parentScroll to the div instead of window doesn't work. I should research that too.

[2018-08-16 14:43] imamy4 commented on #192
@speige, thanks for your answer.

The big problem for me is the inability to use custom div as the parent scroll.
The problem with tables size measuring has a workaround, the problem with parent scroll no, unfortunately =)

[2018-08-16 14:51] speige commented on #192
Makes sense. I'll re-open this ticket.

Just curious, why does the window scroll workaround not work in your scenario?

[2018-08-16 15:05] speige commented on #51
@mahcr ok, so I played around with tables & I agree with you, the workarounds are hacky. I'll re-open this until we have a better solution.

[2018-08-16 15:12] imamy4 commented on #192
Because I have several divs on one page that are parent scrolls.

[2018-08-16 15:25] SerhiiTsybulskyi commented on #215
@speige Thank you. I will try it.

[2018-08-16 17:03] speige commented on #51
Let me clarify. The *only* part I think is hacky is if you need a fixed <thead> at the top of the scroll area. I don't know a solid solution for that. Everything else seems okay.

In my opinion this is the best way to use an HTML table with virtual-scroll:
[code]

You can also add a header (not-fixed) if desired:
[code]

Obviously virtual-scroll needs a fixed width/height as in other virtual-scrol

[2018-08-17 09:26] dario30186 opened #219 "On fast scroll items are not painted until the scroll stop"
I have the virtual-scroll working in my Ionic app, but have encountered the following issue when scrolling on browser or android device:

1. Populate a large list of items (200+)
2. Scroll the list quickly, touching and releasing your finger on screen (i.e. a flicking motion)
3. List appears blank until the screen is touched again

It's really annoyig and a very bad user experience.
I see that in

[2018-08-17 09:34] speige commented on #219
Unfortunately I don't have any ideas. It may be an app-specific issue since
others have not reported this. I'll need a stackblitz that shows this issue
occuring in order to help you troubleshoot.

On Fri, Aug 17, 2018, 3:26 AM dario30186 <notifications@github.com> wrote:

[2018-08-17 14:48] denkan opened #220 "scrollToIndex with animationMilliseconds doesn't animate"
Great module!

Tried to use `scrollToIndex` with custom value for `animationMilliseconds`. Didn't animate as expected (at all).

Checked the source and found the retry `retryIfNeeded()` fires the method with `animationMilliseconds=0`.

https://github.com/rintoj/angular2-virtual-scroll/blob/78bdd79ba79a0efc9ff2aa556f7109da2c2908da/src/virtual-scroll.ts#L329

Why is that?
If I change to the `animati

[2018-08-17 19:01] speige commented on #220
It works correctly on all the demos at http://rintoj.github.io/angular2-virtual-scroll. I believe the component code is correct & it's something wrong with your app. Please submit a stackblitz if you need help troubleshooting.

If you look at the sourcecode, scrollToIndex calls scrollToIndex_internal 2x, the retry portion is hard-coded to 0, but the original call uses the animationMilliseconds par

[2018-08-21 06:14] aks1994 opened #221 "Possible to use ngx-perfect-scrollbar with this component?"
Is it possible to use ngx-perfect-scrollbar with this component?

parentScroll prop only seems to take html elements/window. Is there any way I can tell virtual-scroll to use the scrollbar from ngx-perfect-scrollbar?

[2018-08-21 07:12] mohammed534 opened #222 "coming back from one tab to another giving a problem"
i have added 2 tables with 2 tabs with same scrollItems ...when i first load the data in the 1st tab it is working correctly but when i go to 2nd tab and coming back to 1st tab then only 1 element is showing in the DOM...is there any work around??

[2018-08-21 14:00] speige commented on #221
I've never tried it, but in theory it should work with parentScroll.

[code]

You'd want to assign parentScroll to the div.ps elemen

If you get it working, please create a simple demo so I can post your example code here on github for future users with this question.

Thanks.

[2018-08-21 14:02] speige commented on #222
My first guess would be to call the .refresh() api method of virtual-scroll when after the tab switch animation is completed.

If you can't get it working, a stackblitz would make it easier for us to help troubleshoot.

[2018-08-21 19:00] dario30186 commented on #219
I will close this issue beacuse it is not related to this plugin but to ionic framework

[2018-08-21 19:00] #219 closed

[2018-08-21 19:06] dario30186 commented on #214
After several days of testing it works BUT without property enableUnequalChildrenSizes.
If I enable this property then the scrollInto or scrollTo functions do not work properly. The list is not scrolled to the input item but there are 5/6 items of difference.
Just for your informations, I have a item list and when I click on a item then I show a card so the select item size change, then when I go

[2018-08-21 19:50] speige commented on #214
That sounds like a bug that was fixed in the 0.4.8 update. Can you make sure you're on the latest version? 0.4.9 is the latest in npm

If that doesn't fix it, please create a stackblitz so I can help troubleshoot.

[2018-08-21 20:07] dario30186 commented on #214
Yes I'm actually using 0.4.9 version

[2018-08-21 20:54] speige commented on #214
Interesting. It sounds like you're saying the selected item dynamically changes sizes? We don't have good support for that. enableUnequalChildrenSizes is if each item has a different size, not if the same item changes sizes. In theory I think it should still work, but I haven't tested it thoroughly.

You'll have to create a stackblitz if you'd like me to help troubleshoot it more.

The issue with

[2018-08-22 08:20] dario30186 commented on #214
Yes the selected item changes dynamically size but I think that this is not the problem beacuse without buffer or enableUnequalChildrenSizes everything works fine. I also tried to change page without change the item size but the result is always the same.
I will create a stackblitz as soon as I have some time ;)

[2018-08-22 09:11] dario30186 commented on #214
@speige I found a solution!
I saw that you add a buffer of 5 items by default if property enableUnequalChildrenSizes is enabled.
So when I call scrollInto I set the parameter additionalOffset to 5*ItemSize and it work as expected!

can this help you to debug ?

[2018-08-22 09:25] speige commented on #214
Oh. This makes sense. I'm sorry I should have thought of that sooner.
It's related to bug #209

Basically, bufferAmount is used to render extra items above/below the viewport. This helps with enableUnequalChildrenSizes so we don't have extra whitespace where an item could be rendered. bufferAmount is deprecated & will eventually be removed, but we need a few final improvements to enableUnequalChil

[2018-08-22 09:30] dario30186 commented on #214
Okk thank you for your explication. Maybe you could specify that in doc, in scrollInto and scrollToIndex section. It could be very useful for users ;)

[2018-08-22 09:35] speige commented on #219
Good idea. I'll do that.

[2018-08-22 14:54] shajeeck commented on #31
@PeterBurner @pcsantana any better solution found for this issue? to keep the scroll position when items are added to the top of list?

[2018-08-22 15:03] shajeeck opened #223 "Retain current scroll position when chunked items are concatenated to the top of list, chat behavior"
Thanks for this great virtual scroll.

Is there any way to maintain the current scroll position when chunked items are concatenated to the top the list? this is a usual chat behavior, when reaching top of the scroll list

`this.buffer = chunk.concat(this.buffer)` the reverse in your doc [new data on top]

current behavior will replace the viewport items instead of adding it to the top and maintain

[2018-08-23 11:17] aks1994 commented on #221
Thanks, appreciate the help but I'm not exactly sure how do I assign the parentScroll element.

I use perfect-scrollbar in component mode so it is:

[code]

<perfect-scrollbar> has a `<div class="ps">` element, but how do I pass this to parentScroll as this div does not have an Angular template ref attached to it.

Is there any syntax using css selectors that I can assign this div to parentScroll?

[2018-08-23 12:35] speige commented on #221
You'll need to use the "directive usage" syntax instead.

[code]

Documentation here: https://www.npmjs.com/package/ngx-perfect-scrollbar

Then you can use the angular # syntax to get a reference to that div.

[2018-08-23 12:48] speige commented on #223
This is not a built-in feature, but you can code it easily yourself.
The virtual-scroll has an API with methods such as scrollInto or scrollToIndex which you can use. You'll need to figure out when to call it & what value to use.
My suggestion is to store the most recent value for the "start" from the virtual-scroll before modifying the list & then calling scrollToIndex afterwards.
You can get the

[2018-08-23 12:53] speige commented on #223
Also, you could try doing buffer.unshift or buffer.splice to modify the array directly (you may need to call virtualScroll.refresh afterwards in-case angular doesn't automatically rebind). I'm guessing this still won't maintain the current scroll position, but I haven't tested it, so maybe it's worth trying.

[2018-08-24 09:10] Anberm opened #224 "There are some problems with using RouteReuseStrategy"
When using RouteReuseStrategy, the width and height of the scrollElement will be 0, resulting in a computation error when entering again,I have a suggestion to add the 0 judgment in the calculateDimensions method:

![image](https://user-images.githubusercontent.com/34148806/44576252-a777b600-a7c0-11e8-86bc-74696a382f87.png)

protected calculateDimensions(): IDimensions {
		let scrollElement = this

[2018-08-24 20:50] shajeeck commented on #223
I will try these and and update, will close this issue for now as this feature is not intended to be added from your side. Will open new if any promising updates from my end.

Thanks

[2018-08-24 20:50] #223 closed

[2018-08-25 02:59] Anberm opened #225 "CHANGE event conflicts. When virtual scroll is used with other controls, CHANGE event will pop up the events of other controls"
![virtual-scroll](https://user-images.githubusercontent.com/34148806/44614354-75646380-a855-11e8-881a-7b1ccdc77d54.gif)
https://stackblitz.com/edit/angular-dqe6az?file=src/app/app.component.ts

I use virtual-scroll with table and input-number. Change event pops up {start: 0, end: 11} when I scroll, but change event pops up {isTrusted: true} when I change input-number value

[2018-08-27 11:34] rafalmiler77 opened #227 "no exported member "Tween'"
From testing stacktrace:
[at-loader] ./node_modules/angular2-virtual-scroll/dist/virtual-scroll.d.ts:97:35
    TS2694: Namespace ''*'' has no exported member 'Tween'.

[2018-08-27 12:34] rafalmiler77 commented on #210
@speige
There is a difference between @types/tween.js (v like 16.9.0 ) and @types/tweenjs (v like 1.0.0)
so
`"@types/tween.js": "^16.6.1"`
 is perfectly valid and the correct one.

[2018-08-28 09:29] misha2011 opened #228 "parentScroll"
Please update documentation for  [parentScroll],
was [parentScroll]="scrollingBlock.nativeElement" becoming [parentScroll]="scrollingBlock"

[2018-08-28 17:31] shajeeck opened #229 "With enableUnequalChildrenSizes and loading chunks list jumps when scrolling"
With a list items of variable height between (100px - 200px) enableUnequalChildrenSizes working fine at initial setting of items. After loading multiple chunk data at bottom causes list to jump while scrolling.
I tried `virtualScroll.refresh()` after adding new concatenated items, still it jumps, jerks between scrolling.

[2018-08-28 19:11] speige commented on #229
I have verified that this is happening. Thank you for reporting it. Unfortunately, I don't personally have time to research/fix it at the moment. I'm going to leave it up to the community to find a fix & submit a pull-request.

@shajeeck Are you willing to attempt to fix this?

@kykint Do you have time to look at this?

[2018-08-28 19:16] speige commented on #228
Good catch. I'll do this.

However, the documentation isn't completely wrong.

These are both valid:
[code]

[code]

The issue is that parentScroll must be assigned a native javascript DOM element reference. the angular #elementRef syntax will give you a different javascript variable type based on the type of element. If it's a native HTML element such as a DIV, it'll give you a native javascript

[2018-08-28 19:26] speige commented on #227
Duplicate of #210

The proposed workaround in the other issue was to add
"@types/tween.js": "^16.6.1" to your apps package.json file

Can you verify if this fixes your issue? If so, please close this. Thanks.

[2018-08-28 19:40] speige commented on #224
Thanks for submitting this!

I've merged your pull request. Please let me know if anything looks wrong.

I'll release it to npm soon.

[2018-08-28 19:40] #224 closed

[2018-08-28 19:44] speige commented on #228
I've updated the documentation based on your request. Please re-open if this is still incorrect.

[2018-08-28 19:44] #228 closed

[2018-08-28 19:45] #227 closed

[2018-08-28 21:04] shajeeck commented on #229
I truly have no clue how this awesome scroll is working.
But it's perfect for some use cases if this issue can be solved. I don't think i can do this.
maybe help from @kykint will be great!

[2018-08-28 21:57] #225 closed

[2018-08-28 21:58] speige commented on #225
It appears this is a known issue of Angular2 caused by DOM event bubbling. I've coded a fix for this by prefixing the event names with vs*. So, you can use (vsChange)="" instead of (change)=""

It's been committed to git. Should be in npm soon.

Please re-open if you don't think this will resolve your issue.

[2018-08-28 21:58] speige commented on #225
Link to known Angular2 issue: https://github.com/angular/angular/issues/13997

[2018-08-28 22:11] speige commented on #224
Version 0.4.10 is now on npm. Please test it & re-open if your issue persists.

[2018-08-28 22:11] speige commented on #225
Version 0.4.10 is now on npm. Please test it & re-open if your issue persists.

[2018-08-29 01:11] speige commented on #229
I've updated the demo to have a "Toggle Random Height" button above the "Loading in Chunks" sample. This makes it easy to reproduce the issue for testing. It's not published to http://rintoj.github.io/ yet, but you can see it by cloning the repo and executing the debugDemo.bat file

[2018-08-29 01:54] speige commented on #229
I believe I know the root cause of the issue.

Some background info:
	The way enableUnequalChildrenSizes works is that it measures the size of each child using getBoundingClientRect. However, it can only do this on visible items. So, it has to estimate the sizes of non-rendered children. As the user scrolls, it re-measures & replaces any estimated values with actual  measured values. This can caus

[2018-08-29 07:10] kykint commented on #229
Hello. I got the problem, I can make a fix today or tomorrow (based on my time)

[2018-08-29 13:01] dheerendraiiita opened #230 "Header's cells are not UI aligned with body's cells"
Hi,
I'm facing an issue on when using table when there is header ( fixed ) and body.
In this case, header's cells are not UI aligned with body's cells.

Could you help me?

<img width="1356" alt="issue" src="https://user-images.githubusercontent.com/25869745/44789173-8e547800-abb9-11e8-8770-471e077d3003.png">

[2018-08-29 13:55] kykint commented on #229
https://github.com/rintoj/angular2-virtual-scroll/pull/231

Very quick fix, but it works. I introduced a new input parameter compareItems - this is a function which can compare items of virtual scroll. By default it is very simple, but can be changed to comparing JSON.stringify or id.

[2018-08-29 14:47] pcsantana commented on #214
Just a note, I'm facing the same problem and I noticed the problem is with **enableUnequalChildrenSizes**. If I set true, when comming back from details page, the scroll is on the top.
But, If I use **bufferAmount** and **childHeight**, it works as expected (keeps the original position of the list that was before going to details page).

[2018-08-29 16:38] speige commented on #230
You'll need to create a stackblitz if you want help. I can't debug the issue without seeing the code.

However, here's an example that works with an HTML Table that you can copy from.
[code]

Unfortunately, support for html tables with headers isn't perfect with virtual-scroll. The main issue is I don't know how to keep the header "fixed to top", I've tried a few techniques and none of them worked

[2018-08-29 16:39] speige commented on #230
I'm closing this since the example I posted should work. If you continue to have issues, please re-open.

[2018-08-29 16:39] #230 closed

[2018-08-29 16:42] speige commented on #214
@pcsantana Let me know if the suggested workaround posted above helps. If not, please describe your issue more thorougly and create a stackblitz to help troubleshoot it.

[2018-08-29 22:15] rafalmiler77 commented on #227
It haven't worked unfortunately.  Installing "@types/tween.js": "^16.6.1"  throws still the same error.
My workaround was putting the typings from
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/tween.js/index.d.ts
 into the custom typings file of the angular project.

[2018-08-30 05:50] speige commented on #229
The PR has been merged & I believe the issue is resolved. I'll submit a new version to npm soon. Please re-open the ticket if you continue to experience problems.

[2018-08-30 05:50] #229 closed

[2018-08-30 06:09] speige commented on #229
This is now on npm version 0.4.11

[2018-08-30 06:26] shajeeck commented on #229
Will test, hopefully documentation will be updated for this feature

[2018-08-30 06:29] speige commented on #229
The documentation has been updated to mention the new compareItems feature. However, the default value for this property should automatically work for most users without any changes.

[2018-08-30 06:45] shajeeck commented on #229
Great, its now scrolling much better as intended!

[2018-08-30 07:45] dheerendraiiita commented on #230
Thank you very much @speige for quick response. Your approach seems working.

[2018-08-30 13:05] pcsantana commented on #214
@speige @dario30186, the solution works, but only if I know the itemSize (fixed size). I have the virtual scroll in many pages, and in some of these the size is fixed in others not. As you said, your item has dynamic size. Any idea how can I get the correct item size to set the parameter additionalOffset with dynamic sizes?

[2018-08-30 13:52] dario30186 commented on #214
@pcsantana I emit an event when the item change size and I compute dynamically the total size of all items in viewport

[2018-08-30 16:15] pcsantana commented on #214
Uau, it sounds too complex! I'll try to do something like that or another solution.
Thank you anyway.

[2018-08-30 17:37] speige commented on #209
I've committed a fix that improves this, however it's still not perfect. BufferAmount is no longer included in the start/end/change events (or viewportIndices property). However, the indexes reported are sometimes less than what's actually visible.

I believe this is due to a miscalculations with enableUnequalChildrenSizes and we were hardcoding bufferAmount=5 as a workaround.

To demonstrate the

[2018-08-30 17:38] speige commented on #209
Note: Although I've committed a partial fix, I haven't updated the documentation or published to npm. I'm going to wait on that until the buggy side-effects are corrected.

[2018-08-31 10:34] kykint commented on #209
I think that bufferAmount should be always, because on quick scrolling with complex elements (components with difficult structure), elements could initialize slowly. That is why for my cases even without enableUnequalChildrenSizes I have to set bufferAmount=10 to prerender items before they come to view.

[2018-08-31 12:37] pcsantana commented on #214
@speige @dario30186 , I found a better solution!
I tried to debug the virtual scroll code, and I found the property `checkResizeInterval`!
After that I see in README:

So, just disabling this property everything works perfect (keeping the scroll position that was before going to details page), without any additional code! 🎉🎉🎉

Thank you for the support.

[2018-08-31 18:06] speige commented on #200
[code]

[2018-08-31 18:32] speige commented on #220
Closing since I haven't heard back from the original poster & it seems like user error. Please re-open if you continue to experience issues.

[2018-08-31 18:32] #220 closed

[2018-08-31 18:32] speige commented on #222
Closing since I haven't heard back from the original poster & it seems like user error. Please re-open if you continue to experience issues.

[2018-08-31 18:32] #222 closed

[2018-08-31 18:46] speige commented on #214
checkResizeInterval is used to automatically call refresh if the size changes. This shouldn't cause any problems or cause it to scroll to a different location. However, I wonder if when you navigate to the details page your original virtual-scroll becomes hidden/disabled/0 size and that causes refresh() to calculate incorrectly and scroll to top. Maybe I can only have checkResizeInterval call refr

[2018-08-31 18:58] speige commented on #214
@pcsantana Would you mind creating a stackblitz that reproduces your issue? I want to see if a change I'm making will fix it:

Old:
[code]

New:
[code]

[2018-08-31 19:04] speige commented on #209
That makes sense. bufferAmount allows a few invisible elements on both sides of viewport to have measured sizes instead of estimated sizes, so scrolling will be smoother.

I think the bug is that ChangeEvent reports a start/end that don't match the viewport. I'll research what's causing that. Thanks.

[2018-08-31 19:48] speige commented on #209
@kykint I think a found a few causes for the bug.

#1) In calculateDimensions, enableUnequalChildrenSizes loops over content.children to determine sumOfVisibleMaxWidths/sumOfVisibleMaxHeights. However, due to bufferAmount, some of the children may actually  be invisible. I think we should look at getBoundingClientRect for each child to determine if they're actually visible within the viewport.

#2

[2018-08-31 20:27] pcsantana commented on #214
@speige

I'm using Ionic 3.
I created a repo with fresh ionic app to reproduce the issue:

https://github.com/pcsantana/ionic3-angular2-virtual-scroll

Let me know if you have any problems to run the project.

Thank you!

[2018-09-01 03:08] speige commented on #209
I've committed a fix for this. It should be available on npm as version 0.4.12 soon.

[2018-09-01 03:08] speige commented on #209
@kykint I committed a fix for this. Check it out and tell me what you think.

I've tested it & the values from change/start/end events seem more accurate (not messed up by BufferAmount). They are sometimes still off by 1, but that also happens even without enableUnequalChildrenSizes.

Also, for testing only, I made this change:
[code]
and there was no extra whitespace & everything worked fine. May

[2018-09-01 03:10] speige commented on #214
@pcsantana The fix is now published to npm as version 0.4.12

[2018-09-01 03:11] speige commented on #214
@dario30186 Issue #209 which was requiring you to do extra math based on BufferAmount is now fixed.
Please test out npm version 0.4.12 & let me know if you have any problems.

[2018-09-01 03:11] speige commented on #214
Closing since I believe both issues have been resolved & even if they haven't there are viable workarounds.

Please re-open if you continue to have issues.

[2018-09-01 03:11] #214 closed

[2018-09-02 12:38] PeterBurner commented on #31
no
sorry

[2018-09-03 13:13] pcsantana commented on #214
@speige , I can confirm, the version 0.4.12 fixed the issue.

[2018-09-05 04:44] satyavanu opened #235 "angular6 suppport?"
The virtual scroll element supports angular6 ? i tried to add it , and it doesn't ?

[2018-09-05 04:51] speige commented on #235
Yes, Angular 6 is supported. Please give more info on your issue, if you need more help.

[2018-09-05 06:16] satyavanu commented on #235
i get the following errors

core.js:1598 ERROR Error: Uncaught (in promise): Error: Template parse errors:
'virtual-scroll' is not a known element:
1. If 'virtual-scroll' is an Angular component, then verify that it is part of this module.
2. If 'virtual-scroll' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message. ("<div>
    [

[2018-09-05 06:26] speige commented on #235
The error message seems self explanatory.

Most likely you're missing something from the intial setup instructions.

Either:
[code]

or:
[code]

Please paste your .module.ts file & package.json file.

Or, you could use https://stackblitz.com/ to reproduce your issue & send me the code.

[2018-09-05 06:29] satyavanu commented on #235
i did this all,    @angular-redux/store": "9.0.0",
        "@angular/animations": "6.0.3",
        "@angular/cdk": "6.4.2",
        "@angular/common": "6.0.3",
        "@angular/compiler": "6.0.3",
        "@angular/core": "6.0.3",
        "@angular/flex-layout": "6.0.0-beta.17",
        "@angular/forms": "6.0.3",
        "@angular/http": "6.0.3",
        "@angular/platform-browser": "6.0.3",

[2018-09-05 06:32] speige commented on #235
Yes, it supports Angular 6.

It's probably an issue with your .module.ts file

Also, please double check that these files exists in your app (in case 'npm install' failed):
node_modules\angular2-virtual-scroll\dist\virtual-scroll.d.ts
node_modules\angular2-virtual-scroll\dist\virtual-scroll.js

[2018-09-05 06:34] satyavanu commented on #235
<img width="274" alt="screen shot 2018-09-05 at 08 34 01" src="https://user-images.githubusercontent.com/3895610/45075162-7f545500-b0e6-11e8-97fd-bd07c2ddd729.png">

[2018-09-05 06:35] speige commented on #235
npm install seems like it worked fine.

Probably your .module.ts

[2018-09-05 06:36] satyavanu commented on #235
<img width="284" alt="screen shot 2018-09-05 at 08 36 07" src="https://user-images.githubusercontent.com/3895610/45075243-c5111d80-b0e6-11e8-82cf-27152d694891.png">
<img width="567" alt="screen shot 2018-09-05 at 08 35 44" src="https://user-images.githubusercontent.com/3895610/45075244-c6424a80-b0e6-11e8-9204-03eadcbfd297.png">

i don't see i did wrong in any step there ,

[2018-09-05 06:48] speige commented on #235
Here's an example showing it working:
https://stackblitz.com/edit/angular-7lbtb6

I'm not sure what you're doing wrong, but maybe you can compare that side-by-side with your code, to find your mistake.

[2018-09-05 15:47] #235 closed

[2018-09-06 13:41] aks1994 commented on #221
Thanks, that's perfect. I just had to add the following style to get it to work perfectly. What happened otherwise is that .scrollable-content which has height: 100% and max-height: 100vh gets computed height=100% of <virtual-scroll> and <virtual-scroll> in turn gets 100% of .ps-content which is the entire scrollable section. This left some whitespace at the end of the table due to 100vh being lar

[2018-09-14 12:34] Jahrenski opened #236 "[Feature request] Events when the list is fully scrolled to top/bottom"
Thanks for this virtual scroll lib, it works very well!

I have one feature request that would be very useful to us and probably others: events to fire when the user scrolled fully to the top and bottom of the lists.

The reason behind this is that we use virtual scroll along with a "pull to refresh" feature to force update the data. I have to disable the pull to refresh when the list is not fully

[2018-09-18 17:29] speige commented on #236
This is a good idea. Are you willing to submit a pull request?

[2018-09-18 17:31] speige commented on #221
Closing this as the suggestion seems to have a resolved the issue. Please re-open if you continue to have problems.

[2018-09-18 17:31] #221 closed

[2018-09-18 17:34] speige commented on #192
@imamy4 I've updated the documentation with an HTML table example that doesn't require ChildWidth/ChildHeight to be set:

[code]

Can you try this in combination with our previous discussion to see if it resolves anything?

[2018-09-18 21:09] speige opened #237 "Support fixed-header with HTML Tables"
Feature request.

It can be done by commenting out this section of code from the getElementsOffset function:
[code]
However, the math seems off because the header jumps around by a few pixels each time you scroll.

[2018-09-18 21:10] speige commented on #51
I've decided to close this. The only issue I'm aware of is that you can't do a fixed-to-top-header. I'm creating a separate feature request for that. #237

[2018-09-18 21:10] #51 closed

[2018-09-19 07:09] Fokir opened #238 "After changing the size of the container, it starts to poorly scroll"
[Youtube video](https://www.youtube.com/watch?v=HrHVTotQnA4&feature=youtu.be)
When resizing with "parentScroll" it starts behaving strangely. Jumps when scrolling, apparently it does not calculate the height of the elements when changing sizes

[2018-09-19 09:35] speige commented on #238
It looks like you're doing something we don't officially support: Changing the size of an item after it has been rendered.

This should be easy to fix. I'll code up something & submit a new version to npm.
It'll be a method to invalidate the cached measurements.

In the meantime, you can try one of these 3 temporary workarounds:

//1) might work, but will work better after I code up a hotfix
[code

[2018-09-19 19:29] speige commented on #238
I've committed a fix for this. It's not yet available on npm, but will be soon.

After release, I think your best option would be
[enableUnequalChildrenSizes]="false"
After elements change size due to side-bar opening, call this method: virtualScroll.invalidateAllCachedMeasurements();

[2018-09-19 21:17] speige commented on #236
I've coded this. It's not available on npm yet, but will be soon. Please read the updated documentation & let me know if you have any questions.

[2018-09-19 21:53] speige commented on #236
This is now available on npm as version 0.4.13
Please re-open if this doesn't solve your issue.

[2018-09-19 21:53] #236 closed

[2018-09-19 21:53] speige commented on #238
This is now available on npm as version 0.4.13
Please re-open if this doesn't solve your issue.

[2018-09-19 21:53] #238 closed

[2018-09-20 10:41] nickbullock opened #239 "viewPortIndeces still counts with bufferAmount for 'unequalChildrenSize' mode"
Hi! Thanks for this library, it's really great.

But viewPortIndeces still counts with bufferAmount for 'unequalChildrenSize' mode.

So with items = Array.apply(null, {length: 10000}).map((item, index) => index) last index i can see
[code]
is 10004 (9999 + bufferAmount = 5)

[2018-09-20 10:54] speige commented on #239
I'm not able to reproduce this.

The demo at http://rintoj.github.io is still on the old version, which has the issue you describe. If I clone master & run the demo locally, the issue is resolved.

Would you mind creating a stackblitz? (I know you submitted some code, but I need the full code that causes the problem in order to diagnose/fix).

There is some code that uses 5 as the default bufferAm

[2018-09-20 13:04] Roelensdam commented on #239
I got the same issue : 'TypeError: Cannot read property 'sumOfKnownWrapGroupChildWidths' of undefined'

It seems due to the initialization of VirtualScroll before the items are loaded (trough XHR).

Any ideas ?

[2018-09-20 18:38] speige commented on #239
Sorry about that. I'll release a fix soon.

[2018-09-20 18:50] speige commented on #239
I've just released a new version (0.4.14) to npm. Can you check if it fixes the 'sumOfKnownWrapGroupChildWidths' issue?

[2018-09-20 19:33] nickbullock commented on #239
@speige i just checked 'sumOfKnownWrapGroupChildWidths' issue is fixed.
But bufferAmount issue still exists https://stackblitz.com/edit/angular-umpw7n?file=src/app/app.component.html

[2018-09-20 20:05] speige commented on #239
@nickbullock Thanks for submitting the stackblitz. I agree there does seem to be an issue with bufferAmount being included in the startIndex. I'll try come up with a fix.

[2018-09-23 10:00] nickbullock opened #240 "Multiple calls of AppRef.tick"
Hi, it's me again! Thanks for your work.
You use runOutsideAngular for event handlers, it's great for app performance.
But i still can see multiple AppRef.tick calls when scroll events firing.
Just place console.log in tick() sources or subscribe to ngZone.onMicrotasksEmpty (i already did it in stackblitz example)
https://stackblitz.com/edit/angular-mpmwhq?file=src%2Fapp%2Fapp.component.html

[2018-09-24 08:07] PhilippSoehnlein opened #241 "angular2-virtual-scroll prevents horizontal browser scrollbar from working the ordinary way"
I just got a (desktop only) app to maintain which uses angular2-virtual-scroll and applies something like `body { min-width: 1280px; } ` to ensure a certain minimum width. If the viewport is smaller than this, a horizontal scrollbar appears and most contents still align well and the horizontal scrollbar can be used to make the right part visible. Except the one's within the virtual scroll containe

[2018-09-24 18:59] speige commented on #241
If it fixes your issue, the CSS change you proposed should be fine. I'm not sure a better way to handle it.

[2018-09-24 18:59] #241 closed

[2018-09-24 19:02] speige commented on #240
That's a good idea. Would you mind submitting a pull request?

[2018-09-24 20:58] speige commented on #181
This has been completed.

ngx-virtual-scroll was already taken, so I chose ngx-virtual-scroller instead

[2018-09-25 09:24] AntonTrofimovich opened #244 "Feature: Add scrollDebounceTime"
Hello. First of all thanks a lot for the lib. It's awesome :)

Would you like to add scrollDebounceTime functionality? It is similar to scrollThrottlingTime but starts timeout each time scroll event is fired.

Will be look like this:

[code]

Thanks in advance.

[2018-09-25 11:44] alexandrin-rus commented on #181
Thanks for renaming the component. Another issue remains, in the current form it is still conflicting with another popular component https://github.com/ng-select/ng-select that uses the `[virtualScroll]` as an `@Input`. Can the selector also change to `ngx-virtual-scroller , [ngxVirtualScroller]`?

[2018-09-25 17:02] speige commented on #181
Oops. You're right, I missed that part. Re-opening issue.

[2018-09-25 17:15] speige commented on #244
I'm nervous that scrollDebounceTime will cause a confusing user experience. I honestly don't like scrollThrottlingTime either (it defaults to 0), but I think it's necessary in some scenarios for performance reasons.

The difference between throttling and debounce is that with throttling the UI will be forced to be updated on the interval, whereas with debounce the UI will remain stale as long as t

[2018-09-25 17:58] speige commented on #181
Ok, this should be fixed now. It's on npm version 1.0.3

I went with virtual-scroller and [VirtualScroller] instead of ngx-virtual-scroller and  [ngxVirtualScroller] for the selectors. I don't think "scroller" will have many conflicts with other libraries & I don't want people to be annoyed by typing the extra ngx everywhere.

[2018-09-25 17:58] #181 closed

[2018-09-25 18:04] alexandrin-rus commented on #181
That'll work. Thank you!

[2018-09-26 15:52] speige commented on #244
Thanks for your explanation. You're right, this could have value in some scenarios. I'll leave it up to the consuming application to make it obvious to the user why the screen is blank & that it'll load when they stop scrolling.

I've coded this & published to npm version 1.0.4. Please re-open if you continue to have issues.

[2018-09-26 15:52] #244 closed

[2018-09-26 16:25] speige opened #245 "Modify scrollInto/etc methods to use an enum with beginning/center/end rather than boolean alignToBeginning"
This adds the option for "center", while making the parameter to the method easier to understand compared to a boolean.

Would affect these methods:
scrollInto
scrollToIndex
scrollToIndex_internal
scrollToPosition

[2018-09-26 16:30] speige opened #246 "Modify checkScrollElementResized to also check if any child elements were resized"
This would be used if a child element is an expand/collapse control (or something similar).
Would need a cache of visible child sizes (could re-use cache that enableUnequalChildrenSizes uses) to compare old/new sizes.

Because https://wicg.github.io/ResizeObserver/ is not implemented, we'd need to check each child element in for loop. This would need to be on a configurable timer for performance r

[2018-09-26 16:33] speige opened #247 "Add more examples to demo"
parentScroll that isn’t window

#container (for fixed-to-top search filters)

[2018-09-27 14:06] AntonTrofimovich opened #248 "Add access to startIndexWithBuffer/endIndexWithBuffer in IViewportIndices"
The problem with list items numbering.

Currently users have access only to indices which corresponding items are **visible** on the screen. But the number of **existing** elements is larger. So it's impossible to number list in the right way without “dirty” tricks.

[2018-10-01 09:48] PapaNappa commented on #213
I found a workaround:

Add `tabindex` attribute to `virtual-scroller` (or the parent scroll element if you have one)
Add a click listener on the `virtual-scroller`, on which it sets the focus for the scroller/parent scroll element.

Template:
[code]

Typescript:
[code]

Of course the caveat is if you rely on elements within the scroller to have focus, this does not work.

[2018-10-02 10:18] omaxlive commented on #30
Installing this plugin fixes the issue: [cordova-plugin-ionic-webview](https://github.com/ionic-team/cordova-plugin-ionic-webview )
because of WKWebView!:)

[2018-10-02 11:12] vanackere commented on #237
Hi,

 I'm interested in implementing / fixing this feature. As a first try I commented the section of code you mentioned but after this the header appears at top position only during scrolling. Are there any other modification I should be doing to test this ?

[2018-10-02 18:04] vanackere commented on #237
Thanks, it was indeed somewhat working but in my case the header was mostly hidden at the top (and I did not see it because it had not a different background color).
I'll experiment a bit more with this... Don't you think some additional css might be necessary to properly set the header in place ?

[2018-10-03 11:33] pixelit opened #249 "vsChange ChangeEvent.end wrong"
After upgrading to ngx-virtual-scroller and changing to vsChange I notived the ChangeEvent.end is short by 1. If I have 30 items in the list the event.end returns 29 at the bottom. Previously it was 30.

[2018-10-03 14:41] speige commented on #249
This was a documented breaking change. You can see the list of these changes at the top of the readme.

[2018-10-03 14:41] #249 closed

[2018-10-04 11:03] vanackere commented on #237
How about doing this by computing/applying the right css rule on the header element while scrolling ?
[code]

Do you think it could work ?

[2018-10-04 11:09] sharikovvladislav commented on #240
@speige Any thoughts on this? What do you suggest? This guy is on holiday. I can do this work.

[2018-10-04 11:59] sharikovvladislav commented on #240
Ok , he'll do it asap :) ty

[2018-10-04 18:56] speige commented on #237
I agree that a CSS solution is better than a javascript+math solution, but I'm not sure it's possible.

One tricky thing I've noticed is that many css changes on the table related elements completely break the whole table functionality.

For example, this keeps the header on top, but breaks the column widths.
[code]
Normally position: fixed would go to the top of the page, but since .scrollable-co

[2018-10-04 19:00] speige commented on #240
I'll let you guys work it out. As soon as you have a PR ready, I'm happy to look at it.
Thanks.

[2018-10-04 19:05] speige commented on #248
I agree with this. Feel free to code it up & submit a pull request. Thanks.

[2018-10-04 21:42] vanackere commented on #237
Pull request here:

 https://github.com/rintoj/ngx-virtual-scroller/pull/250

[2018-10-05 17:01] speige commented on #237
This has been merged. Thanks for your help!

[2018-10-05 17:01] #237 closed

[2018-10-07 20:34] jamesmikesell opened #253 "Projects using ngx-virtual-scroller will not compile when "noImplicitAny" is set in tsconfig.json"
# Problem
Angular projects using ngx-virtual-scoller which have their `tsconfig.json` `compilerOptions.noImplicitAny` set to `true` fail to compile with the following error:

[code]

While this can be remedied by adding `"@types/tween.js": "^16.9.0"` to the package.json, I believe the underlying issue is that nxg-virtual-scroller should have `@types/tween.js` added to it's `package.json` `dependen

[2018-10-07 20:36] speige commented on #253
Good suggestion. I'll take a look.

[2018-10-07 21:47] jamesmikesell commented on #253
Just realized that in addition to the above, I had to remove `"types": []` from `tsconfig.app.json` in the project that uses ngx-virtual-scroller.

[2018-10-07 23:12] speige commented on #248
Closing this. The PR you submitted for this issue has been merged. Please re-open if you think more changes need to be made. Thanks for your help!

[2018-10-07 23:12] #248 closed

[2018-10-08 02:03] speige commented on #253
I've made the change you requested & published it to npm under version 1.0.6.

Let me know if that solves the issue.

I assume I don't need to do anything in relation to the `"types": []` in `tsconfig.app.json` that you mentioned, since that sounds like a change in the consuming app.

[2018-10-08 20:30] jamesmikesell commented on #253
A this point, I don't think you need to do anything else, however I'm curious if needing to remove `"types": []` in `tsconfig.app.json` is indicative that there is something else being missed / misconfigured.

I'll do some more investigation and re-open if i find a more elegant solution.

[2018-10-08 20:30] #253 closed

[2018-10-10 08:58] Aphax opened #254 "Make scroll container height fit to content height if smaller"
I'm trying to make the scroll container's height fit to its content's height if the latter is smaller than him.
I can not see any option for this behavior to be handled actually, is there any planned ?

Only solution I see for now is to set container height manually after scroll is updated by calculating its content height and do the comparison manually.

Thanks for the good work already

[2018-10-10 09:14] al-matari opened #255 "Hiding scrollbar"
Hallo everbody,

 i read in your docmention that is possible to hide the scrcollbar with
	   margin-right: -25px;
	   padding-right: 25px;
but it doesn't work for me.
Hier ist my css.
 ::ng-deep virtual-scroller.vertical {
    margin-right: -25px !important;
	   padding-right: 25px !important;
  }

::ng-deep virtual-scroller.selfScroll.vertical {
    height: 75vh;
    margin-right: -25px !importan

[2018-10-10 14:22] Aphax commented on #209
In my case even with enableUnequalChildrenSizes set to false and bufferAmount to 0, the number of viewportItems is slightly bigger than what's displayed (17 but 13 visibles), so there is a gap of 2 rows that a pre displayed on top and bottom even with a 0 bufferAmount, is that the wished behavior ?
It would be nice to have something like an array of rendererItems with vsUpdate, what do you think ?

[2018-10-10 14:40] speige commented on #209
1 item would be understandable because even if only 1px of the item will be visible, it needs to render it.
However, 2 extra invisible items seems like a math bug. I've just checked https://rintoj.github.io & was easily able to get 2 extra items, so it's probably common & happening for a lot of users.

I'm surprised to hear you're getting 4 extra items. I've never seen that nless enableUnequalChil

[2018-10-10 14:49] speige commented on #255
This is really a CSS hack, but it does work in the all the browsers I've tested with. My guess is your css is not getting applied. Maybe you don't need ::ng-deep ?

![image](https://user-images.githubusercontent.com/2002030/46744671-d52d9700-cc68-11e8-8035-8286abe252e0.png)
Use developer tools to check if your style is being applied (or overridden by something else). You can also add it as an inli

[2018-10-10 14:49] #255 closed

[2018-10-10 14:52] speige commented on #254
You're correct, there is no built-in functionality for this in the component.
If you'd like to contribute this feature, feel free to submit a pull request.

[2018-10-10 16:30] Aphax commented on #209
@speige my bad after rechecking the bug seems to be only at bottom, like you just observe.
There are always 2 extra items completely outside of the scroller, still confusing and not what we might expect I guess.

[2018-10-10 16:39] speige opened #256 "extra items rendered oustide viewport"
Without enableUnequalChildrenSizes or bufferAmount set there are sometimes 1 or 2 extra items being rendered outside the viewport.

This can be easily reproduced using the samples at https://rintoj.github.io/

[2018-10-10 16:41] speige commented on #209
I agree, this is a bug.

I've create a separate issue for it because it's slightly different than this original issue.
#256

I don't personally have time to troubleshoot this right now. Hopefully someone else will fix it & submit a pull request :)

[2018-10-10 16:41] #209 closed

[2018-10-11 03:30] speige commented on #209
@Aphax I found some time. This has been fixed & released with npm version 1.0.7. Thanks for bringing it to my attention.

[2018-10-11 03:30] speige commented on #256
This has been fixed & released with npm version 1.0.7

[2018-10-11 03:54] speige opened #257 "Table with fixed header can cover viewport items"
Go to demo at https://rintoj.github.io and go to "WITH TABLE" sample. Click "Scroll to index 50" button. Notice that item 50 is rendered to DOM, but it's covered by fixed header.

I think this is a bug in virtual-scroller.ts with the scrollToIndex_internal method. Maybe it should take into account the header height on this line? (only if header is fixed)
[code]

I assume scrollInto is also affecte

[2018-10-11 04:10] speige commented on #257
I wonder if we should avoid rendering the extra item, if it's 100% covered. Otherwise vsStart/vsEnd/vsChange/viewportInfo.startIndex might be 1 higher than expected.

One issue is the header may not be the same height as the other table rows & the scrollbar doesn't enforce scrolling by 1 row at a time. This means the top row will sometimes only be partially covered. In this case, we probably want

[2018-10-11 08:56] Aphax commented on #209
@speige perfect man, you rock !

[2018-10-11 15:50] kykint commented on #246
I think  - Maybe we don't need this feature, but implement virtual-scroll using IntersectionObserver https://caniuse.com/#search=IntersectionObserver . And use existing fallback for old browsers?

[2018-10-11 17:38] speige commented on #246
I'm not sure how IntersectionObserver helps to solve the issue. I believe it only notifies what % an element is scrolled out of the viewport. So, I don't think an element changing size (as in an expand/collapse control) would necessarily trigger this.

I guess since the Observer has to be registered on every child element separately, if one child grows another child might be pushed out of the view

[2018-10-11 18:39] speige commented on #240
The PR has been merged. Thanks for working on this! Please re-open if you continue to have issues.

[2018-10-12 02:55] speige commented on #240
@sharikovvladislav @nickbullock

I found an issue with this change in relation to the OnPush change detection strategy, I have an app which consumes ngx-virtual-scroller. In this app I use OnPush on *all* my components. I use markForCheck (not detectChanges) whenever I change anything on a component's databinding model.

I upgraded to the newest ngx-virtual-scroller which uses detectChanges instea

[2018-10-12 09:57] sharikovvladislav commented on #240
There are two things:

1. ChangeDetection strategy OnPush/Default and how this forces us to work with components.
2. How Angular starts change detection cycles. Do you remove all ticks and stuff or you rely on Angular mechanisms to start CD cycles and stuff.

**markForCheck** (as I know) does not start change detection. It marks component like "this component should be change detected in some futu

[2018-10-12 16:04] speige commented on #240
I don't think zone.run in virtual-scroller was causing markForCheck in my app to work. If I remove the zone.run, everything works fine. If I remove zone.run & add parent.detectChanges, everything breaks.

I'll try to reproduce this in a simple app via stackblitz.

[2018-10-12 17:20] sharikovvladislav commented on #240
Here is the example: https://stackblitz.com/edit/angular-tsw4gp

By this I want to say, that calling `zone.run` function starts change detection cycle in the app. Play with that demo. Specifically, with flag `shouldUpdateInZone`. If your code runs in zone you will see:
1. Logs `run cd`
2. You will see application is updating
3. Log about `set interval` fired.

Without `zone.run` you will see only

[2018-10-12 17:48] speige commented on #240
I'm still investigating, but I'm debating reverting all of the code from your PR. I'm not an expert on any of this, so maybe I'm coming to the wrong conclusion, but it feels like it's the wrong approach.

My main concern is that I believe Angular documentation states that all event handlers will be run inside zones. (I need to remember where I read that). By calling vsUpdate.emit / vsStart.emit /

[2018-10-12 18:46] sharikovvladislav commented on #240
Essentially hello.component.ts has some really nasty code that makes change detection really slow

This code is very synthehic. I said that before. This example is just an example with NOT MANY AND SLOW components. The same will be with A LOT OF FAST components. We have that situation. There are a no slow components in our app. There are a lot of fast components :) And they are shown at one moment

[2018-10-12 20:34] speige commented on #240
I think you misunderstood me. I agree that the original code to virtual-scroller was causing a refresh of the entire application. However, I disagree with Angular's design choice here. I think Angular should have made OnPush the only option. Without OnPush they've made it easier for programmers to code, but also made it easier for them to make slow apps.

I agree in *"theory"* that a lot of fast c

[2018-10-15 08:34] sharikovvladislav commented on #240
All our components have OnPush strategy. Well, not all, but like 99%.

We do not need "a lot of fast components". We are writing grid at the moment. Grid component containt a lot of internal components like GridRow, GridColumn, GridHeader, GridCell and stuff. All of them have OnPush strategy. We use Storybook as something where we can test and show to our designers our UI kit. So we have demo for

[2018-10-15 08:47] speige commented on #240
I've made the flag available to you in the latest version of npm. Let me know if it doesn't work.

I'm glad the flag is helpful for your scenario.

I think the flag with warning in the readme is a good compromise because it allows you (& other developers) to use it if they choose, but it explains the side-effects of using it & suggests doing other performance optimizations first.

[2018-10-15 13:43] nickbullock commented on #240
@speige thank you! we are trying hard now to get true way for OnPush strategy in our application

[2018-10-15 14:07] vegarda opened #258 "Scroll to index doesn't work correctly with multiple columns"
How to replicate:
Change multiple columns demo from scroll to index 50 to 49.
See it doesn't scroll to the row with index 49.

How to fix:
in
`calculatePadding`
change
`let startingWrapGroupIndex = Math.ceil(arrayStartIndexWithBuffer / dimensions.itemsPerWrapGroup) || 0;`
to
`let startingWrapGroupIndex = Math.floor(arrayStartIndexWithBuffer / dimensions.itemsPerWrapGroup) || 0;`

[2018-10-15 17:33] #258 closed

[2018-10-15 17:34] speige commented on #258
Thanks! This has been fixed & published to npm under version 1.0.11

[2018-10-17 07:23] Melcus opened #259 "scrollToIndex stop elastic / bounce scroll"
I'm using this plugin in a hybrid ( ionic ) app.

On iOS, if you call `scrollToIndex` function while scrolling is in progress, the result will not be the expected one. This happens because of the iOS's default bounce / elastic scroll.

What would be a solution for this issue ?

Thanks in advance.

Video : https://share.vlinde.com/index.php/s/WZTja7FM94FbB5d

[2018-10-17 17:10] speige commented on #259
I believe there are ways to disable elastic/bounce scrolling in iOS via javascript/css tricks. If that's the route you want to go, I'd suggest googling for some examples. A few that I found:
https://stackoverflow.com/questions/23862204/disable-ios-safari-elastic-scrolling
https://stackoverflow.com/questions/29894997/prevent-ios-bounce-without-disabling-scroll-ability

I'm not sure what other optio

[2018-10-17 18:42] MurhafSousli opened #260 "Fix peerDependecies"
Hi, I was checking the bundle size of this plugin on bundlephobia

https://bundlephobia.com/result?p=ngx-virtual-scroller

But the packages `@angular/common` and `@angular/core` are missing from peerDependecies. It would be even better if you refactor the current project with an empty CLI project then `ng g library ngx-virtual-scroll` ...

[2018-10-17 18:43] speige commented on #260
That's a good idea. Would you mind doing that & submitting a pull request?

[2018-10-17 18:43] speige commented on #260
That's a good idea. Would you mind doing that & submitting a pull request?

[2018-10-22 07:31] tobiasmuecksch opened #261 "[Question] How to detect current scroll position"
First of all - thank you for this amazing module!

I'm programming an app, that scrolls down to the bottom, when a new item arrives.
But I want the app to not scroll down, if the user has scrolled up more than 500px.

So my question is:
How can I read the current scroll position?

[2018-10-22 07:48] tobiasmuecksch opened #262 "[Question] How to detect scroll position"
First of all. **Thank you** for this amazing module!

I'm programming an app that scrolls down to the bottom, every time a new item is added to the array. But I don't wan't it to scroll down, if the user has scrolled up more than 500px.

My **Question** is:
How can I detect the current scroll position? I'm normally use to have a something like `scrollTop`:
https://developer.mozilla.org/en-US/docs/

[2018-10-22 07:50] speige commented on #261
Read the documentation at https://github.com/rintoj/ngx-virtual-scroller
The information you're requesting is there.

If you can't figure it out, let me know how you think the documentation could be improved.
If you find something not working, feel free to open a new issue.

Good luck with your app.

[2018-10-22 07:50] #261 closed

[2018-10-22 16:39] speige commented on #261
Read the documentation at https://github.com/rintoj/ngx-virtual-scroller
The information you're requesting is there.

If you can't figure it out, let me know how you think the documentation
could be improved.
If you find something not working, feel free to open a new issue.

Good luck with your app.

On Mon, Oct 22, 2018 at 1:42 AM Tobias Mücksch <notifications@github.com>
wrote:

[2018-10-22 16:40] speige commented on #262
Read the documentation at https://github.com/rintoj/ngx-virtual-scroller
The information you're requesting is there.

If you can't figure it out, let me know how you think the documentation
could be improved.
If you find something not working, feel free to open a new issue.

Good luck with your app.

On Mon, Oct 22, 2018 at 2:04 AM Tobias Mücksch <notifications@github.com>
wrote:

[2018-10-22 20:41] #262 closed

[2018-10-23 09:49] Aphax opened #263 "vsEvents triggered 3 times on component initialization"
For some business logic I have to detect if my scroller has only one entry after first rendering, and from that, triggering or not some logic.
I'm trying to find the proper event from which triggering this logic, and tried to bind it to `vsUpdate `who seemed right, but it happens this event is triggered 3 times on init, with differents arguments size, first time it has only one item whereas others

[2018-10-23 17:01] speige commented on #263
The ngx-virtual-scroller code needs a few attempts to figure out how many items to render. This is because it can't measure the container or items until they're rendered in the DOM & until it can measure things it doesn't know how the max number of items that will fit. This is worse if items are different sizes, but still occurs even if they're all the same size.

I know this isn't intuitive, but

[2018-10-24 06:08] jfbourne opened #264 "When loading new data set dynamically, list displays empty until user scrolls."
I have three tabs on my main screen of my app. When I switch tab, I load a new array of items. However the list displays empty until I scroll a little then all items start showing up.

[2018-10-24 06:20] jfbourne commented on #264
User error! Im using this on an ionic app and just realize I left the infinite scroll component in the same view causing this issue.

[2018-10-24 06:20] #264 closed

[2018-10-24 08:10] Aphax commented on #263
I have considered this solution eventually, but I don't think that's the best reliable way. I ended up with a two time control with both item count coming from `vsUpdate `and start / end index  from `ChangeEvent`, it works fine so if you don't estimate it is a necessary feature you can close it.

I understand the scroller needs to load items incrementally to do some calculs, but is it necessary to

[2018-10-24 08:17] speige commented on #263
Glad you got it figured out.

I think it would be possible for me to filter out the extra events. I'll have think about the best way to do it.

The idea that comes to mind would be to code the debounce suggestion I told you about, but code it directly inside ngx-virtual-scroller. Like you said, maybe it's not the most reliable way. I'll keep thinking & see if a better idea comes to mind.

Thanks f

[2018-10-25 17:23] jfbourne opened #265 "HELP: Adding animation to custom component on scroll"
Is there a way to know when a new item is about to enter leave so that one can apply a perse a fade in/out animation?

[2018-10-25 17:33] speige commented on #265
Sorry, that feature doesn't currently exist.

If you want to implement it, feel free to submit a pull request, so others can benefit from your work.

Thanks!

[2018-10-25 17:33] jfbourne commented on #265
Thanks

[2018-10-25 17:33] #265 closed

[2018-10-26 10:10] satyavanu commented on #97
hi, how u get the dependency for this ?

VirtualScrollComponent ?  I know we have only module

[2018-10-26 13:53] fahadmajeed opened #266 "Reactive forms inside scroller behaves erratic"
Hi,
I was checking virtual scroll list with reactive forms. Scenario is that i have thousands of rows to show
in a list with checkboxes to approve or disprove.
So inside virtual list i am generating form group with [formGroupName]="i".
But if i check one checkbox, while scrolling it randomly selects and checks other checkboxes too.
This is really weird. Do you have any work around or proper way to

[2018-10-26 17:15] speige commented on #97
@sanjaybhaskar Was it working for you on a previous version of the code? If you can paste your previous code & the version number it was working with, I can help you upgrade it to the latest version.

[2018-10-31 17:32] imamy4 commented on #192
@speige I tried, but nothing has changed. Problem is still reproduced.

[2018-10-31 17:52] speige commented on #192
@imamy4 could you update your stackblitz to match your use case exactly? I believe it's using divs whereas your actual code is using tables.

[2018-11-01 14:34] gdtrombetti opened #267 "Search Example"
Hello !

First off great tool!

I was wondering if there were any examples for a basic search around. I noticed the scrollInto() function,  but want to be able to have this work on a property.

I could manually use lodash _.find,  and then feed it to scrollInto,  but was looking for a something that could narrow down the list based off each character typed in the input.

Any information would be a

[2018-11-01 18:06] #267 closed

[2018-11-01 18:06] gdtrombetti commented on #267
I used a custom pipe to achieve functionality.  Thank you!

[2018-11-06 14:14] jawadSharif commented on #260
@MurhafSousli  can you please post the solution

[2018-11-06 16:10] MurhafSousli commented on #260
@jawadSharif It is better to generate a new fresh project using the CLI then generate a library `ng g library ngx-virtual-scroller` then go to `package.json` inside the lib directory and add `peerDependecies`, like this example:

https://github.com/MurhafSousli/ngx-scrollbar/blob/c5103b021cf05166fe2254bd1d2c0078b3516e64/projects/ngx-scrollbar/package.json#L26-L30

[2018-11-06 17:19] jawadSharif commented on #260
After creating new library it creates a blank library should i copy code from this repo to new library, apologies if my question is silly. i'm new with npm

[2018-11-06 18:17] speige commented on #260
@jawadSharif what issue are you seeing with the library? I believe the suggestion by MurhafSousli was simply a refactoring request. The library should work as-is without any changes.

just add this to your package.json:
[code]

type this in the command line (from the same folder as your project's package.json file):
[code]

Then, follow the instructions in the readme to get started.

If you have a

[2018-11-07 01:11] 1-0-1 opened #268 "Add support for Footer"
This is a feature request to support tfoot and have the scrollable area between thead and tfoot if they exist.

[2018-11-07 03:51] speige commented on #268
That's a good idea. Are you willing to attempt to code this & submit a pull request? Thead already has some support so maybe tfoot won't be too hard to add.

[2018-11-08 23:34] kykint commented on #268
But it is possible to set
[code]

[2018-11-09 00:19] 1-0-1 commented on #268
@kykint That seems to work if the item is at the top such as header, but it doesn't seem to limit the scroll in between items.  When I tried it, the footer was always scrolled out of view.  If you happen to have an example of header and footer working, I would like to see what I am doing wrong.

[2018-11-09 00:50] speige commented on #268
ngx-virtual-scroller has custom code to allow the header to stay fixed to
top. It's fairly simple code. I bet it wouldn't be too hard to make it work
for a fixed footer as well, if someone wants to submit a pull request.

 @vanackere coded the fixed header, maybe he has some thoughts?

On Thu, Nov 8, 2018, 5:19 PM Kevin <notifications@github.com wrote:

[2018-11-09 11:38] MoacirSchmidt commented on #227
For me the solution was:
Add to tsconfig.json file:
  "compilerOptions": {
    "typeRoots": [
      "node_modules/@types"
    ],

[2018-11-20 22:38] peavers opened #270 "Items move in grid when scrolling"
I have a standard column/grid layout, it all works however when scrolling past the buffered amount the items in the grid start to move along the grid one by one, like the index value is changing.

Hopefully I've just not configured something correctly.

Using a very basic example:

[code]

[code]

[code]
I have a suspicion my css is just wrong?

[2018-11-20 23:38] speige commented on #270
Would you mind converting this to a stackblitz to help troubleshoot it easier? Thanks.

[2018-11-21 01:03] peavers commented on #270
Sure: https://stackblitz.com/edit/angular-ctzu2i

If you watch a colour on the bottom row, then slowly scroll down you'll see it move to the left, scroll back up and it moves to the right...

[2018-11-21 01:12] speige commented on #270
Change this line:
[code]

To This:
[code]

Also, you can remove bufferAmount.

The reason is ngx-virtual-scroller has to measure the child items to know how big they are in order to do math on which items to render at each scroll position. It assume all children will be directly underneath it. If you have extra html wrapping your list of items, the #container templateRef is used to tell ngx-virtua

[2018-11-21 01:12] #270 closed

[2018-11-26 02:03] fredericojesus opened #271 "Can't get window scroll to work"
Hi,

I have an example using stackblitz: https://stackblitz.com/edit/angular-r3jet7

Window scroll is not working and I can't figure out why.
The items are being all rendered at once.

Does anyone knows what the problem is ?

[2018-11-26 03:39] speige commented on #271
As per the documentation at https://github.com/rintoj/ngx-virtual-scroller you must have a set width/height for the ngx-virtual-scroller component, otherwise it'll stretch to contain all child items, which you don't want. However, if you're using a parent scrollbar (or window scrollbar) that parent element needs to have the set width/height instead of the ngx-virtual-scroller component.

So, in yo

[2018-11-26 03:39] #271 closed

[2018-11-26 09:38] dhemonik commented on #268
It'd be nice to have a fixed footer for me too.

[2018-11-26 09:51] speige commented on #268
@oriol feel free to make an attempt to code this & I'll be happy to accept
a pull request. If you look in the source at how fixed header works I
assume code to support a fixed footer would be similar.

If you get stuck I'm happy to give pointers.

On Mon, Nov 26, 2018, 2:38 AM Oriol <notifications@github.com wrote:

[2018-11-26 13:43] orhemi commented on #254
Try to add #container, it worked fo me

[2018-11-26 14:11] fredericojesus commented on #271
Thanks @speige.
Yes, it was missing height: 100% on html tag not on body.

Sorry to bother.

[2018-11-27 06:46] gaganhn opened #272 "Use scrollbar of window doesn't work in IE 10"
Tried to use virtual-scroller with window scroll,

<img width="970" alt="screen shot 2018-11-27 at 12 05 10 pm" src="https://user-images.githubusercontent.com/26406858/49063352-1a1f8400-f23d-11e8-95c1-48a9b06145d0.png">

Works well with chrome and IE 11, but doesn't work with IE 10
Problem is whitespaces at the top, calculation of height and translate value is incorrect

<img width="1680" alt="scr

[2018-11-28 11:16] konrad-garus opened #273 "Virtual Scroller shows no items in OnPush components"
If the component containing virtual-scroller uses OnPush, then the scroller shows no items. To reproduce, just set {{changeDetection: ChangeDetectionStrategy.OnPush}} on {{VerticalListComponent}}. The result looks like the attached picture.

Is this a bug, or by design? Do I have to always use virtual scroller with default change detection strategy - and why?

![image](https://user-images.githubus

[2018-11-28 12:11] konrad-garus opened #274 "Fixed table header broken when cells have "position: relative" content"
When cell content uses {{position: relative}}, its painted on top of the fixed header.

For example, when the sample table looks like this:

[code]

... then it's rendered like:

![image](https://user-images.githubusercontent.com/242481/49151057-16f4c880-f30f-11e8-96a8-d38d074c5d70.png)

[2018-11-28 20:48] speige commented on #274
Interesting.

I'm not sure the cause or the correct fix here.

My first guess was the useMarginInsteadOfTranslate flag might help (because CSS transform changes the behavior of position: relative). However, there's 2 issues with that. 1) the <tbody> isn't underneath the <thead>, so I'm not sure that's the root cause of the bug (although table's have weird rules). 2) When we originally coded fixed

[2018-11-28 20:52] kykint commented on #274
Fixed header now uses translate, but I think that it's better to use position: sticky. In the similar case it worked fine

[2018-11-28 21:02] schoening opened #275 "vertical + horizontal scroll?"
Hi, I have a huge table that goes both horizontal and vertical, is there a way to use both horizontal and vertical scrollbars at the same time?

[2018-11-28 21:20] kykint commented on #275
you can try to put one scroller into another

[2018-11-28 21:29] speige commented on #273
It does work, but requires a bit of extra work.

OnPush means the consuming app is taking responsibility for telling Angular when to run change detection rather than allowing Angular to figure it out itself. This is much faster (& I highly recommend it for complex apps that need speed), however it's much harder for the programmer because you have to code things differently (avoid mutating state on

[2018-11-28 21:35] speige commented on #274
@kykint Do you want to code this & submit a PR? We should also add a sample with table & position: relative to the demo as a test-case so we can prove it's fixed.

[2018-11-28 22:12] speige commented on #273
This has been committed & published to npm. Also, the readme has been updated with general advice about OnPush strategy.

Closing this issue. Please re-open if you continue to have issues.

[2018-11-28 22:12] #273 closed

[2018-11-28 22:15] speige commented on #275
Unfortunately, this is not something we support. You'll have to figure this out on your own. Sorry :(

Closing this issue for now.

If you're able to figure something out that works, please re-open and add an explanation of how you got it working so future users can benefit. Thanks!

[2018-11-28 22:15] #275 closed

[2018-11-30 12:31] konrad-garus commented on #274
For now, in my use case I decided to use two tables: just header, then another (scrollable) with just body. It works for me, but in the general case it's getting tricky wrt column width synchronization.

[2018-11-30 12:31] konrad-garus commented on #273
Thanks for looking into this. Indeed, looks like I'm in for some research.

[2018-12-07 13:19] lukszi commented on #141
I still believe it would be a good Idea to implement this feature, since the scrollInto method applies an animation, that even with scrollAnimationTime set to 0 is visible to the user.

[2018-12-07 19:07] speige commented on #141
If you're interested in this feature, please code it & submit a pull request. Thank you.

[2018-12-09 14:06] natcohen opened #278 "Manually disable automatic scroll bar"
We should be able to manually disable the scroll bar added in `public set parentScroll(value: Element | Window)`

        if (!disableAutomaticScroll && scrollElement !== this.element.nativeElement) {
            this.oldParentScrollOverflow = { x: scrollElement.style['overflow-x'], y: scrollElement.style['overflow-y'] };
            scrollElement.style['overflow-y'] = this.horizontal ? 'visible'

[2018-12-09 14:34] speige commented on #278
I agree with this. Would you mind submitting a pull request to add this if statement as well as the new disableAutomaticScroll property? Also, there should be a mention of the new property in the readme.

Thanks!

I wonder if there's a better name for the property. It might be hard to know what it means without reading the documentation. Maybe something like "modifyOverflowStyleOfParentScroll" whi

[2018-12-09 14:54] natcohen commented on #278
@speige I have added PRs. Shouldn't we change the version and add it to the changelog?

[2018-12-09 17:20] speige commented on #278
Thanks. They've been merged. I'll update the version when I release to npm.

[2018-12-09 17:20] #278 closed

[2018-12-09 17:30] speige commented on #278
All of your changes have been published to npm under v1.0.14

Thanks for your help!

[2018-12-10 18:15] natelokers commented on #274
I'm still trying to validate this in other browsers, but it seems like swapping the thead and the tbody in the HTML fixes this issue.
`<virtual-scroller #scroll
      [items]="filteredList">
      <table>
		<tbody #container>
			<tr *ngFor="let item of scroll.viewPortItems">
			  <td><div style="position: relative; color: red; font-weight: bold">{{item.index}}</div></td>
			  <td><div style="posit

[2018-12-10 18:48] speige commented on #274
@natelokers Interesting idea. I'm guessing that's similar to setting the z-index for thead higher than tbody. I've tested on chrome/firefox on windows & it fixes it for both of them. Edge/IE don't seem to work with ngx-virtual-scroller tables at all, regardless of thead/tbody order or position static/relative.

Maybe we should adjust the readme to suggest this approach.

[2018-12-10 18:58] speige commented on #274
I merged a PR which partially fixes the IE/Edge issue. https://github.com/rintoj/ngx-virtual-scroller/pull/282

@natelokers feel free to submit a PR with the demo & readme modified to suggest putting the thead after the tbody. Although we haven't tested every browser, I'm guessing this will fix it for most of them.

[2018-12-10 19:30] speige commented on #272
Sorry, I forgot to look into this.

I see that this can be reproduced on our site at https://rintoj.github.io/ngx-virtual-scroller/parentScroll
It works in IE11, but if you change your emulation to IE10 via the developer tools it stops working (renders incorrectly with lots of extra whitespace, as you mentioned).

Unfortunately, we don't have the resources to research or fix bugs in old browsers.

[2018-12-10 21:19] Lumlicious opened #283 "404 Not Found: @tweenjs/tween.js@^17.1.0"
[code]

Not sure if this repo is down or if the version is incorrect, but it's preventing installation.

Anybody else seeing this issue?

[2018-12-10 21:35] speige commented on #283
Similar issues have been reported/resolved in the past. Usually without any code changes to ngx-virtual-scroller. Typically it involves adding extra dependencies to the consuming application's package.json file.

Please search the old closed issues to see if you can resolve this on your own. If you're unable to resolve this, please re-open.

Thanks.

[2018-12-10 21:35] #283 closed

[2018-12-12 11:46] masha1337 opened #284 "Sticky header doesn't work when using parent scroll"
When using parent scroll, even if I have the #header on the thead element, it scrolls out of view. Is there any way to keep it sticky?

[code]

[2018-12-12 18:52] speige commented on #284
Good catch. This is now fixed in npm version 1.0.16
Please re-open if you continue to have issues.

[2018-12-12 18:52] #284 closed

[2018-12-14 09:13] horba opened #285 "Question: visible items"
Good day,

We use your scroll in our project and it's real fast and useful. But we have requirement in different times scroll to item if it is only invisible, so scrollTo() doesn't help because it scroll item to top in any case. And it's critical for our customer, unfortunately. Please, can you take me advice how can I check if item is visible.

[2018-12-14 09:45] speige commented on #285
You can use the viewPortInfo property which has type IPageInfo. It has the properties you need to determine which items are currently visible.

You could also do viewPortItems.indexOf()

One caveat is sometimes an item will be in the DOM but only partially visible because it's partially scroll out of view. If you need to account for this situation, you'll need to write custom javascript to check p

[2018-12-14 09:45] #285 closed

[2018-12-14 10:05] horba commented on #285
Thanks,
Actually, viewPortInfo doesn't have enough information. I tried it earlier, bur viewport has some boost in bottom, so item can be in viewport but it isn't visible at all, not partially.
In any case, thank you

[2018-12-14 15:17] ranbuch opened #286 "childHeight prevents jumps when changing chunks with margin bottom (or top)"
I found that when having items with margin bottom the scroller jumps in the exact amount of pixels that I use for margin bottom.

Specifying `childHeight`, that is the item height + margin bottom is solving this issue.

I saw that `childHeight` is `(DEPRECATED)` so I'm assume you will soon stop supporting this attribute.

Please continue supporting `childHeight` or calculate `childHeight` with the

[2018-12-14 17:37] speige commented on #286
Could you create a stackblitz demonstrating this? The reason childHeight is deprecated is because the code should auto-calculate the item sizes now.

[2018-12-17 11:45] adils-oslomet commented on #200
Hi @andreandev,
Add this to your app/app.scss . It will disappear whole app. If you want to specific page, just add this code your page’s scss file. I suggest to you don’t open topic before google searching.

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

[2018-12-18 05:14] peavers opened #287 "[Help] Firestore example?"
Before I embrace down this painful path, thought I'd ask here. Does anyone have a recent example of implementing this awesome module with Firestore as the data provider?

[2018-12-18 05:34] speige commented on #287
Sorry, you'll need to figure this out on your own. We don't have the resources to do this type of support. You could try StackOverflow. However, I honestly doubt it will be very hard. Read the documentation, it's very thorough.

After you've made an honest attempt & can't get it working, feel free to re-open this issue if you have an actual bug to report.

Good luck :)

[2018-12-18 05:34] #287 closed

[2018-12-20 03:35] peavers commented on #287
For anyone that comes across this via Google or whatnot I managed to solve this. Warning I'm not a JavaScript guy so there is probably a much better way of doing things but this works.

https://gist.github.com/peavers/0a6d3cd6104b017c0f8476cad5c43f4b

[2018-12-21 12:52] nisitkaswaninsta commented on #266
+1

[2018-12-21 22:55] speige commented on #266
If you could create a stackblitz to reproduce the issue it'd be easier for others to help troubleshoot it.

[2018-12-21 23:19] fahadmajeed commented on #266
Sure thing.
Here is the link https://ngx-virtual-not-working-xbco9k.stackblitz.io or https://stackblitz.com/edit/ngx-virtual-not-working-xbco9k .

So to test, just mark first few checkboxes and then scroll to bottom or middle. Then come back to top and you'll see those checkboxes losing state and unchecked again.

[2018-12-23 06:17] chabb opened #288 "Let user provides a method to determine width/height of an item"
Can we provide to client code a callback that will allow developer to pass the height/width of the children, that will allow doing call .getBoundingClientRect()... those are costly call as they trigger a layout ?

I give you an example, i know that my cells have either 50/100/150 px of height, so i could use this fact to avoid doing call to .getBoundingClientRect().. which will make thing faster (

[2018-12-23 19:02] speige commented on #288
This is a good idea. Would you mind attempting to code this & submitting a pull request? Shouldn't be too difficult. I can help you if you get stuck. Thanks.

[2018-12-23 19:35] chabb commented on #288
This should not be too complicated. But then we should add some
documentation around it and add and an example. I'll try to come with that.

Le dim. 23 déc. 2018 à 11:02, Devin Garner <notifications@github.com> a
écrit :

[2018-12-26 21:24] wunaidage opened #289 "Discrete user experience between Mac and Windows after scrolling to top/ bottom of the list"
On Mac, using chrome or firefox, after scrolling to top/bottom of the list, if you keep scrolling, the parent element will start to move up/down.
On Windows, using chrome or firefox, after scrolling to top/bottom of the list, if you keep scrolling really quick, the parent element does not move, unless you stop for like half second and restart scrolling your mouse wheel, only then the parent elemen

[2019-01-02 14:50] prashantagrawal17 commented on #210
Guys, any updates on this issue??
i am still struggling with the same.
restarted IDE, install/Uninstall "ngx-virtual-scroll" multiple time but no luck.

Thanks in advance.

[2019-01-02 14:59] speige commented on #210
I'm guessing it's something specific with your project, it seems to work fine for most people. Have you tried the suggestions in the above comments? Can you create a stackblitz or git repo reproducing the problem so we can help you troubleshoot?

[2019-01-03 04:37] wunaidage commented on #289
I will. thanks for replying

[2019-01-03 06:51] speige commented on #289
I was able to borrow a mac for a bit. I tested in chrome & didn't notice anything strange. I didn't test with safari/firefox. I think the video will help me understand, because I'm probably misunderstanding the issue.

[2019-01-03 15:32] wunaidage commented on #289
[https://www.youtube.com/watch?v=GNyojIaA66Y](url) this is just for the Windows 10 + Chrome scenario. Mac works just fine.

[2019-01-04 03:55] chabb commented on #210
if you have this line uncommented in `custom-typing.d.ts`, you'll get this error
// declare module '*';

[2019-01-04 07:54] prashantagrawal17 commented on #210
Thanks @speige, @chabb ,
I found something fishy in my project repository/configuration, as problem persist with my project configurations only.
I did created new ionic3/angular5 project and installed the plugin, it is working fine and not giving any compilation or run time error related to plugin.
Now i am looking into the project configuration files to resolve the problem.

[2019-01-04 08:18] prashantagrawal17 commented on #210
I tried the workaround and updated tsconfig.json with below code line
"typeRoots": ["node_modules/@types"],

After this, compilation error got resolved.

Configuration details are as below,

Ionic:
   ionic (Ionic CLI)  : 4.6.0
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.0

Cordova:
   cordova (Cordova CLI) : not installed
   Cordova Platforms     : android 7.1.4, ios 4

[2019-01-04 13:21] nisitkaswaninsta commented on #198
+1

[2019-01-04 16:09] speige commented on #198
@nisitkaswaninsta could you share some code that causes this error? I'm unable to reproduce. Thanks!

[2019-01-04 19:12] wunaidage opened #290 "[Question] How to proper set parent scrolling?"
Hi Team/Rinto,
At first thank you for developing such great library.
Right now I'm trying to integrate it with my project and use parent scrolling.
I have a complex list contains more than 1000 home grown component, if fully rendered it will freeze the page. I followed the demo page and found that only when I give virtual scroller tag a certain height or max-height, the parent scrolling will start

[2019-01-04 19:23] speige commented on #290
Without parentScroll, the virtual-scroller component must have a fixed height. With parentScroll, the parent element needs to have a fixed height. This is stated in the documentation & the demo follows this pattern as well. If you use your browser to inspect the demo styles you'll see the body/html tags have 100% height caused by blog.css file.

I'm not sure what would cause it to overlap with oth

[2019-01-04 19:44] wunaidage commented on #290
@speige thank you very much. I find that I need to set the height html and it will work. body height somehow is not working. You saved my day!

[2019-01-04 19:44] #290 closed

[2019-01-10 16:10] speige commented on #132
Your code tells it to render all subitems at the same time. What are you hoping to achieve? A second scroller?

You could try a second virtual-scroller for the subitems to see if it works how you want. I've never tried this but I assume it'll give you a 2nd scrollbar. Nested virtual-scroller is not an officially supported option, so if it doesn't work well, you'll need to figure it out on your own

[2019-01-11 13:35] brunobastosg commented on #132
Yeah, I was hoping for a second scroller. I added a second virtual-scroller for the subitems, like you suggested, and it kinda worked, but there were some bugs, so I ended up using pagination.

Thanks!

[2019-01-11 15:55] #289 closed

[2019-01-11 16:03] speige commented on #289
I think I understand what you're complaining about.

If there are 2 nested scrollbars on the page the mouse scrollwheel will only affect the scrollbar of the nearest parent to the current mouse position. This means if you scroll to the bottom of a virtual-scroller using the mousewheel & the window has an extra scrollbar, you cannot use the scrollwheel to scroll the page unless you move the mouse p

[2019-01-11 16:08] wunaidage commented on #289
haha, thanks for replying. I see the same happens in angualr's cdk-virtual-scroll. Guessing it's a common bug.

[2019-01-13 22:48] DinoSourcesRex commented on #254
@orhemi Any chance of a stack-blitz example of this? I've got a similar issue I need to resolve.

[2019-01-23 11:39] imamy4 commented on #192
Error doesn't reproduce on version ngx-virtual-scroller@1.0.16. You can check example [stackblitz](https://stackblitz.com/edit/angular-sxt8pd-uuuvwz).

[2019-01-24 15:16] npacucci opened #291 "Display at most a fixed number of items without specifying the container's height"
Hi guys, I'd like to know if it is possible to tell the virtual-scroller to display only a maximum number of items inside of it, without specifiying any container height.

_For example:_ I'm displaying a search's results inside of a virtual-scroll container, but I don't want to fix the container's height because I don't know how many results there will be, plus I don't  know the height of the item

[2019-01-24 15:18] speige commented on #291
Currently the component does not support this feature. I can't think of any easy hack. If you want this, it'd have to be coded as an officially supported option in the component. I don't have time to code this right now, but if you're interested in coding it, I'm happy to accept a pull request.

The internal code of the component measures the dimensions of every child item, so theoretically it wou

[2019-01-26 18:57] skreel opened #292 "Event that can be used to load data before hitting the end of the scroll list"
Is there something I can use besides vsEnd / event.end to call fetchmore() from? I would like to do infinite scroll but I would like to fetch the next chunk before reaching the end of the scroll. This way the user experience will be nicer in that it will fetch new data before hitting the end. The user will not have to wait for loading this way (unless they're scrolling super fast and make it to th

[2019-01-26 19:08] speige commented on #292
You can do this easily today. Read through the documentation & try to figure it out. If you get stuck, you can reopen with a more specific description of your problem.

These APIs will probably be helpful to look at:
vsUpdate, vsChange, viewPortInfo, viewPortItems

Good luck!

[2019-01-26 19:08] #292 closed

[2019-01-27 17:20] whyboris commented on #286
I have for over a year [been using](https://github.com/whyboris/Video-Hub-App) this library, and to get around the issue you describe I have:
[code]
Where the 20px is the amount I experimentally determined that was needed.

[2019-01-27 22:38] whyboris commented on #286
I have a rather complex setup -- a vertical scrolling gallery showing several items per row and many rows at a time. I set it up back when this repository was `ng2-virtual-scroller` when variable height was not available. It's possible that there's a way to avoid using my complicated setup now.

Not to hijack the thread, but I have not been successful in getting an even-more-complicated setup: all

[2019-01-28 10:40] aryaroudi opened #293 "Tables fix header is not working in Angular 7"
Hi, I have tried your sample code for `HTML Table` in an empty view and it just doesn't fix the header on top. Any particular reason that may cause this?

[code]

[2019-01-28 10:53] speige commented on #293
This should be working. Would you mind creating a stackblitz that reproduces the issue?

[2019-01-28 11:55] aryaroudi commented on #293
I guess this could be because of the parent's `overflow scroll`. it is setting the height as the total height of the whole elements:

`<div _ngcontent-c1="" class="total-padding" style="height: 2267px;"></div>`

how this heigh being calculated?

[2019-01-28 12:06] speige commented on #293
Please go to this url
https://rintoj.github.io/ngx-virtual-scroller
and click "samples" and scroll down to the section "With Table".

Are the fixed headers working for you in that sample?
For me, the sample appears to be working fine.
If you agree, then it's probably something with your code.

If it's an issue with your code, I can't help troubleshoot without a stackblitz. Sorry :(

If you want to

[2019-01-28 12:09] aryaroudi commented on #293
Thanks @speige yes it should be somewhere in my styles. I will share the solution in case if happens to someone.

[2019-01-28 19:37] skreel opened #294 "Initial Loading Issue when delay in getting data"
I followed the example for loading in chuncks ( https://rintoj.github.io/ngx-virtual-scroller/samples ). I made it so the fetchNextChunk function iterates from the skip to the limit passed into it. See code below. Everything works fine unless I add in an artificial timeout to simulate real world delay when calling a remote api. Without the delay, the list loads and displays 0 through infinity as y

[2019-01-28 19:58] skreel commented on #294
Here is a link to a stackblitz showing the issue: https://angular-mrejdh.stackblitz.io

[2019-01-29 01:38] #294 closed

[2019-01-29 01:42] speige commented on #294
The code in the actual ngx-virtual-scroller component is solid. However, the "samples" are not all solid. Some of the samples have a very naive implementation that you'll need to improve upon for your specific application.

First of all, fetchNextChunk is creating fake items, most likely your real code will need to download via ajax from a web api.

The other issue with your code is that vsChange

[2019-01-29 14:13] matte00 commented on #213
I have same issues

[2019-01-30 12:19] Nirco96 opened #295 "How does container resizing actually work?"
Hello, first of all I want to thank you very much for the virtual scroller, it works wonderfully (even better than the NgMaterial one) and I love it.

I have a question about how the scroller actually checks whether the container was resized? I'm using the scroller in combination with jQuery UI resizable(), and since the scroller's container resizes, I had to set the checkResizeInterval to around

[2019-01-30 14:27] Nirco96 opened #296 "Retain component state?"
Hey, the component I use with the scroller are expendable on a button click, there's a boolean field on the component which states whether the component is expanded (more-info-like expansion) or not. My problem is that whenever I scroll far enough from the expanded component (boolean field is now true), and scroll back to it, the component is now rendered as not expanded. This boolean field is exc

[2019-01-30 16:09] speige commented on #295
The virtual-scroller auto-resize-detection should be working.

Yes, the [checkResizeInterval]="50" will run every 50ms even when idle. It could theoretically cause performance problems, you'll have to test that for yourself because it's application-specific. The issue is that javascript doesn't have any built-in DOM resize event, so it has to be done via a setInterval & calling domElement.getBound

[2019-01-30 16:09] #295 closed

[2019-01-30 16:17] speige commented on #296
virtual-scroller essentially uses *ngIf to remove items that are scrolled out of view. This is what gives the performance benefits compared to keeping all the off-screen items in the DOM.

Because of the *ngIf, Angular completely forgets any view state. If your component has the ability to change state, it's your app's responsibility to retain that viewstate in your own object which data-binds to

[2019-01-30 16:17] #296 closed

[2019-01-31 12:57] splincode opened #297 "Virtual scroller not working with table"
https://stackblitz.com/edit/angular-material-table-data-source-gn7u6n?file=app/app.component.html

[2019-01-31 16:11] speige commented on #297
Per the documentation you must have a fixed height on your virtual-scroller or it won't work.

Add something like this to your css:

[code]

[2019-01-31 16:11] #297 closed

[2019-01-31 23:37] abuassar opened #298 "support rtl"
thanks for this fine component,

but when I tried horizontal scrolling while in rtl mode, it simply didn't work

by setting `<html dir="rtl">` it shows white empty space.

please fix it so I can use it in my app

much appreciated

[2019-02-01 00:11] speige commented on #298
Sorry, we don't have time to fix this. If you'd like to fix it, please do so & submit a pull request.

Thanks.

[2019-02-06 20:48] mernen commented on #220
I had the same problem. In my case, another dependency was using Tween.js v16, while ngx-virtual-scroller uses v17. The build process only included one copy (v16) of the library, and there's a slight change on its `onUpdate()` callback. I managed to work around this issue by updating this other dependency to get rid of Tween.js v16.

[2019-02-07 16:05] aryehrein commented on #210
Full answer will be - in tsconfig.json ->
inside "compilerOptions" key add
`"typeRoots": ["node_modules/@types"]`

This solved the problem for me

[2019-02-07 18:28] lincolnthree opened #300 "Thank you"
I just wanted to say that this component saved me... BIG time. So... here's a big THANK YOU for this great piece of work. Virtual scroll is NOT easy!

Close at will :)

[2019-02-08 07:45] kamal0912 commented on #293
Hi @speige , Can you please share code for this table? In the demo above, its working fine but in my project I am having some issues. Thanks in advance. :)

[2019-02-08 09:49] max-che opened #301 "Prevent current scroll position jump after unshifting new items"
Set scroll not to the end nor a start of the list to see this clearly.
After new items added to the beginning of the scrollable list by `unshift`-ing the array you would see whole list moved down by the height of the new items.
It would be great if current scroll position will remain the same. Or to have an option to do this.

Thank you for this great component! It realy helped me out to deal with

[2019-02-08 11:20] kamal0912 opened #302 "Unable to scroll down from middle of a table with 20 odd columns"
Hi @speige ,

I have a bootstrap table with 22 columns, when horizontal scroll is in the middle of the table, I am unable to scroll down with mouse. Please help.

[2019-02-12 09:05] amineparis opened #303 "Is this repo still useful after virtual-scroll beeing built-in from angular 7 cdk ?"

[2019-02-15 08:01] indraraj26 opened #304 "getting Namespace ''*'' has no exported member 'Tween'."
Dear Rintoj,

Error:
Typescript Error
Namespace ''*'' has no exported member 'Tween'.
/node_modules/ngx-virtual-scroller/dist/virtual-scroller.d.ts
protected previousViewPort: IViewport;
protected currentTween: tween.Tween;
protected cachedItemsLength: number;

 "ngx-virtual-scroller": "^1.0.16",
 "ionic-angular": "3.9.2",

Even i have added this in package.json "@types/tween.js": "^16.6.1" but st

[2019-02-15 08:28] indraraj26 commented on #227
@rafalmiler77
in which files of angular you have pasted ?

[2019-02-15 11:48] ChristofferSkog21st opened #305 "How to use flex with multiple columns?"
I'm trying to use Bootstrap's flex grid but I can't get it to work.

Works:

[code]

Doesn't work:

[code]

The flex version loads 1 item when scrolling then stops loading them. When using just normal width/height then it works as intended. Have you got any working examples using flex?

[2019-02-15 13:24] ChristofferSkog21st commented on #305
I was as easy as setting `#container` on the `row` element and setting a height for each column.

[2019-02-15 13:24] #305 closed

[2019-02-17 15:54] blattersturm opened #306 "'window is not defined' in Angular Universal/SSR"
Using the component with Angular Universal seems to lead to an error [in the constructor](https://github.com/rintoj/ngx-virtual-scroller/blob/28be46d5014a97a484ddbebaf884e21ef04b5eae/src/virtual-scroller.ts#L143).

[code]

[2019-02-17 19:43] hassanasad opened #307 "Up and down buttons on keyboard do not keep scrolling the section in Demo"
On the DEMO page ( https://rintoj.github.io/ngx-virtual-scroller/samples ) pressing Up and Down buttons do not seem to work the way they are supposed to. Few elements scroll and then the page itself starts scrolling. Is it possible to fix this?

[2019-02-18 11:54] web-felicons opened #308 "Refresh()"
Please keep the Refresh() method available in the next version. It solves the problem for us with ease.

[2019-02-20 21:56] mikemichaelis commented on #303
I haven't found a way to do multiple columns with the material 7 virtual-scroll so I would say that yes this repo has functionality I didn't find in material 7 vs.  I may be wrong though.

[2019-02-21 02:35] emko commented on #286
yea i use [childHeight]= as well because without it scrolltoindex doesn't take into account the margin top of the item unless i am doing something wrong?

[2019-02-21 03:21] emko opened #309 "how to get index of scrolltoindex scrolled item"
I am struggling with this problem, how can i get the index of the item scrolltoindex scroll to so that i can target it to add a css class.

thanks

[2019-02-21 14:31] masha1337 opened #310 "Scrollbar height calculation when there are few items in the table"
In our use case we have a table in the scroll.viewPortItems and there are cases, when the table is shorter than the actual screen height. When the page is loaded, the scrollbar appears and after the content height is calculated, it disappears. It's causing the page to flicker. Is there a way to prevent it from appearing?

[code]

[2019-02-22 09:50] indraraj26 opened #311 "ngx-virtual-scroller with filter"
if you type so fast in searchbar and erase everthing do it for 1-2 times your application will get hanged.

[code]
ionic 3.9.2
angular 5.2.10

[2019-02-27 16:42] gesielrosa commented on #311
Same issue!
I using with ionic, and on Android is ok, but on iOS the screen take blank.

[2019-03-01 11:36] dimagrytsan1995 commented on #301
This code is not perfect, but it solves this problem.

`
public old_scroll_height;
  public old_scrollTop;

  onListChange(event: ChangeEvent) {
    const scrollHeight = document.getElementsByClassName('total-padding')[0].scrollHeight;
    if (this.firstChatLoad) {
      this.virtualScroller.scrollToPosition(9999, null, () => this.firstChatLoad = false);
    } else {
      if (this.old_scroll_heig

[2019-03-01 11:39] dimagrytsan1995 commented on #301
This code is not perfect, but it solves this problem.
[code]

[2019-03-04 18:34] georgegrafos commented on #286
Hi, I believe my issue is also related to this.

I am using scrollInto with enableUnequalChildrenSizes="true". My items have a margin-bottom of 15px. Under these conditions, the viewport isn't properly scrolled so the item is aligned to the top. I also notice some jittering at times as I scroll manually. However, when removing the margin-bottom, everything works perfectly.

[2019-03-06 12:09] adarowiec opened #312 "[Question] Is there a way to use this repo with immutable.js?"
Following title: I was wondering if the author knows - is there a way for me to provide immutable.js List into [items] input and successfully iterate over?
-------------------------------------------------------------------------------

![image](https://user-images.githubusercontent.com/26795400/53880348-0f7d4380-4011-11e9-9d09-acdfa5cd8895.png)

---------------------------------------------------

[2019-03-07 16:08] indraraj26 commented on #304
Dear @rintoj ,

Please would you look into this issue?
Thank you

[2019-03-07 16:10] indraraj26 commented on #311
but my application gets hanged i remembered because of this issue reference issue #304  i made the changed to tsconfig

[2019-03-11 09:12] ItaiYosephi commented on #298
Any updates on that?

[2019-03-13 13:31] panthera opened #313 "How can we set the itemSize in the viewport ?"
How can we set the max item for the viewport like the itemSize in the cdk-virtual scroll ?

[2019-03-14 11:12] jonnyleeharris commented on #223
Hey, just wondering how you finally solved this one. I am dealing with a similar use case and am using different sized items with the `enableUnequalChildrenSizes` flag , I have managed to get the scroll position to stay (roughly) the same - but there is still some jitter:

      let startIndex = this.chatMessagesScroller.viewPortInfo.startIndex;
      let count = newItems.length;
      this.list =

[2019-03-18 01:41] georgegrafos commented on #308
Same, I needed it to update the elements in the virtual scroller when they were re-ordered from another part of the page.

[2019-03-18 09:45] subkkonen commented on #308
+1
It's a great tool, keep it please!

[2019-03-18 09:46] shmunj commented on #308
+1
Same here.

[2019-03-20 00:10] softwareCobbler commented on #308
It appears to be present on `VirtualScrollComponent`'s prototype, as `refresh`.

Grab a reference in your component with `@ViewChild(<your template ref here>) XYZ` and you can call refresh on it, easy as `XYZ.refresh()`.

Works on my machine anyway, w/ ngx-virtual-scroller 1.0.16.

[2019-03-21 02:52] davidvalen95 opened #314 "Suggestion on dynamic child-item height"
firstly thankyou for usefull plugin.

i have read through your issue and currently `virtual-scrol` still unable to `predict` `child-height` dynamically  until its `fully rendered`, causing the jumping window experience to the user.

sorry that i cannot fork child to this repo and do the code

i have got an idea. Actually we can render `previous-item-buffer` and `after-item-buffer` with `visibility

[2019-03-25 14:43] dberthia opened #315 "Spastic scrollbar with hidden rows"
In my situation (Angular 7), I can hide rows in the list. The scrolling is smooth when no items are hidden, but as soon as I hide some rows and scroll up/down, the scrollbar flickers and jumps all over the place when I scroll through the section with the hidden rows. Setting a debounce helps a bit, but there's still some jankiness there. My implementation is below (see the 'hidden' flag. Any ideas

[2019-03-25 15:07] ahmadmu commented on #311
May I ask why you need this library for  in Ionic? Doesn't Ionic already provide its own virtual scrolling directive? (collection-repeat?)

[2019-03-25 15:18] gesielrosa commented on #311
Have differences. This ngx-scroller is better in most aspects. But in iOS, on keyboard hide, the content size has changed and the scroll not rendered correctly.
ionic-vscroll only works inside the specific tag (ion-content), since ngx works in any html tag.

I solved the problem with the virtual-scroll and infinite-scroll of the ionic itself.

The ionic-vscroll problem was rendering with a list of

[2019-03-26 09:33] amineamami commented on #309
one way is to add itemSelected event when you click on one of the items, save it's index in a variable then use it to scroll to your specific item

[2019-03-26 16:23] lamba92 opened #316 "Items shown outside container"
Well that's weird: https://giphy.com/embed/2imYfWJxJqM45FQCN9
I have no idea why:
[code]
[code]
[code]

[2019-03-26 16:27] lamba92 commented on #316
nvm i'm retard I've closed the tag outside...

[2019-03-26 16:27] #316 closed

[2019-03-27 09:34] lamba92 opened #317 "How to efficiently add and remove elements from the model?"
If I update all `[items]` the component will redrawn its elements. For example, how can I notify the `virtual-scroller` that an item may have been inserted outside the current shown ones and thus no redraw is actually needed? For reference, have a look at [Android's RecyclerView](https://developer.android.com/guide/topics/ui/layout/recyclerview), especially have a look at the [Adapter](https://dev

[2019-03-28 13:01] casper5822 commented on #308
Also for us. Refresh() method is import and fix some component problems. Keep it please.

[2019-03-28 14:35] Kartheek2016 commented on #301
I've tried two examples, Can anyone let me know how to fix this issue.

[2019-03-28 14:38] Kartheek2016 commented on #301
sdafsdaf

[2019-03-31 03:47] phuchieuct93abc commented on #306
I got the same problem,  I can't find a solution until now. Hope this issue will be fixed in the next version.

[2019-03-31 22:00] softwareCobbler commented on #308
+1

[2019-04-01 06:07] bbv-hungtran commented on #274
this really helps. Thanks!

[2019-04-03 07:36] isNotOkay commented on #221
I got it working like this:

[code]

[2019-04-04 11:06] hristina123 commented on #308
+1, great tool, keep it !

[2019-04-05 10:32] SchnitzelAndSpaetzle commented on #308
+1

[2019-04-05 20:42] speige commented on #314
If you think this solution could work, please code it up & submit a pull request. Thanks.

[2019-04-05 20:42] #314 closed

[2019-04-05 20:45] speige commented on #313
Issues are for reporting bugs, not for Questions. Read through the documentation. If you're still confused, read through the source code or submit a question on StackOverflow. Sorry, we don't have the time/resources to help you research.

[2019-04-05 20:45] #313 closed

[2019-04-05 20:46] speige commented on #311
Please create a stackblitz which reproduces the bug to make it easier to debug this issue. Thank you.

[2019-04-05 20:46] speige commented on #309
Issues are for reporting bugs, not for Questions. Read through the documentation. If you're still confused, read through the source code or submit a question on StackOverflow. Sorry, we don't have the time/resources to help you research.

[2019-04-05 20:46] #309 closed

[2019-04-05 20:46] #300 closed

[2019-04-05 20:47] speige commented on #300
Glad its helped you!

[2019-04-05 20:54] speige commented on #317
This is not currently a supported feature in the library. In most cases it shouldn't cause a noticeable performance issue. If it's causing a major issue for you, you might change how you're modifying the array. If you think it's a bug in the library, please re-open with a StackBlitz that reproduces the issue.

If this is a feature you think would be useful, you could consider submitting a pull-req

[2019-04-05 20:54] #317 closed

[2019-04-05 20:55] speige commented on #315
Could you convert this to a StackBlitz?

[2019-04-05 20:55] speige commented on #312
Issues are for reporting bugs, not for Questions. Sorry, we don't have the time/resources to help you research. You could try StackOverflow.

[2019-04-05 20:55] #312 closed

[2019-04-05 20:56] speige commented on #310
Please convert this to a StackBlitz

[2019-04-05 20:58] speige commented on #307
This is a known issue. I'm not sure how to fix it. If you find a way to fix it, please submit a pull-request. Thanks!

[2019-04-05 20:58] #307 closed

[2019-04-05 20:59] speige commented on #306
This is an issue with many libraries for SSR. The typical way to fix it is with something like this (in your main.server.ts)

[code]

If you google/stackOverflow you should be able to find more help.

[2019-04-05 20:59] #306 closed

[2019-04-05 21:02] speige commented on #304
This issue has been reported many times. It seems to be related to specific projects because it doesn't affect most people. Please read through past closed issues to find the resolution. If you still can't find it, you'll need to use google/stackoverflow.

If you're able to find a permanent fix, please submit a pull-request. However, as most people don't have this issue, I don't think it's a bug i

[2019-04-05 21:02] #304 closed

[2019-04-05 21:03] speige commented on #303
Currently, this library has many extra features that the CDK doesn't have. Long-term hopefully CDK will become better & this one will be retired, because we don't have the resources to maintain it indefinitely :)

[2019-04-05 21:03] #303 closed

[2019-04-05 21:04] speige commented on #302
Please create a StackBlitz to demonstrate your issue & re-submit.

[2019-04-05 21:04] #302 closed

[2019-04-05 21:05] speige commented on #301
Please create a StackBlitz to demonstrate the issue.

[2019-04-05 21:07] speige commented on #293
@aryaroudi I'm not sure how to fix the flickering. If you find a way to fix it please submit a pull-request. Thanks.

[2019-04-05 21:07] speige commented on #293
@kamal0912 The code is all in github. Good Luck :)

[2019-04-05 21:07] #293 closed

[2019-04-05 21:31] mikemichaelis commented on #303
Yes thank you very much as I am currently still using this code.  The CDK did not have the functionality I needed.  Thank you very much for this work!

Get BlueMail for Android<http://www.bluemail.me/r?b=14726>
On Apr 5, 2019, at 5:03 PM, Devin Garner <notifications@github.com<mailto:notifications@github.com>> wrote:

Currently, this library has many extra features that the CDK doesn't have. Long-

[2019-04-06 04:36] speige commented on #304
I've re-arranged the publish format to prepare for ivy support. In the process I believe I may have fixed the tween issue. Can you re-test with the latest version on npm 2.0.4 ?

[2019-04-06 04:36] speige commented on #283
I've re-arranged the publish format to prepare for ivy support. In the process I believe I may have fixed the tween issue. Can you re-test with the latest version on npm 2.0.4 ?

[2019-04-06 04:37] speige commented on #227
I've re-arranged the publish format to prepare for ivy support. In the process I believe I may have fixed the tween issue. Can you re-test with the latest version on npm 2.0.4 ?

[2019-04-06 04:37] speige commented on #210
I've re-arranged the publish format to prepare for ivy support. In the process I believe I may have fixed the tween issue. Can you re-test with the latest version on npm 2.0.4 ?

[2019-04-06 06:35] indraraj26 commented on #304
wait let me try will get back to you.
Thank you.

[2019-04-06 06:38] indraraj26 commented on #311
@ahmadmu This is the reason that we need this package
Link : https://github.com/ionic-team/ionic-v3/issues/986

[2019-04-08 10:45] aryaroudi commented on #293
Hey Speige, No, unfortunately. I'm using Angular Material VS now!

[2019-04-14 22:44] NiNJAD3vel0per opened #319 "comparing to "cdk-virtual-scroll""
There are a couple of angular infinite library. such as od-virtualscroll and ngx-infinite-scroll.
I am actually looking for material cdk virtual scroll. But, it seems that it only support one column based scroll strategy.
I couldn't find a good example using multiple column with CDK virtual.

This library has some advantage comparing to other libraries that I mentioned ?
Looks like this library wo

[2019-04-15 00:18] #319 closed

[2019-04-17 08:19] tcuje opened #320 "Typo in Loading In Chunks example?"
I tried the loading in chunks example here: https://github.com/rintoj/ngx-virtual-scroller#loading-in-chunks

My IDE tells the me that scrollItems is undefined, yet the view shows some items on first load, but then the views and scrollbar "shrink" after each load and gets some ugly whitespace at the end, where no items are displayed at all.

Is it correct that scrollItems seems to be undefined? An

[2019-04-17 17:08] speige commented on #320
You're correct, that example is old/incorrect.

There is a better example here:
https://github.com/rintoj/ngx-virtual-scroller/blob/master/demo/src/app/lists/list-with-api.component.ts
https://github.com/rintoj/ngx-virtual-scroller/blob/master/demo/src/app/lists/list-with-api.scss

You can see it in action here:
https://rintoj.github.io/ngx-virtual-scroller
Click on samples then scroll down to loa

[2019-04-18 13:20] tcuje commented on #320
Seems like html table is not supported anymore? Or at least I can't find it.

[2019-04-18 13:48] speige commented on #320
It's still supported.
https://github.com/rintoj/ngx-virtual-scroller#with-html-table

The readme is getting long, I should probably create a table of contents :)

[2019-04-18 14:43] speige commented on #320
HTML Tables are still supported. You can see it working at https://rintoj.github.io/ngx-virtual-scroller
Click on "Samples" then scroll down to the "With Table" section.

I haven't tried combining the two samples (loading in chunks + with table), but I can't think of any reason why they wouldn't work together.

If you can't get it working, please create a stackblitz to help in troubleshooting.

[2019-04-18 15:02] speige commented on #320
I've updated the readme to use the new syntax for loading with chunks. It was a minor change, the old code actually should have worked, the error you saw was probably just a warning.

At the top of the readme there is a "Usage" section.
Preferred option:
[code]
option 2: note: viewPortItems must be a public field to work with AOT
[code]

The loading with chunks example was using option #2. It's co

[2019-04-18 20:22] Exocomp opened #321 "Use with bootstrap responsive design"
How would I set this up with a bootstraps responsive design?

For example:
[code]

So basically image are loaded horizontally next to each other and wrap down the viewport and resizing the viewport will change the size of columns.

[2019-04-18 20:45] speige commented on #321
Sorry, we don't have the resources to answer these type of questions. You can research it on your own or try stackoverflow. If you come up with a solution, feel free to update the issue for future developers.

Good luck!

[2019-04-18 20:45] #321 closed

[2019-04-18 21:02] Exocomp commented on #321
I created a post in stackoverflow @ https://stackoverflow.com/questions/55753680/angular-virtual-scroll-with-bootstrap-responsive-design

[2019-04-18 21:34] speige commented on #321
Maybe I misunderstood your question.

ngx-virtual-scroller does support wrapping.
You can see an example here:
https://rintoj.github.io/ngx-virtual-scroller
click samples & scroll down to "with multiple columns".
You can see the sourcecode here: https://github.com/rintoj/ngx-virtual-scroller/tree/master/demo/src

GitHub Issues are for fixing problems with the library. If you find a broken feature,

[2019-04-18 21:59] #320 closed

[2019-04-19 15:53] Exocomp commented on #321
@speige that's awesome, thanks for the additional info. Your work in this library is awesome and is much appreciated.

[2019-04-20 15:10] Exocomp opened #322 "Handling scroll height / silent failure feature request"
First of all thanks for making this library it is great.

I ran into a case where the ngx-virtual-scroller is setup to use **[parentScroll]="scroll.window"** and also uses **(vsEnd)="loadMore($event)"** so essentially the end result to have virtual and infinite scroll.

The problem I ran into is that one of the routes in Angular had a css template where the html height was unset. For ex:

[code]

[2019-04-24 15:53] atlesj opened #323 "v2.0.x not working in production build with es2015"
It works fine if targeting es5, and also if targeting es2015 and setting buildOptimizer = false in config. But using es2015 and buildOptimizer = true (as is default in production) doesn't work.

It compiles and renders, but you can't scroll to the virtual elements in the list, and when trying it gives a runtime error.

This can easily be reproduced in the demo project in this repo, by changing tsc

[2019-04-24 17:17] speige commented on #323
Thanks for reporting this. I'm able to reproduce it.

It appears this function is being optimized out:
[code]

I'm not sure how to fix it yet. Still researching.

[2019-04-24 18:38] speige commented on #323
On 2nd glance, there are bunch of lines of code which are optimized out. This causes this.onScroll to be undefined, hence your exception. However, once that's fixed there will be many more exceptions for similar reasons.

Example:
[code]

You can see this by debugging the optimized demo & letting getting the minified source & running beautifier on it & comparing to the original source.

I'm not su

[2019-04-24 18:53] speige commented on #323
Ok, I found the flag that prevents this.

in package.json, I added:
"sideEffects': true

Essentially without this code it assumes all get/set properties are pure fields with no side-effects, which isn't true for ngx-virtual-scroller.

The issue should now be resolved. I've published version 2.0.7 to npm.

Please re-open if you continue to have issues.

[2019-04-24 18:53] #323 closed

[2019-04-24 19:10] atlesj commented on #323
Wow, that was fast! Thanx
________________________________
From: Devin Garner <notifications@github.com>
Sent: Wednesday, April 24, 2019 8:53:34 PM
To: rintoj/ngx-virtual-scroller
Cc: Atle Sjønøst; Author
Subject: Re: [rintoj/ngx-virtual-scroller] v2.0.x not working in production build with es2015 (#323)

Ok, I found the flag that prevents this.

in package.json, I added:
"sideEffects': true

Esse

[2019-04-25 08:04] wartab commented on #311
That issue rather sounds like an issue with the filterBy pipe you are using. Checking their issues in Github several other people suffer from performance issues or hanging of the application without the use of ngx-virtual-scroller.
That pipe does trigger by change detection. If you have many elements, it will often iterate over them when there's no reason to do so. I recommend applying the filters

[2019-04-28 12:13] Floaz commented on #286
I ran into the same problem. I'm also using `enableUnequalChildrenSizes="true"`.
I solved it by using `padding-bottom` instead of `margin-bottom`.
Maybe the calculation of the children size does not respect the margin.

[2019-04-29 03:17] speige commented on #286
ngx-virtual-scroller uses getBoundingClientRect() for its measurements. This function doesn't include margin, only padding/border.

This seems like a bug to me & I'd like to fix it. However, when I've tried switching from padding to margin in my projects, surprisingly everything still seems to work fine. Could someone please create a stackblitz that demonstrates the issue caused by margin so after

[2019-04-30 10:06] whyboris commented on #286
Thank you @Floaz for mentioning that switching from `margin` to `padding` may solve some scrolling issues 🙇 -- I can confirm that in my project *Video Hub App* this simple change made scrolling better: https://github.com/whyboris/Video-Hub-App/pull/172

[2019-05-02 12:36] abinax commented on #6
HELP! I faced the same problem today in my code

[2019-05-02 16:40] speige commented on #6
@abinax please describe your issue & create a stackblitz to reproduce it. This particular issue has been fixed for a long time, so your issue is probably different.

[2019-05-02 23:16] abuassar opened #324 "latest version 2.0.7 depends on angular 6"
in the readme it is written that this component supports angular 4+, hence I'm using it in an angular5 app.

but now I'm using an older version as the current one has peer dependency on angular 6.

[2019-05-03 00:16] speige commented on #324
The readme no longer states that we support 4+.

The latest version of ngx-virtual-scroller supports the latest version of Angular. If you don't want to upgrade your app to the latest angular, you'll need to leave ngx-virtual-scroller on an older version as well.

[2019-05-03 00:16] #324 closed

[2019-05-05 00:10] #286 closed

[2019-05-05 00:25] speige commented on #286
This should be fixed now & published to npm v2.0.9. Please try it (with margin on your element rather than the padding workaround) & see if it works. You could also try it with both padding & margin.

Closing this as I believe it's fixed. Please re-open if you continue to have issues.

[2019-05-05 03:02] whyboris commented on #286
Thank you @speige 🥇
For those curious, here's the link to the code changes:
https://github.com/rintoj/ngx-virtual-scroller/commit/b47bee32c4fe919615df776b0158969b3d7f35ba

[2019-05-09 04:13] tmk1991 opened #325 "Scrolling up causes crashing and bad performance"
For some reason, scrolling up on large lists > 500 items causes flickering and eventually crashing. Scrolling downward works flawlessly.

` <virtual-scroller
    #scroll
    [items]="docs"> <div #container>
      <div class="infinite-item" *ngFor="let d of scroll.viewPortItems">
          {{d}}
      </div>
    </div>
  </virtual-scroller>`

[2019-05-09 12:52] speige commented on #325
Are you able to reproduce this on any of the examples here? https://rintoj.github.io/ngx-virtual-scroller  (click on the samples link).

Those samples only have 1000 items, but I have a personal project with lists of 30,000. I believe you're doing something wrong, because this is working flawlessly for me.

The code you pasted looks fine, however it isn't enough to diagnose your problem. Could you

[2019-05-09 14:16] tmk1991 commented on #325
I completely understand. Hard to troubleshoot code you can't see. There's no doubt I'm doing something wrong. I can investigate reproducing.

I was passing in the parent scroller and when I took this out it would scroll up and down okay HOWEVER... from debugging, I notice that now ALL of the items are being rendered to the DOM. This also causes super slow scrolling and eventually breaks my app.

*

[2019-05-09 14:30] speige commented on #325
All of the items shouldn't be rendered to the DOM, only the visible ones. That's definitely part of the problem.

Giving virtual-scroller css height: 100vh should be fine as long as it's the actual scroll element. If you're doing a parent scroll (for example: using window scrollbar), then virtual-scroller height shouldn't be constrained & instead the parent (html/body) should have a fixed height (

[2019-05-09 14:30] #325 closed

[2019-05-09 20:29] tmk1991 commented on #325
I figured it out....

I had a switch in the code.
<ng-container [ngSwitch]="libraryType">
              <ng-container *ngSwitchCase="librarySvc.LibrayItemTypes.EXERCISE">
                             ....

I wrapped my component with a <div> and voila...

This is the best infinite scroll on the market for angular BY FAR.

[2019-05-10 23:20] abuassar opened #326 "Feature: support scroll snap"
I'm using ngx-virtual-scroller to display pages in a book-like app,

I'd like the user to scroll through pages but when he finish scrolling; a page is snapped to its start position instead of being displayed half way.

in css there is [scroll-snap](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type) but it didn't work maybe because the component uses translate instead of normal scro

[2019-05-10 23:24] speige commented on #326
This is not currently a supported feature. I don't have any suggestions on how to do it, sorry :(

If you decide to code this feature, feel free to submit a pull request. Thanks.

[2019-05-10 23:24] #326 closed

[2019-05-13 15:41] skadecl opened #327 "Scroll going up when items are prepended asynchronously."

[2019-05-13 15:45] #327 closed

[2019-05-13 15:48] skadecl commented on #301
Any updates on this?

I am facing the same issue. If @speige could provide a little orientation I will gladly help fix this and raise a PR.

Thanks a lot!

[2019-05-14 05:18] funoy commented on #200
i find a way to hide ios safari scrollbar, but i don't know why.
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
    color: fff;
    height: 0;
}

to add 'color' with error value can effect for me

[2019-05-14 06:13] speige commented on #301
@Kartheek2016 Sorry, I had asked for a StackBlitz earlier but missed the notification when you edited your comment.

I believe this is a good feature to add. It's not currently built-in.

@skadecl I think this is an easy change. I'm glad to accept a PR, but I think it'll be easier for me to fix it than to explain how the code works :) I'll try to code something up soon. If you figure it out before

[2019-05-14 20:19] speige commented on #192
Closing this as it appears to be resolved & OP hasn't updated the issue.

[2019-05-14 20:19] #192 closed

[2019-05-14 21:17] speige commented on #301
I updated the samples in the demo at https://rintoj.github.io/ngx-virtual-scroller to have use cases for prepending items so we can test easily while attempting to fix this.

@skadecl
I tried coding a solution, but it didn't seem to work. I'm going to take a break & mess with it again later.

Here's my attempt if you want to play around with it. Most of it is existing code, I surrounded the new co

[2019-05-15 00:08] speige commented on #301
This is tentatively fixed in npm version 2.2.0. Please try it out & let me know what you think.

There is a minor flicker when new items are prepended because it temporarily scrolls up & then back down.

Code Explanation:
Virtual-Scroller isn't able to measure any invisible items, it has to render them on the screen to measure them. All invisible items have estimated measurements only. For this re

[2019-05-15 00:12] skadecl commented on #301
I'll dive into it and try to figure out the flickering. But probably next weekend, that's when I will have some time to give it a try.

Thanks a lot! I will keep you updated if a come up with something.

[2019-05-15 07:40] wartab opened #328 "Breaking change introduced in minor version"
After updating the minor version of ngx-virtual-scroller from 2.1.0 to 2.2.0, a feature has been removed and therefore introduces a breaking change.
Please remove this release from NPM and publish it with by bumping the version with major version upgrade, as this breaks automated builds relying on [semver](https://semver.org/) rules.
Also, it would be nice if using deprecated features resulted in

[2019-05-15 08:06] kykint commented on #328
@speige - It's true - let's remove 2.2.0 and introduce 3.0.0

[2019-05-15 17:16] speige commented on #328
I've made the changes you requested. Sorry, I should follow semver better.

No features were removed, only renamed. I figured it would only take 5-seconds to fix breaking change, so I didn't think it was necessary to update the major version. Sorry for my mistake.

Warning was given in the ReadMe for a LONG time before removing. However, the ReadMe is large & it's unlikely all users will read it t

[2019-05-15 17:16] #328 closed

[2019-05-15 18:01] wartab commented on #328
Thanks a lot for the very quick reaction :)

There's no real way to do it in an "angular-way" (or at least I'm not aware of one), but in this specific case, I would have simply replaced the raw variable classes like `start` or `end` by [getters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get) & [setters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2019-05-15 21:01] speige commented on #301
There was a complaint about a breaking change in npm version 2.2.0, so I moved this to version 3.0.0

[2019-05-17 02:47] tmk1991 opened #329 "Inject Ionic 4 Dom Controller Write for performance"
Hello -

While it's not necessarily the responsibility of this repo, I have a question about how to extend its usage.

In ionic 4 there is a Dom Controller ( https://github.com/ionic-team/ionic/blob/master/angular/src/providers/dom-controller.ts)

It helps control writing events for performance. I'm wondering how i'd contain the events from when `ngx-virtual-scroller` writes new records? Would I:

[2019-05-17 03:33] speige commented on #329
I believe you're looking at the problem from the wrong perspective. The problem isn't ngx-virtual-scroller, the problem is your code & the components you're rendering inside the scroller. Don't be offended, this is an easy mistake almost all Angular developers make, I'll explain it shortly.

ngx-virtual-scroller is extremely performant, there is no wrapper you can put around it to fix it.

[execut

[2019-05-17 03:33] #329 closed

[2019-05-17 03:38] tmk1991 commented on #329
Thanks! This was exactly what I had to hear (no offense taken). I will give it a shot!

[2019-05-17 03:43] speige commented on #240
@nickbullock @sharikovvladislav I'm curious if you still need executeRefreshOutsideAngularZone or if using OnPush was able to fix your performance problems? Originally you said you were already using OnPush in 99% of your code & still had performance issues, but later you said you were going to re-code to use OnPush correctly.

I'm asking because I'd like to deprecate executeRefreshOutsideAngularZ

[2019-05-17 06:03] ggehlot1980 opened #330 "Reducing the items array length to less than available viewport cuause issues"
I have created the items array with a certain size which is more than what the viewport can accomodate. Then I go and remove few elements form the items array such that whole of the items can now fit into the viewport. Now if I again increase the size of the items array to the initial size, the viewport doesn't increse in height to encompass the whole avaiable height. The scollbar height never cha

[2019-05-17 21:32] speige commented on #240
Also, I wonder if there's a way in your code to modify the injector *only* for ngx-virtual-scroller to use  NoopNgZone. If so, that'd give the same benefit, but without needing the extra flag inside ngx-virtual-scroller. I bring this up because the flag has caused confusion for other developers & I've always seen this as a bad hack that should never be used, not as a feature I want to support insi

[2019-05-17 23:39] speige commented on #330
Please create a StackBlitz to help diagnose this problem. Thanks.

[2019-05-21 07:33] ggehlot1980 commented on #330
I could overcome the problem by doing - this.virtualScroller.viewPortItems = null, before changing the items array being referred by the virtualScroller. If I don't do this the viewport some how doesn't expand to accomodate the increated lenght of the items array. So if you want you can close this issue.
But I am seeing one exception within the library
Uncaught TypeError: Cannot read property '0'

[2019-05-21 15:26] tamtakoe opened #331 "Loading in chunks doesn't work with scroll to index"
See your example. If you click `scroll to index 50` you just load next chunk but not chunk with the index 50

[2019-05-21 16:42] speige commented on #331
Closing. This is not a bug.

"Loading in Chunks" is not a special feature of this component, it's something you can easily code yourself. The demo shows an extremely simplistic way of how you can code it. You need to determine how to code it for your particular app.

Because "Loading in Chunks" isn't a built-in feature, none of the apis behave differently based on it . If there are 50+ items, "Scr

[2019-05-21 16:42] #331 closed

[2019-05-21 16:44] speige commented on #330
I'm sorry, I can't help you unless you provide a StackBlitz.

[2019-05-22 14:10] tamtakoe commented on #331
I need to load item with index 50 and its siblings if I scroll to index 50. It means I can have gaps in my virtual data and scroll should work correct. I hope it is possible

[2019-05-22 18:00] speige commented on #331
As I said previously, "Loading in Chunks" is not a built-in feature of the library. It is something you have to code yourself. The example shows an easy theoretical way to do it. Obviously what you're mentioning is possible, but it's your responsibility to figure out how to code it.

[2019-05-24 12:01] RazanShrestha opened #332 "how to make height auto in ngx-perfect-scrollbar"
height auto is not working in  ngx-perfect-scrollbar

[2019-05-27 09:39] eLeontev opened #333 "[question] catch end of rendering"
Hi,

 I did not see any related questions, so I ask it here:)
I'm not so familiar to angular ecosystem, so my question is next: Do we have any event which will be fired once all the items in ngxVirtualScroller will be rendered (particular case: determinate that a page is rendered and I can hide the loader)?

[2019-05-27 19:37] speige commented on #333
Try the vsUpdate event from the ngx-virtual-scroller api. It will happen every time rendered items are changed, so if you're using it to hide a spinner/loading icon you only need the event 1x & can ignore it afterwards.

[2019-05-27 19:37] #333 closed

[2019-05-29 05:24] splincode opened #334 "Upgrade to Angular 8"

[2019-05-29 05:30] speige commented on #334
Angular 8 is already supported. Could you re-open if you have an actual issue & give a more specific description of the problem?

[2019-05-29 05:30] #334 closed

[2019-05-29 09:42] deser opened #335 "Is it possible to cache\hide from DOM components instead of destructuring?"
Related to #296
So is it possible to use instead of ngIf something like ngStyle or don't remove components at all once they are rendered?

[2019-05-29 09:44] kykint commented on #335
You can just not use virtual scroll - and youк components won't be destroyed. The idea of virtusl scroll is to remove a lot of nodes from DOM and free the memory they used.

[2019-05-29 09:49] deser commented on #335
Yeah, I understand. The problem is that I need fast first rendering in other words when my right view (slide panel) is opened I need to render only visible items there. My components are tough so virtual scrolling plays bad when starting to stroll up and down.

[2019-05-29 10:00] speige commented on #335
Closing. Sorry, this is not a feature we're going to implement.

Virtual-Scroller is extremely performant, if your rendering is slow while scrolling you need to fix your custom components. There is an entire section in the readme about how to improve scrolling performance.

As stated in #296 if you have any external data being loaded with each component, you should cache that in your own custom co

[2019-05-29 10:00] #335 closed

[2019-06-01 07:41] SpeedoPasanen opened #336 "Loading in chunks, vsEnd keeps triggering with endIndex === buffer.length-1"
What am I doing wrong? Without scrolling at all, vsEnd triggers everytime pics$ is updated, and with an endIndex value equaling the length of items-1. Should I not use AsyncPipe? Does `virtual-scroller` need to have a fixed pixel height instead of 100% (.h-100)?

[code]

[code]

[code]

[2019-06-01 07:47] SpeedoPasanen commented on #336
Tried also `:host { display:block; height:200px }` for app-pic, produced the same eternal vsEnd-loop so it's not due to being multi column.

[2019-06-01 08:00] SpeedoPasanen commented on #336
Ok so indeed this seems to be caused by using any percentage height instead of pixels (height:50% etc, still same). `<virtual-scroller #scroll [items]="pics$ | async" style="height:500px">` fixes it.

So how to fill the container height?

[2019-06-01 08:10] SpeedoPasanen commented on #336
Ugly ass work-around below. Any better way?

[code]

[code]

[2019-06-01 10:52] speige commented on #336
Please convert your code to a StackBlitz if you'd like help with troubleshooting.

[2019-06-01 20:36] SpeedoPasanen commented on #336
https://stackblitz.com/edit/angular-1sw1l2

See the console.
Actually I started with a simple array, not an observable + AsyncPipe and that didn't happen. So I guess | async and a 100% height is the combo that breaks it.

[2019-06-01 20:42] SpeedoPasanen commented on #336
Weird, I can't reproduce it in Stackblitz which uses Angular 7, I'm on 8 with Ivy. Maybe it's got something to do with Ivy (and it not being prod rdy yet). :D Sorry. I'll keep an eye on it later when Ivy becomes standard. For now, doesn't seem like anything to waste more time on.

[2019-06-01 20:58] SpeedoPasanen commented on #336
No wait, it was the Grid layout that was missing, that broke it. Updated Blitz.
https://stackblitz.com/edit/angular-1sw1l2

[2019-06-03 08:40] jbonet commented on #301
This is still happening, any news?

[2019-06-03 08:52] speige commented on #301
@jbonet Can you clarify? This was tentatively fixed & can be tested via the demo at https://rintoj.github.io/ngx-virtual-scroller

The only concern I had was it has a minor flicker.

However, I am now noticing on the demo site that with the "Toggle Random Height" button (enableUnequalChildrenSizes) the issue remains.

Are you doing differing height child items? If not, can you create a stackblitz

[2019-06-03 08:54] jbonet commented on #301
Steps to reproduce:

https://rintoj.github.io/ngx-virtual-scroller/parentScroll

- Reduce items to 0.
- Append 10 items.
- Prepend 10 items. -> Scroll jumps.

[2019-06-03 08:57] speige commented on #336
Interesting. Thanks for creating the stackblitz. I can reproduce the issue now.

I'm not sure off hand why it's broken, My first guess is that the grid layout is somehow causing the code to get incorrect measurements, but I'll need to do some debugging/troubleshooting.

I'm glad you found a workaround for now.

[2019-06-03 09:03] speige commented on #301
Strange. On my box those steps work perfectly fine.
What browser are you using?
Can you post a video of it happening?

I sometimes get a "flicker", where it temporarily scrolls to the wrong place & immediately scrolls back to the correct place. That was caused by my hacky fix for this issue. We need to come up with a better permanent fix.

[2019-06-03 09:12] jbonet commented on #301
I am using Chrome 74 on Windows 10.

It happens on Android Chrome too.

Here is a video of this: https://youtu.be/zfDQFXhpUb4

[2019-06-03 11:34] speige commented on #301
@jbonet
I must be confused. When you append items The top item # is 10000 Amelia Cummings. After you prepend, it's still focused on the same item. If you want to see the newly prepended items, you have to scroll up.

I believe this is the intended behavior based on what was requested in this issue. The behavior was different in previous versions, this new behavior was released with version 3.0

To

[2019-06-03 11:52] jbonet commented on #301
Well from the title I thought that if scroll was at its initial position, it should stay there, but if it was scrolled to some index, keep it scrolled.

Thanks for the clarification.

[2019-06-03 16:13] daddyschmack opened #337 "node_modules/ngx-virtual-scroller/ngx-virtual-scroller"' has no exported member 'ChangeEvent'."
Looks like the latest version upgrade 2.1 to 2.2 removed the interface for "change_event",
this causes a compilation error in angular 6.

[2019-06-03 17:22] speige commented on #337
Read the change log. The event was renamed to vsChange.

[2019-06-03 17:22] #337 closed

[2019-06-06 10:33] splincode opened #339 "Why executeRefreshOutsideAngularZone is deprecated?"
We use flag executeRefreshOutsideAngularZone and and our application is much faster

[code]

Why is this property obsolete?

[2019-06-07 00:25] speige commented on #339
Because I believe it's the incorrect way to get a performance boost & is buggy. However, I'm not planning to remove it immediately, just discouraging future coders from using it.

I marked it deprecated to see how many coders would complain to see how many projects are currently using it. I'm only aware of 1 project using it.

I don't want to have a documented api for a feature that I disagree wit

[2019-06-07 05:31] splincode commented on #339
If you use ComponentFixtureNoNgZone, then it tightens additional dependencies from the testing package, and the bundle weighs a lot.  It is also very strange in production to use the functionality intended for testing.

[2019-06-07 05:42] nickbullock commented on #339
Local branch change detection is cheaper than AppRef.tick even if all of your components have OnPush strategy. I think it is Angular/NgZone code overhead.
They failed to make the change detection mechanism from the root of the tree as fast as in React.js.
It is still like $scope.digest() vs $rootScope.digest().
This is the only reason this flag is useful.

[2019-06-07 06:07] speige commented on #339
I understand the bundle size issues since tree-shaking is bad with Angular. As an alternative to ComponentFixtureNoNgZone, you could also use:
[code]
NoopNgZone has a weird unicode symbol (barred-o) because Angular hasn't made it an "officially documented" api. If you don't like that, you could copy/paste just that class into your code:
[code]

I only suggested ComponentFixtureNoNgZone because it

[2019-06-07 06:25] splincode commented on #339
When I tried your approach, in this case, my application stopped working completely (auto detect changes) every where!

[code]

my-table.module.ts

[code]

Initially, I thought that this approach is limited only to the module that we use, but in fact, in the application, ngZone are disabled everywhere in the application.

[2019-06-07 15:31] casper5822 commented on #301
i think that after unshift operation the scroll must stay in the same position, not scroll down to the previous item.

Consider this scenario:

I have other divs between the parentScroll element and the virtualscroller such as title, search bars, buttons and so on,  and i add (unshift) an item to the list, and the user is at scrollTop 0 (no movements from user, just stay here at the beginning of t

[2019-06-07 15:46] casper5822 commented on #301
I agree with @jbonet. The behaviour is a problem if you have some content between the parentScroll component and the virtual-scroller for examples: search bars, titles and so on. If i am at 0 scrollPosition and i make a background unshift the user will see the page scroll down alone.

[2019-06-07 17:54] speige commented on #301
@casper5822 The code actually bypasses this feature if the current scroll position is 0.

I'm not sure I understand the UI examples of search bars/titles, I'm assuming they'd be fixed headers/footers, so the entire page wouldn't scroll, just the virtual items. Maybe I have the wrong picture in my head.

The problem with the previous approach before this issue was coded is that after unshift the vi

[2019-06-07 18:15] speige commented on #339
@splincode You're right, my mistake.

There should be a way to make it only affect just VirtualScroller, but I'm not sure how :(

[2019-06-07 18:27] casper5822 commented on #301
I try to explain my scenario:

i have a div with a reference variable. Inside there is a card that contains search bar, header and than a table with the virtual-scroller with the parentScroll set to a root div that is before the card.

Like this:

[code]
-------------------------------

Consider this initial situation:

The user is at the root of the page and there is already an item in the table.

[2019-06-07 18:50] speige commented on #301
@casper5822 Ok. I'll look into it & get back to you. Thanks for the explanation.

[2019-06-07 21:15] casper5822 opened #340 "ViewChildren - scroller element is protected no access to nativeElement.id"
Hello,
if i have many scrollers and use ViewChildren to filter one of them:

Tipically i assign an id on the html element end then access within item.element.nativeElement.id.
But in the virtualscroller component, the element is protected.
So is there any way to filter a scroller in a viewchildren context using an id?

Thank you

[2019-06-08 21:02] btxtiger opened #341 "[Question] Intitial scroll index/position"
How can I define the initial scroll position / item index? Is there a proper way to pass it to the component, instead of scrolling to y position after init? This always causes a visible scroll animation.

I found `IPageInfo.scrollStartPosition`, but I could not find out how it is usable.

[2019-06-08 21:24] speige commented on #341
IPageInfo is readonly. You'll have to use scrollToIndex or scrollToPosition. There is a parameter animationMilliseconds which you can set to 0 to make the scrolling instant.

There may still be a small amount of flicker between the 1st render & the time you call scrollToPosition. You may be able to reduce this by calling the method immediately after initializing the items array. If you're not able

[2019-06-08 21:24] #341 closed

[2019-06-08 21:35] speige commented on #340
I don't think there's a reason to change it from protected to public, because there's already a way to access it built into Angular. I think you want the use the "read" property of @ViewChildren.

This gets the default injectable related to the selector (In this case a reference to the component, where .element is protected )
[code]

This specifies which type of injectable you want related to the

[2019-06-08 21:35] #340 closed

[2019-06-08 22:13] btxtiger commented on #341
Thank you!

[2019-06-09 19:56] casper5822 commented on #301
This is a workaround to unshift problem, and to have the desired behaviour. For me it works, hope also for you:

  this.scroller.viewPortItems = []; <- clear the viewPortItems
  this.results.unshift(newItem); <- make the ushift int the original list
  this.scroller.viewPortItems = this.results; <- assign again the list

In this way, no scroll occurs for me.

Best regards

[2019-06-10 07:51] speige commented on #301
@casper5822 your suggestion has some problems. viewPortItems is intended to be readonly. It is what renders the actual items to the screen. By assigning the entire results array to it, you're disabling virtual scrolling & instead rendering all items.

Sorry I haven't gotten around to a proper fix yet. I've been busy.

[2019-06-10 09:24] patty3112 opened #342 "export 'Tween' was not found in '@tweenjs/tween.js'"
Currently i'm using ngx-virtual-scroller with storybook. Getting warning like
export 'Tween' was not found in '@tweenjs/tween.js'
export 'Easing' was not found in '@tweenjs/tween.js'

Version:
angular: 6
ngx-virtual-scroller: 3.0.1

Please help me with this, i'm I missing something here.

Thanks & Regards,
Pratik

[2019-06-10 09:43] casper5822 commented on #301
@speige , thank you for the response and the clarification. No problem, i try only to give my contribuite because this component is amazing and works very well, also better than the angular official virtual scroller.
I updated my workaround with according your information. I think now it is good:
I made a timeout only if when the scrollTop is 0 and in this case it will be always 0 as described in

[2019-06-10 10:02] speige commented on #342
Closing. This is a duplicate of several previously closed issues. Please read through those to find a resolution. Please reopen if you're still unable to resolve it.

[2019-06-10 10:02] #342 closed

[2019-06-12 15:06] Fersty commented on #229
Hello, i have some problems like in this issue.
I'm using "EnableUnequalChildrenSize" with big list of items (height between 30 and 5000).
If i will reach end of my list and start scroll to top - my scroll gets bugged. (scroll causes to jump and throwing back sometimes).
I just wanted to ask, is this similar issues? In your samples this issue also repeats.

[2019-06-12 15:43] kykint commented on #229
Your issue is known. now it works jerky if you scroll to the bottom very fast

[2019-06-12 15:50] speige commented on #229
@Fersty The only time I've seen it jump back to the top is if I accidentally move my mouse away from the scrollbar while dragging. I think that's an issue with the browser itself that we can't fix.

The "jerky" behavior that kykint describes is a minor issue, in my opinion. In most cases it doesn't negatively affect the user very much. The issue is that we can't measure the items ahead of time, si

[2019-06-12 18:36] Fersty commented on #229
@speige
Actually i have unusual usage of this library, it's document, that i'm using with virtual-scroll (one paragraph - one list element) and it can be different size.
This issue happens on large documents. I recorded two videos, one with large document, and after i'm scrolling bottom or pressing button "End" as you can see scroll jumps many times when i'm trying scroll to top. Sometimes i have

[2019-06-12 20:16] speige commented on #229
@fersty thanks for the videos. Yes, this is known behaviour & unfortunately we don't know a good way to fix it. It's related to the fact that measurements can't be done until the item is actually rendered. For any non-rendered items it uses the smallest item's size. So, as new items get rendered the scroll bar increases in size which causes the "scroll thumb" to bounce around.

Although I don't kn

[2019-06-13 16:42] casper5822 commented on #301
@speige  is there any new about this problem? Or a more clever fix that i can use without the timeout?
Thanks

[2019-06-13 16:59] casper5822 opened #343 "Resizing page and virtual scroller table row flicker"
I have a table with a virtual scroller.

Use case problem:

1 A table with the virtual scoller
2 Other elements before like divs.
3 User is at some point in the table so i have rows displayed

If the user makes a window resize, the elements before the table change their height, the virtual scroller refresh and recalculate the new size: In this operation the user notices that some rows flickers for

[2019-06-13 17:49] speige commented on #343
Could you create a StackBlitz?

[2019-06-13 19:09] casper5822 commented on #343
https://stackblitz.com/edit/create

Consider i have avatars in every row.
So when resizing you can see that the cards before the table change their height, and if you are in the middle of the table during this changes the virtual scroller will make a resizing process and tries also to reset the scroll position during this phases you can see that some displayed rows move up and down until the resiz

[2019-06-13 19:21] casper5822 commented on #343
Consider that i have images in every row.
When the page is resizing and i am in  a certain point of the table some rows start to go up and down in a strong way until the resize finish.

In this example i tried to recreate the "movement of the row", in my case the rows are more complex so the effect is greater.

I am not pratical with stackblitz, i don't know if this is the right share link (sorry)

[2019-06-13 22:20] speige commented on #301
@casper5822 Please try version 3.0.2 from npm. I believe I fixed the issue where it was keeping existing item focused even if scrollTop was 0.

[2019-06-13 22:33] speige commented on #343
I can see that it feels sluggish when resizing, but I don't necessarily see how the layout is incorrect. Maybe if i looked closer (or used your image example) I'd understand better.

One possible option would be to modify the checkResizeInterval setting.
I'm curious if any of these values would work better for your situation?
[checkResizeInterval]="0"
[checkResizeInterval]="1"
[checkResizeInterval

[2019-06-14 07:31] casper5822 commented on #301
@speige i tested the 3.0.2 it works like a charms. So great job. Thank you.
For me it is the desired behaviour.

[2019-06-14 07:42] jbonet commented on #301
Thank you @speige. Now it is behaving as I expected.

[2019-06-14 08:56] casper5822 commented on #343
I tried your suggestion on my table, here is what i got:

Use case:
Before the table there are 4 cards with col-md-3 and when the user resizes the page the cards
go to col-xs-12 and make an height unshift.
User is at "some point" in a table with lot of rows but not at the beginning of the table and make the resize.

--------------------------------------------------
1 [checkResizeInterval]="0":

[2019-06-18 07:14] casper5822 opened #344 "multiple-column cards are invisible until resize container height (only the first is displayed at the beginning)"
I have problems with horizontal cards. I tried both bootstrap column and your list-item.
This is my use case:

- 2 elements
- bufferAmount is not set
- window is sized with a small height, just a portion of the top of the card is visible;

In this situation, at the beginning, only the first card is displayed, then only if i make the window height bigger, so i increase the height of the page, the s

[2019-06-18 08:20] casper5822 commented on #344
I solve the issue.
The problem was with padding on my cards. For some reason it creates problem on height calculation.

Thank you in every case.

[2019-06-18 17:09] casper5822 commented on #133
I have also this problem. Suggested solutions don't work for me

[2019-06-18 18:16] athoshky opened #345 "header height desbord calculation."
Is posible fix it?
![image](https://user-images.githubusercontent.com/26173608/59708773-70511600-91d3-11e9-89a9-c1f24dc89f10.png)
when the header height is longest or has multiple headers.
thank you for your work!

[2019-06-18 20:53] speige commented on #345
Please create a stackblitz

[2019-06-18 21:00] speige commented on #133
@casper5822 please create a stackblitz.
Also, i don't have the resources to do a lot of troubleshooting because I do this unpaid. Ideally, you should use stackoverflow & also try your best on your own before submitting an issue. If you're able to find a solution please post it for others so it'll help them if they have a similar issue. Thanks.

[2019-06-18 21:01] casper5822 commented on #344
This problem is not solved. Sorry.
I'm making tests to understand better the issue.
If i set the scroll.window parentScroll, the problem occurs, if i set a container with fixed height, it works.
I'm using bootstrap in this moment and it's like virtual-scroller doesn't calculate the right scrollHeight because there where multi columns.
I tried some similar issues about bootstrap, template-rows etc.

[2019-06-18 21:10] casper5822 commented on #133
Yes of course, i post my issues as i post my solutions for all people.
I reopened my closed issue about this topic with some screenshots.
If i or my team will solve the issue, i will write our solution.
Thank you

[2019-06-19 09:31] casper5822 commented on #133
@speige  for the stackblitz you can use directly the offical demo page of ng-virtual-scroller in the multi-column sample because also the demo part is bug affected.

The bug is visible with this simpli steps:

1 Reduce items to 0;
2 Open the page inspector or resize the browser page until you will have the minimum height for the multi-column scroller div;
3 Append 10 items

You will see only the f

[2019-06-19 10:05] lincolnthree opened #346 "Support for multiple additional elements in scroll"
Hello!

First, thank you for this fantastic VS library. I'm trying to work with multiple large groups of nested data, like so:

`{ item1: [1,2,3...N], item2: [9,10,11...N], ... M }`

I'm wondering if there is a good approach to using "nested" virtual scroll in this scenario, where each item contains sub-items. Obviously, the example I show below would result in multiple scroll containers and would

[2019-06-20 06:42] speige commented on #339
I've been thinking a lot about this & I've decided to keep executeRefreshOutsideAngularZone as an officially supported API.

My initial fear with executeRefreshOutsideAngularZone was because I thought it caused major bugs across my entire app. I didn't want to deal with tech support if other developers started using the flag. However I recently realized it was actually a bug in my own manual chang

[2019-06-20 06:42] #339 closed

[2019-06-20 07:00] speige commented on #346
I'm sorry, we don't officially support any feature like this. You can try it out to see if it works, but I'm not sure if it will & we probably won't be able to fix any bugs you find.

I don't have any alternate ideas on how to achieve this off the top of my head. If you're able to figure something out, feel free to submit a pull-request or explanation so future users can read it.

I wonder if you

[2019-06-20 07:00] #346 closed

[2019-06-20 07:07] speige commented on #332
Please create a stackblitz if you want help troubleshooting this. Also, please search other closed issues, I believe others have discussed how to interact with perfect scrollbar.

[2019-06-20 09:28] insomnia1337 opened #347 "Filter items"
Hey, i have select filter.

const bananas = [banana, banana, x1000 items]
const apple = [apple, apple, x 500 items]

at the start i have all record loaded. But when i select only bananas, to height of scroll container not update...  . Where is the point?

[2019-06-20 16:51] lincolnthree commented on #346
Ok! Thanks for taking the time to look. I appreciate it!

[2019-06-20 23:11] speige commented on #344
@casper5822 I need a stackblitz before I can help :)

[2019-06-20 23:24] speige commented on #133
@casper5822 I'm able to reproduce the issue you describe on the demo page. Thanks!

One easy fix is to set bufferAmount. The ideal value would be the number of columns you have. This essentially forces virtual-scroller to render a few extra items.

I'm guessing this bug is caused by a minor math (or rounding) error in the code. Since it's a rare problem & bufferAmount is a viable workaround, I don

[2019-06-20 23:28] speige commented on #344
Oh, It looks like this is similar to the other issue you posted in & bufferAmount is a viable workaround.
How noticeable is the performance impact? Unless you're setting it to a very large value, the impact should be minimal. My suggestion would be to use bufferAmount & then follow all the performance guidelines in the readme.

[2019-06-20 23:36] casper5822 commented on #344
The open multi column issue is this same issue so i will close it.
We made other tests and we find the same problem (math round).
We also tried the bufferAmount solution but it is not a valid workaround because with hundreds of cards very slow rendering occurs and our performance tests are not passed. In some case, with complex cards a user back to previous page takes up to 8 seconds.
So we have a

[2019-06-20 23:36] #344 closed

[2019-06-20 23:45] speige commented on #343
It appears that [checkResizeInterval]="1" is the best option because it prevents flickering. In this case, if I converted resizeInterval to a debounce instead of a throttle, it probably wouldn't help at all. So, I think I guessed wrong :(

There is code in virtual-scroller to re-focus the previously focused item when the items array is prepended. I think we could do the same when a resize occurs.

[2019-06-20 23:48] speige commented on #344
Ok. I strongly suggest going over all the performance documentation at https://github.com/rintoj/ngx-virtual-scroller

Search for headings starting with "Performance - "

If you follow those guidelines, I think the performance issues will be improved. A small bufferAmount shouldn't cause such a negative performance impact. If you're following those guidelines & still have performance issues with b

[2019-06-20 23:53] casper5822 commented on #344
Ok i will reopen the issue. Tomorrow i will follow the guidelines and stop the new  layout design.
Thank you for all.

[2019-06-21 00:03] casper5822 commented on #343
We did a simple workaround, and for now all tests are passed.
In our case we changed all the elements before the tables (we have just simple tables) in order to not perform a height shift of the table itself. So the table  is "fixed".
I have to talk with my collegues and ask for try this solution because we have to "reopen" the problem so it will take some time.

[2019-06-21 00:12] casper5822 commented on #344
Sorry another report about this problem that we notice in one test is the follow:
It seems like this problem occurs if the container viewport height has a height less than the card  (child) item. So in this case, the others card are considered out of the vertical viewport.
Maybe, the fact is that in a multi column situation the viewport witdh must be considered and not only the height.

[2019-06-21 00:13] speige commented on #344
@casper5822 In this situation is bufferAmount still a valid workaround (ignoring the performance impact)?

[2019-06-21 00:16] casper5822 commented on #344
Yes the bufferAmount is a valid workaround because scroller bypass the viewport,  in fact it was the first fix we made, but we stack at performance tests.

[2019-06-21 02:45] Juanperezc commented on #314
I have the same problem with dynamic child-item (chat app)

[2019-06-21 07:28] insomnia1337 commented on #55
bump

[2019-06-21 07:31] speige commented on #55
Please create a stackblitz if you want help troubleshooting this issue.

[2019-06-21 08:49] casper5822 commented on #344
We adopted the bufferAmount workaround at the end.
The performances were improved.
In our case the problem was a "star rank directive" for angular 2 inside the card:
It seems to be heavy to render so we implemented a custom ranking stars system.

Now with a bufferAmount = 3 we have about 0.8 - 1.5 seconds on a "go back page" call on a 2000 items . The delay is due to the scrollToIndex usage in ord

[2019-06-21 11:06] whyboris commented on #133
Sorry not getting into the details of the conversation, but possibly related is my app that uses _ngx-virtual-scroller_ extensively to display a gallery of images: https://github.com/whyboris/Video-Hub-App

It's MIT license so feel free to use any code you'd like to use in your project(s) 🙇

[2019-06-21 12:09] insomnia1337 commented on #169
bump how to resolve this problem?

[2019-06-21 20:07] ataraciuk commented on #97
If this helps anyone, I ended up just creating a fake component.

Do not import the VirtualScrollerModule into the test, instead, just define a component like this:
`
@Component({
  selector: 'virtual-scroller',
  template: '<ng-content></ng-content>'
})
export class FakeVirtualScrollerComponent implements OnInit {
  @Input() items: any[];

  viewPortItems;

  ngOnInit(): void {
    this.viewPortI

[2019-06-26 19:02] luqmaants opened #348 "Adding headers to list"
my list has data like [{firstname,lastname, photourl},{firstname,lastname,photourl},{firstname,lastname,photourl}... and so on]. I currently am using a multi-column list. is there a way to add headers to this list? I would like to have headers like in the contacts application of any phone? like contacts starting with 'A' would be under the 'A' header and so on?

[2019-07-03 11:03] lerikakulish opened #349 "Item jumping to next one on scroll, when height of item more than viewport"
My use-case:

- virtual-scroller container height is 100%;
- card height more than viewport height;

Scrollable-content height is equal to viewport height. When Scrollable-content is above the viewport, it scrolls to next item top.

Same is reproducible in samples, if height for item is set from devtools and it exceeds height of virtual-scroller: https://rintoj.github.io/ngx-virtual-scroller/sampl

[2019-07-03 14:56] zr87 commented on #52
Thinking on implementation, The sticky element in the list (for example a selected list item) should kept in the list and not taken out when scrolling around the list.
 The `position: sticky` line would handle the visual part of keeping the selected item on the top or bottom.

[2019-07-04 06:25] FrantisekHrdina opened #350 "Scroller not working with filtering form inside"
Hi,

When I am trying to have some filtering forms in theader that is inside in virtual scroller, it doesn't work. I am getting startIndex as null. Does anyone know how to solve it?

[code]

[2019-07-06 06:43] nagdevbharat opened #351 "Scolling is Jittery in iOS"
I am using this virtual scroll to display data with lazy loading in Ionic 3.
It is working fine with browser and android app but in iOS sometimes the scrolling becomes jittery because of some reasons, which I was unable to find.
Here are the details:

[code]

Template Structure:

[code]

[2019-07-08 15:29] luqmaants commented on #351
I was having the same issue. I found that using <li> works best, instead of using div or <ion-item>.

[2019-07-08 16:06] luqmaants opened #352 "virtual scroll getting stuck"
I have implemented a virtual scroll. The data in the virtual scroll is refreshed every-time, and then I scroll to the top of the virtual scroll.
[code]

[2019-07-09 04:59] nagdevbharat commented on #351
Thanks for the reply @luqmaants .Did you used <li> inside <virtual-scroll>.
Also I am facing this issue in iOS only, Do you think this will resolve the issue?

[2019-07-09 14:43] FabioGuerreiro commented on #350
are you using the #container selector to define your items area? it must be separate from your filter form as specified here https://github.com/rintoj/ngx-virtual-scroller#additional-elements-in-scroll

[2019-07-10 16:29] SFA16SCM21C opened #353 "Two different virtual-scrollers for different list"
Hi, I have two separate lists on the same screen and trying to implement virtual-scroller for both of the lists. Is there a possible way to do so? Any help would be appreciated. As of now, the way I have implemented it, it only works for one of the two lists.

[2019-07-11 09:19] FrantisekHrdina commented on #350
I think I do

[code]

[2019-07-11 12:43] insomnia1337 opened #355 "Mat-Expansion-Panel"
trackBy: myTrackByFunction working properly and fast

But when i am using mat-expansion-panel and the state is (OPEN) and when i want to scroll down, every item is opening... what is wrong with this?

[2019-07-11 18:09] luqmaants opened #356 "Jittery scroll when multicolumn randomize"
[code]
The above link shows the glitch while scrolling.
This is in the demo link by Mr.Rintoj. :
[code]

[2019-07-12 07:07] insomnia1337 opened #357 "scrollThrottlingTime vs scrollDebounceTime"
scrollThrottlingTime vs scrollDebounceTime what is a deifference?

[2019-07-16 13:21] insomnia1337 commented on #244
its nice feature but for users it might be a little confused that UI is broken. What do u think, when u have about 1000 records and want to get as much best performance?

[2019-07-22 09:26] bhaumik-gandhi opened #358 "Hello, It can be better forcing childHeight="1". But scroll not working."
Hello, It can be better forcing childHeight="1". But scroll not working.

_Originally posted by @sbechet in https://github.com/rintoj/ngx-virtual-scroller/issues/58#issuecomment-308436057_

[2019-07-23 06:15] ranbuch opened #359 "virtual scroll doesn't work on safari"
[This url's](https://www.creators3d.com/offers) virtual scrolling works on Chrome but not on Safari.

This is how the component looks like:
[code]
[code]

BTW I'm not using ```(vsEnd)``` event because it didn't work for me on Safari as well, probably for the same reason.

Any suggestions?
Thanks.

[2019-07-25 10:28] EduardRakov commented on #344
I had a similar problem - be sure that your item-block is NOT wrapped to any other blocks (e.g. div), example:

**Incorrect**

[code]

**Correct**
[code]

[2019-07-25 10:36] casper5822 commented on #344
Thank you. I have not any div between. The problem is how the scroller works. For now the solution for me is set bufferAmount e quale to the number of card in a row

[2019-07-25 10:45] EduardRakov commented on #344
@casper5822 I use 4 items per row without any `flex` and everything is fine (you have to set height of `html` and `body` as well (for me it's `100%`)) and `bufferAmount` is not used in my case.
Also you may try to use the following workaround - set scrollerHeight manually. (in one of my case it helped for me using ` [scrollbarHeight]="itemHeight"`, I know looks like a dirty trick but works.

[2019-07-25 10:48] EduardRakov commented on #344
@casper5822 also if your page is dynamically changed - try to `invalidateAllCachedMeasurements`

[2019-07-31 20:03] omardoma opened #360 "Scroll Jumping when using a container with CSS Grid layout (grid-gap)"
First, I would like to thank you for the great library, second, I have found an issue that I wanted to report so we can improve the library further.

So basically if you have the following code:

[code]

While the container has the following css properties:

[code]

Scrolling jumps because it doesn't account for the grid gap in the child size calculation, which leads to a very noticeable glitch as

[2019-07-31 20:13] amiram opened #361 "When there is a place in viewport to only a single row, just the first card appears until scrolling"
I use the virtual scroller for a grid. Html is like:

[code]

When the page has room to show only the first row of cards, page loads with only one card. When you scroll down a little, you see the rest of the cards of the first row and other rows.

Wrokaround - add buffer amount:

[code]

[2019-08-09 10:12] Pranav-Suresh opened #362 "Will virtual scrolling work with card layout ?"
I have a layout containing list of cards followed by a footer. The issue arises because of the fixed height set to the virutal-scroller. The footer overlaps the scroller content. Any help would be really appreciated !
The code that I was working is available in stackblitz @ https://stackblitz.com/edit/angular-5utp1d

[2019-08-17 14:38] lincolnthree commented on #351
Same issue here. @luqmaants and @nagdevbharat did this help you?

[2019-08-17 14:39] lincolnthree commented on #359
@ranbuch Have you tried wrapping your 'app-offer-card' in a div with the ngFor on the div? Like so:

[code]

[2019-08-17 14:49] lincolnthree commented on #356
Also having this issue with a multi-column layout. Only appears to be a problem on Safari and iOS for me.

[2019-08-17 14:50] lincolnthree commented on #356
Possibly related to: https://github.com/rintoj/ngx-virtual-scroller/issues/351

[2019-08-17 15:14] lincolnthree commented on #356
Update. I do see this on Chrome and Firefox but less frequently.

[2019-08-21 07:09] aloifolia opened #363 "Automatic cell sizes"
In react virtualized, there is a [CellMeasurer](https://github.com/bvaughn/react-virtualized/blob/master/docs/CellMeasurer.md) component which can be used to have dynamically calculated cell sizes. This is very convenient if you have elements whose dimensions change after the initial render (e.g. if you have an input field).

Have you thought about supporting this use case?

[2019-08-27 13:21] ranbuch commented on #359
@lincolnthree thank you for your response.
Unfortunately [this solution](https://staging.creators3d.com/offers) doesn't seems to work.

[2019-08-27 17:46] randym127 opened #364 "SPA with angular library and [parentScroll]="scroll.window""
`<virtual-scroller [items]="visibleSites" #scroll style="height: 100vh; overflow-x: hidden !important" [parentScroll]="scroll.window">
    <div class="container-fluid">
      <div site-selection class="row" #container>
        <dc-site-card *ngFor="let site of scroll.viewPortItems; trackBy: trackByFn" [site]="site" class="col-sm-12 col-md-6" [ngClass]="getColClass()"></dc-site-card>
      </div>

[2019-09-12 12:22] pfalcon64 opened #365 "How do I calculate index inside *ngFor now?"
Before switching to an infinite scroll, my ngfor used to look like:

*ngFor="let row of GridData; let index = index;"

I need index because some methods I want to call from the grid rows need to act on rows adjacent to the selected one - so i pass the index as a parameter in the click event. This is no longer possible with this component because index is relative to just the viewport items - not t

[2019-09-12 12:28] #365 closed, assigned to nobody

[2019-09-23 10:07] cube27rus opened #366 "Virtual scroll start on bottom"
Hi.
Are there any ways to scroll from bottom to top like a chat?
I had an idea - using scrollInto last element after data init, but I need track scroll event only if the user scroll manually.

[2019-09-23 13:37] arunkumarsubburaj commented on #336
I too have the same issue. I put cards in the tab container. It is rendering properly. but it auto loads the remaining items as well with scroll interaction. Please any one suggest a workaround for this.

[2019-09-23 18:36] SpeedoPasanen commented on #336
This works fine assuming your host component is taking up all the available viewport height (eg. flex): https://github.com/rintoj/ngx-virtual-scroller/issues/336#issuecomment-497924042

[2019-09-25 03:02] cube27rus commented on #366
Done using animationCompletedCallback

[2019-09-25 03:02] #366 closed

[2019-09-25 09:51] RobinBomkamp commented on #361
+ 1 Workaround does help :)

[2019-09-26 14:02] d3-vitalii-baziuk opened #367 "bufferAmount property produces incorrect translateY for .scrollbar-content"
Hi, thanks for the lib

Got the issue with bufferAmount. Adding that Input property rows in table are shifted to top instead bottom.

Take a look at screenshot please

![image](https://user-images.githubusercontent.com/49312836/65695006-6adf5380-e07f-11e9-9ef5-5894d56fae52.png)

[2019-09-29 12:14] Aeonrush commented on #322
Hi
I have a same issue. Link for Stackblitz (https://stackblitz.com/edit/angular-ngx-virtual-scroller-possible-bug). But I found workaround. I added:
[code]
And everything works as expected. Is this bug or I'm doing something wrong?
Best regards

[2019-10-04 05:41] sharbel93 commented on #366
where is it applied?

[2019-10-04 12:32] cube27rus commented on #366
Call scrollToPosition after view init and the last argument is animationCompletedCallback

[2019-10-11 16:09] cesco69 opened #392 "expandable list jump up/down when expand/collapse an item"
see this example https://stackblitz.com/edit/angular-chfjyn-ndmj54

in this example only one item at time can be expanded. When expand an item, the old expanded item is closed.

If the old expanded element is over the new expanded item, the virtual scroll jump up/down randomly.

![virtualscroll](https://user-images.githubusercontent.com/6096678/66667000-47f19980-ec52-11e9-8193-a5c8ae6d1d8e.gif)

[2019-10-21 03:44] vinh1911 commented on #97
Hi @ataraciuk, can you teach me how to use this fake component ? Thank you.

[2019-10-21 12:18] Diogen84 opened #393 "Wrong vsChange, vsStart e t c behavior."
When we reach bottom of the list we recieve wrong start index on the events for the elements which are at the top of the screen. The event does not fires when we reach the last element on the top before we reach bottom of the list.

[2019-10-21 12:41] Diogen84 commented on #393
Moreover instantly scrolling down it shows for example index = 16 then index = 15 and then index = 17.

[2019-10-22 10:06] Ashish121 opened #394 "Fire event on scroll stop"
I want to call a function when user stops scrolling at any point of time.Kindly help me to find out the solution for this.

[2019-10-22 10:27] Diogen84 commented on #393
Seems it is because of buffer changing at the end of the list.

[2019-10-25 20:24] ataraciuk commented on #97
Not much else to do. Add the `FakeVirtualScrollerComponent` in your TestBed Module configuration via `declations: [FakeVirtualScrollerComponent,...]`

This is only so the content you are putting inside the virtual scroller shows as if the scroller wasn't there. I'm not testing scroller behavior, it's just a workaround to test what is inside.

[2019-10-27 15:24] MBcom commented on #68
@rintoj @speige i implemented a version using tranform translate X/Y for this issue. They are not limited and working even for millions of records. See #395

[2019-10-29 07:01] #311 closed

[2019-10-30 12:54] elementalPRESS opened #396 "Virtual Table breaks when using sticky columns"
I'm trying to make some columns sticky:
	`
	.headcol {
		position: sticky;
		position: -webkit-sticky;
		background-color: #ddd;
	}
	`
The columns become sticky but when scrolling now the cells are moving **over the header**. I tried to set some `z-index` for the `th` and `td` elements but it is being ignored. Does anybody has a solution please.

Thx!

[2019-10-31 19:17] Novakinify opened #397 "Does not paint anything while scrolling fast until I stop."
Its either the scroll speed or I don't know, on windows locally works good and prod also, when trying on chrome on mac this thing happens. Tried to play with the throttling and debounce but with no result. Any suggestions?

[2019-11-01 09:10] devangpatel918 commented on #396
I have same issue. can anyone help us?

[2019-11-03 11:02] u3gt6o8 opened #398 "Virtual Scroll not reaching the end"
Hi,

When using css style overscroll-behavior: none (or contain) virtual scroll on mobile chrome does not reach the end of the last item.
Any help would be much appreciated.

[2019-11-05 05:57] PocoMin commented on #397
I have the same issue in Android

[2019-11-05 21:59] Novakinify commented on #397
I just tested it out, it gives almost same result on the demos for this virtual scroll so its not likely that is because of my component or anything related with what I do.

[2019-11-06 16:37] Khokhlachov opened #399 "Max items count in viewport depend on item height"
First of all thanks for making this library it is great.

If use big list with >= than 10 000 000 items and set one item height more than 30px control stop working correctly
Ex:
-10 000 000 items 40px per item last rendered item is #838860
-10 000 000 items 60px per item last rendered item is #559240

[example playground](https://stackblitz.com/edit/infinity-virtual-scroll-max-items-count)

[2019-11-08 20:19] furlongce opened #400 "DOM elements are not reused"
I noticed in the readme, that there a few contradictory statements:

"This module displays a small subset of records just enough to fill the viewport and uses the same DOM elements as the user scrolls."

"virtual-scroller essentially uses *ngIf to remove items that are scrolled out of view. This is what gives the performance benefits compared to keeping all the off-screen items in the DOM."

Based

[2019-11-10 15:14] JoMas971 commented on #400
I have the same issue.
Even if i optimise all my components to use `changeDetection: ChangeDetectionStrategy.OnPush`, i'm creating many cell element that have their own listeners/calculations, it pretty basic stuff and i've did my best to optimise everything, but if i scroll really fast i can see some flickering effect and my cells are blinking.
I would love to see the previous elements to be reus

[2019-11-10 18:27] furlongce commented on #400
Yeah, I did the same thing - even detached change detection entirely and managed it myself. I cannot match the performance of od-virtualscroll, which is a shame since this library provides a lot of benefits (in regard to resizing mostly) that the other library does not. Plus od-virtualscroll is hardly maintained anymore.

[2019-11-20 10:54] afiqwazien opened #401 "Dev tools opened in firefox fix the flickering/vibration issue of the table header"
Firefox issue, from the samples you have created, **with HTML Table**, there is a flickering/vibration issue when you scroll up and down, and its quite obvious to the user.

Just want to check how is that possible from your sample, with HTML Table, the issue is no longer there when the dev tools is opened. Not sure if its the console.log thing, or some scripts will only triggered when dev tools is

[2019-11-26 11:37] whyboris opened #402 "vsUpdate triggered too often"
Documentation for `vsUpdate` states:

It seems to be triggered for every pixel change in the scroll position instead.

The issues is _not_ present for the `vsStart`, `vsEnd`, or `vsChange` events for example

[2019-11-26 21:22] tdecker91 commented on #355
@insomnia1337 I believe this is a problem with virtualizing the expansion panels inside a `<mat-accordion>` It seems to keep track of what panel is open by index, so when the indexes change around it gets messed up. You can resolve this by binding to the `[expanded]` property.

See https://github.com/rintoj/ngx-virtual-scroller#if-child-view-state-is-reverted-after-scrolling-away--back

[2019-11-27 17:12] tdecker91 commented on #352
@luqmaants I'm seeing something similar. Here is what i'm seeing.

On a list that I have virtual scrolled I scroll down a little bit so that the start index is no longer 0. If I then quickly scroll back up and then try to scroll back down the scroll behavior is now stuck. The list will not scroll up or down until I pause for a second and/or move the mouse then continue scrolling. I can also reprod

[2019-12-10 06:30] tharuka95 commented on #266
Hi,
@speige I also got the same issue which checkboxes losing state and unchecked again when scrolling again to the top. Is there any solutions after new fixes in the library.
Thanks!

[2019-12-11 13:36] rogala000 opened #406 "Header moving around while scrolling"
When scrolling up and down on table with header, it moves around for the duration of scrolling.
I tried "useMarginInsteadOfTranslate" but it didn't work.
I've noticed this bug only on mobile. "transform: translateY" on thead seems to have a delay and can't keep up with changes, so it moves weirdly and after scrolling is finished goes to a proper position. Setting checkResizeInterval to 0 or 1 also

[2019-12-16 22:07] lilfelix commented on #361
I'm experiencing this issue as well. Although in my case setting `[bufferAmount]="1"` doesn't help

[2019-12-18 08:24] btaluy commented on #322
Any new tips on this, how we can make it work?

[2019-12-19 09:58] nagdevbharat commented on #351
@lincolnthree , the issue still persists. Have you found any solution for this?

[2019-12-19 14:10] lincolnthree commented on #351
Negative. No ideas here. I'm not very practiced with animations/etc. I try to avoid that level of UI unless absolutely necessary. I tried replacing with ion-virtual-scroll, but that component has even more issues. Just suffering through the jitter at the moment.

[2019-12-19 14:26] xpagliosa opened #407 "Unable to select text inside virtual scroller"
I have a chat window with the virtual scroller inside. I cannot select any text within the virtual scroller. How can I solve this?

[2020-01-03 12:07] NoamBuzaglo opened #409 "Live debugging not working"
Hey everyone,
I'm trying to solve some issue in this repo but I can't see the changes, I tried to run this command but it still didn't help.

The command:
"npm run build:all && cd demo && npm run start"

Thanks.

[2020-01-04 00:46] NoamBuzaglo commented on #409
Hey,
I found a similar issue that helped me.
Thanks.
#126

[2020-01-04 00:46] #409 closed

[2020-01-04 17:42] NoamBuzaglo commented on #298
#410

[2020-01-07 05:35] shubh48 opened #411 "App freezes"
Angular App freezes if left unused for about an hour this is because of ngx-virtual scroll.
If disables it works fine.

[2020-01-14 07:49] IfreannMedia commented on #351
@lincolnthree  @nagdevbharat I had the same issue, at least the scrolling weas jittery for me at the very end of the scrolling on iphone device, at the last item in the array that is. My array was loaded in front end and not chunked from the b ackend.

 Here is the solution I have implemented:

Use a variable to store the value for scrollDebounceTime

Use vsChange to emit an event containing an iP

[2020-01-15 11:46] ambu50 commented on #351
I was having the same issue, solved it by installing WKWebView.
ionic cordova plugin add cordova-plugin-ionic-webview --save

[2020-01-16 05:53] nagdevbharat commented on #351
@ambu50 , I have webview installed: `ionic-native/ionic-webview: ^5.6.1` and the issue still persists

[2020-01-17 15:49] IfreannMedia commented on #351
@nagdevbharat
@lincolnthree
I Just implemented a solution for my use case, here's what it looks like:

`    <virtual-scroller #scroll [items]="arrayOfItems""
                      [executeRefreshOutsideAngularZone]="executeRefreshOutsideAngular"
                      (vsStart)="vsStartUpdate($event)">
      <div > CONTENT</div>
    </virtual-scroller>`

And in the typescript file:

`public execute

[2020-01-21 10:22] PriimeTime commented on #200
Unfortunately none of the solutions you posted work as of 21st Jan 2020

[2020-01-27 13:38] nagdevbharat commented on #351
Hi @IfreannMedia ,
Sorry for the late reply.
I tried the code and it doesn't seem to be working in my project.
Can you please provide more details on what happens when change detection is called?
Thanks

[2020-02-14 11:05] Diogen84 opened #412 "Other scroll-handling directives stopped to work with angular 9"
[code]

In angular 7 it is working perfect. Nevertheless, after migration to angular 9 the window-scroll related directives stopped to get the scroll event detection. When the virtual-scroll tag is not present in the code they are working fine. Seems it is a kind of conflict on the ViewChild of the #scroll

[2020-02-16 23:22] Scottd125 opened #413 "Virtual scroller choppy when used with ion-toast"
Hello, I am facing an issue whereas the virtual scroller becomes really choppy when the user is scrolling while a toast message is being displayed on the screen. (ion-toast: https://ionicframework.com/docs/api/toast) I understand that ionic and this virtual scroller are two separate things and this situation is quite a bit of an edge case but any help in figuring out what could be causing this wou

[2020-02-17 08:41] Scottd125 commented on #413
It seems that there is an issue with ion-toast which causes the choppy-ness when scrolling and not related to this virtual scroller. I have tried using it without this virtual scroller and run into the same issue

[2020-02-17 08:41] #413 closed

[2020-02-19 13:38] spitefulgod commented on #398
Not too sure if this was the same issue I had, but changing max-height: 100vh; to 0px; seems to fix the issue where the size of the "virtual area" is bigger than the size of the data.  This is more apparent when the viewport is offset from 0

    .scrollable-content {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100vw;
      max-height: 0px;
      position:

[2020-02-22 11:38] jordimarimon commented on #406
I have also been experiencing this on Firefox but not in Chrome.

I did this to solve the problem temporally:

`
<div class="table-container">
  <div class="header">
    <span *ngFor="let column of columnNames"> {{ column }} </span>
  </div>
  <virtual-scroller
    #scroll
    class="w-100 h-100"
    [items]="data"
    [bufferAmount]="150"
    executeRefreshOutsideAngularZone="true"

    <table cl

[2020-02-22 11:43] jordimarimon commented on #401
I also experienced this and what I did to solve it was to create the header outside of the "table" HTML element. That solved the problem, I hope it helps you!

[2020-02-26 21:46] #298 closed

[2020-02-26 22:28] whyboris opened #416 "v4.0.1 runtime error "tween.js""
[code]
The previous version worked fine with _Angular 9_ ...
I deleted _node_modules_ and re-installed in my project, but the error still persists 😕

I manually tried adding the types with `npm install --save-dev @types/tween.js` into [my project](https://github.com/whyboris/Video-Hub-App)

Now the error is:
[code]

[2020-02-27 08:05] cesco69 commented on #416
for me raise this error

[code]

[2020-02-27 08:07] cesco69 opened #417 "v4.0.1 ERROR "Maximum call stack size exceeded runtime error" for "tween.js""
[code]

[2020-02-27 08:51] wartab commented on #416
Got the same error.

[2020-02-27 09:44] speige commented on #416
Should be fixed in version 4.0.2
Please re-open if you're still having issues.

Sorry about that :(

[2020-02-27 09:44] #416 closed

[2020-02-27 09:44] speige commented on #417
Should be fixed in version 4.0.2
Please re-open if you're still having issues.

Sorry about that :(

[2020-02-27 09:44] #417 closed

[2020-02-27 09:45] speige commented on #411
Please create a stackblitz reproducing the problem. Or, show how it can be reproduced using https://rintoj.github.io/ngx-virtual-scroller/samples

I can't troubleshoot without a way to reproduce it.

Please re-open when you have reproduction instructions.

[2020-02-27 09:46] #411 closed

[2020-02-27 09:46] speige commented on #407
It works fine on https://rintoj.github.io/ngx-virtual-scroller/samples
That means it's probably an issue with your code, not ngx-virtual-scroller.

Closing. If you're able to prove that it's ngx-virtual-scroller, please re-open.

[2020-02-27 09:46] #407 closed

[2020-02-27 09:50] speige commented on #402
You're right, I think the documentation for vsChange & vsUpdate is backwards. Because vsChange states that it will run any time the scroll position changes.

Regardless, I'm not sure that it's necessary to call vsUpdate on every scroll position change. We should probably read through the history to see why we added that & see if it's really necessary.

[2020-02-27 09:51] speige commented on #401
Unfortunately the HTML Table with header code isn't perfect. It's a known issue. If you're able to come up with a fix, please submit a PR.

[2020-02-27 09:58] speige commented on #400
Have you tried using trackBy as mentioned in the readme? I think that's the easiest way to allow re-use of DOM elements with Angular. If that doesn't work, feel free to submit a PR with any improvements you have.

[2020-02-27 09:59] speige commented on #394
Sorry. We can only help resolve issues, not answer questions. Try StackOverflow.

[2020-02-27 09:59] #394 closed

[2020-02-27 10:02] speige commented on #357
Throttle & Debounce are common programming terms. Research them on Google.

[2020-02-27 10:02] #357 closed

[2020-02-27 10:04] #301 closed

[2020-02-27 10:05] #308 closed

[2020-02-27 10:06] #330 closed

[2020-02-27 10:06] #332 closed

[2020-02-27 10:07] #345 closed

[2020-02-27 10:07] #347 closed

[2020-02-27 10:09] #353 closed

[2020-02-27 19:30] whyboris commented on #416
Confirming issue is no longer present in `4.0.2` 🎉 -- my app compiles and runs 😁
https://www.npmjs.com/package/ngx-virtual-scroller
Thank you for the great (and quick 🏅) work 🙇

[2020-02-28 02:15] maxruby opened #418 "Scrolling up triggers jumpy/seemingly rendering in viewport"
### Problem

We have an Angular application (both v8 and v9.1.0) in our company in which we want to achieve the following:
- virtual scroll over a list of items (_only render the items within the visible viewport_)
- when reaching a percentage of the viewport (> 70%), retrieve more items from our API
- when scrolling up, do not trigger any events or re-render

What we experience in our implementat

[2020-03-02 08:59] dudipsh commented on #366
@bond-igor
Whats the best way, if possible to implement a virtual scroll that populates from the bottom, and when scrolling up brings another item in (like pagination)

![Image description](https://a.slack-edge.com/4bc9d/img/api/articles/blueprints/approval_workflows_animated.gif)

[2020-03-02 14:00] lincolnthree commented on #400
@speige trackBy works for changing the back-end data, but I believe what these folks are talking about (something I noticed as well) is that while you are scrolling the list, new DOM elements are created as elements scroll onto the screen. DOM elements must also be garbage collected (generally automatically of course) as they scroll out of the virtual-scroller viewpor / buffer.

This causes overhe

[2020-03-02 14:03] lincolnthree commented on #400
This diagram explains the desired functionality:

![image](https://user-images.githubusercontent.com/362329/75683135-95ec5580-5c64-11ea-95c9-53fd895f88fb.png)

From this article:  https://www.joshmorony.com/boosting-scroll-performance-in-ionic-2/ which provides another explanation of the efficiency of DOM element recycling in this use-case.

[2020-03-03 04:07] Kushansameera opened #419 "User has to double touch item on iOS"
I have integrated the ngx-virtual-scroller into my web application and it works fine for most of the devices. But when it comes to the iPhone with iOS versions 12 and 13 this issue is occurring. In the first touch, the item on the scroller only getting focus and the user has to touch again to view the details. But for the other devices (PC, Android phone, iPhone with iOS less than 12) this works f

[2020-03-03 22:33] whyboris opened #420 "scrollToPosition can not handle 0ms"
The method as it's written can not handle `0` as the number of milliseconds:

https://github.com/rintoj/ngx-virtual-scroller/blob/d4732774283a9f736fbdef13e5cb46adf1050208/src/virtual-scroller.ts#L537

https://github.com/rintoj/ngx-virtual-scroller/blob/d4732774283a9f736fbdef13e5cb46adf1050208/src/virtual-scroller.ts#L548

When using the method `scrollToPosition(1000, 0)` the method uses the defaul

[2020-03-04 22:24] whyboris commented on #420
🤔 I'm unsure what's happening any more 😕
Yesterday I was getting the behavior that if I set the second argument to `0` the scroller would animate the scrolling, but today I can't seem to replicate the problem.

So it seems that the `if(!animationMilliseconds)` is defined specifically to catch the scenario `if(animationMilliseconds === 0)` 🤷‍♂

I'll look some more 😅

[2020-03-06 19:08] speige commented on #420
Sounds like it's working as intended, since you're no longer able to reproduce. Also, looking at the code it seems correct to me. Please re-open if you're able to reproduce the issue again.

[2020-03-06 19:08] #420 closed

[2020-03-12 15:47] whyboris commented on #412
I'm unsure if it's helpful, but I upgraded to _Angular 9_ in the app and updated _ngx-virtual-scroller_ to the latest version and got it all to work in my app, no hiccup 🤷‍♂

https://github.com/whyboris/Video-Hub-App/blob/master/src/app/components/home.component.html#L1014

[code]

[2020-03-13 12:35] rahul4850 commented on #290
Yes, We have to add height 100% on HTML tag to make it work.

[2020-03-16 05:09] speige commented on #68
This should be fixed by https://github.com/rintoj/ngx-virtual-scroller/pull/395 which has been merged & published to npm as version 4.0.3

Closing. Please re-open if it's not resolved.

[2020-03-16 05:09] #68 closed

[2020-03-16 06:14] elementalPRESS opened #424 "Update to 4.0.3 doesn't work"
No tables will be shown anymore after updating from 4.0.2 -> 4.0.3. So I guess that something went wrong in the update... When rolling back to 4.0.2 everything is working fine again.

[2020-03-16 06:23] speige commented on #424
Can you give some more info or create a stackblitz?
The demo still seems to be working here: https://rintoj.github.io/ngx-virtual-scroller/samples

[2020-03-16 07:44] viralchauhan opened #425 "Keyboard Up/Down Key Navigation not work"
HI,
Virtual scroll bar keyboard UP / Down Key navigation (scroll up and down ) using keyboard up down key not work

[2020-03-16 17:00] elementalPRESS commented on #424
A stackblitz would be a bit to difficult but the code-fragments are looking like this:

			<perfect-scrollbar #pScrollbar>
				<virtual-scroller #scroll
							[items]="filteredSkaterlist"
							[enableUnequalChildrenSizes]="false"
							[useMarginInsteadOfTranslate]="true"
							[parentScroll]="pScrollbar.directiveRef.elementRef.nativeElement"

							class="full-scroller-height"

					<table

[2020-03-16 17:40] speige commented on #424
I wonder if it has something to do with perfect-scrollbar or useMarginInsteadOfTranslate. The demos don't use either of those features.

The main change with 4.0.3. is using scaleX/scaleY instead of width/height for the invisible padding inside the scrollbar. The invisible padding is necessary to stretch the scrollbar to the full length of all items even though only a few of them are rendered. Swi

[2020-03-16 17:42] speige commented on #425
This is a known issue that we don't have a resolution to. If you'd like to submit a PR to fix it, I'll happily merge it. Thanks!

[2020-03-16 20:12] elementalPRESS commented on #424
I will try your suggestion tomorrow and let you know. Thx for your help!

[2020-03-16 23:07] proprabhjot commented on #253
In new version of 4.0.3 issue is till there.

[2020-03-16 23:25] proprabhjot opened #426 "An accessor cannot be declared in an ambient context."
After installation when added VirtualScrollerModule and define html
<virtual-scroller #scroll [parentScroll]="scroll.window" [items]="products">
    <div *ngFor="let product of scroll.viewPortItems">
      <div>{{product.name}}</div>
   </div>
</virtual-scroller>

ERROR in node_modules/ngx-virtual-scroller/virtual-scroller.d.ts:59:9 - error TS1086: An accessor cannot be declared in an ambient cont

[2020-03-17 03:19] AlonsoK28 commented on #426
Same here

[2020-03-17 13:42] shockingResident commented on #426
Down grade your version . I downgraded my version to 3.0.3. You can check release section for that purpose.
Another solution is to update your angular version. New update of package also include changes for angular 9 (Considering ground break changes in framework).

[2020-03-17 16:27] elementalPRESS commented on #424
I tried your suggestion but it failed. After that I played a bit arround and could find a "fix". When setting "position:inherit !important" it works and shows me the table again.

	.scrollable-content {
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    max-width: 100vw;
	    max-height: 100vh;
	    /* position: absolute; */
	}

It would be great to have a permanent fix :-) Thx a

[2020-03-17 16:48] proprabhjot commented on #426
After downgrading to 3.0.3.
resolve the issue.

[2020-03-18 19:44] proprabhjot opened #427 "Virtual Scroller SSR not working"
Implemented this scroller at client side work perfectly fine and follow the steps as mention for angular universal but when project is build ( npm run build:ssr ) and run ( npm run serve:ssr ) output is :-

view source
[code]

html snippet
[code]

[2020-03-20 12:10] JulianBerger commented on #424
I have the same issue with my flex scrolling container that should grow with the content.
But since you have set position: absolute; to the scrollable-content the content will be set out of the document flow and the virtual scroller height will be 0. (as shown in the screenshots)
Setting the position of .scrollable-content to position: relative; fixes the issue and should be the default setting.

[2020-03-22 02:32] speige commented on #424
@elementalPRESS @JulianBerger It sounds like you may have a proposed solution to the problem. Would you mind submitting a pull request? Thanks!

[2020-03-23 13:32] Sirz3chs opened #428 "vsEnd does not return the expected endIndex"
First of all thanks for the job you've made here, it's a great library.

I've got an issue using the virtual-scroller with elements of unequal sizes while loading my data in chunks. It seems to be similar to #393 but i'm not sure. Some of my elements are lot bigger than the others and when i'm reaching the end of the scroll i have a difference between the number of elements displayed and the endIn

[2020-03-24 20:00] speige commented on #428
Thanks for reporting this. Would you mind trying to fix it & submitting a pull request? Thanks

[2020-03-24 20:01] #426 closed

[2020-03-24 20:10] speige commented on #418
You'll notice the following comment at the beginning of the refresh_internal function
[code]

Essentially, this component is used for many scenarios by many people, so there are situations where only calling refresh_internal 1x will cause inaccurate rendering. The main situation is when child items aren't all the same size. I guess it's a tradeoff between preformance/flickering & accurate renderin